[2015-04-07 22:52] karato opened #207 "MkFriends.java:45-47: This class is not implemented..."
Puzzle `103-92c2e0c7` in `src/main/java/com/nerodesk/om/mock/MkFriends.java:45-47` has to be resolved: This class is not implemented and doesn't work. Let's implement it and test in a unit test. Let's use some primitive mechanism, based on file names.... The puzzle was created by Yegor Bugayenko on 25-Mar-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-04-07 23:04] karato commented on #138
@krzyk this is your task

[2015-04-07 23:04] karato commented on #176
@carlosmiranda this is your task

[2015-04-08 00:59] karato opened #208 "pom.xml:384-386: Branch coverage is intentionally lowered..."
Puzzle `103-8a2bada8` in `pom.xml:384-386` has to be resolved: Branch coverage is intentionally lowered here, in order to get version 0.3 out of the door. Let's raise it back to 75.... The puzzle was created by Yegor Bugayenko on 26-Mar-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-04-08 01:07] karato commented on #177
@carlosmiranda do this task

[2015-04-08 06:39] ggajos commented on #168
@karato #178 merged, please close if that's all here, thanks

[2015-04-08 07:32] yegor256 commented on #195
@rultor release, tag is `0.3.6`

[2015-04-08 07:33] rultor commented on #195
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3221-90830568)

[2015-04-08 07:48] rultor commented on #195
Release `0.3.6` already exists! I can't duplicate it, but I posted a comment there. In the future, try to avoid duplicate releases

[2015-04-08 07:48] rultor commented on #195
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3221-90830568) (took me 14min)

[2015-04-08 07:56] yegor256 commented on #195
@rultor release, tag is `0.3.7`

[2015-04-08 07:56] rultor commented on #195
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3221-90835258)

[2015-04-08 08:06] rultor commented on #195
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3221-90835258) (spent 10min)

[code]

[2015-04-08 08:11] yegor256 commented on #195
@rultor release, tag is `0.3.7`

[2015-04-08 08:12] rultor commented on #195
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3221-90838144)

[2015-04-08 08:14] yegor256 commented on #195
@rultor stop

[2015-04-08 08:15] rultor commented on #195
@yegor256 OK, I'll try to stop current task.

[2015-04-08 08:16] rultor commented on #195
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3221-90838458) (spent 4min)

[code]

[2015-04-08 08:22] yegor256 commented on #195
@rultor release, tag is `0.3.8`

[2015-04-08 08:24] rultor commented on #195
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3221-90839692)

[2015-04-08 08:35] rultor commented on #195
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3221-90839692) (spent 11min)

[code]

[2015-04-08 17:03] longtimeago commented on #172
@karato please assign someone else

[2015-04-08 17:21] yegor256 commented on #195
@rultor release, tag is `0.3.9`

[2015-04-08 17:36] rultor commented on #195
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3221-90979733)

[2015-04-08 17:50] rultor commented on #195
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3221-90979733) (took me 14min)

[2015-04-08 17:54] yegor256 commented on #195
@k0r take a look

[2015-04-08 17:54] #195 closed

[2015-04-08 17:54] ghost commented on #195
@yegor256 you're the man, thanks.

[2015-04-08 18:18] karato commented on #172
@longtimeago no problem, I will try to find somebody else

[2015-04-08 18:20] karato opened #209 "layout.xsl:101-101: This value is hardcoded for..."
Puzzle `102-3d5e0e72` in `src/main/xsl/layout.xsl:101-101` has to be resolved: This value is hardcoded for now but should be connected to Docs.size() value and present total amount of bytes in user friendly form stored in account. -->... The puzzle was created by Grzegorz Gajos on 26-Mar-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-04-08 19:14] k0r commented on #209
also see [#148](https://github.com/teamed/nerodesk/issues/148)

[2015-04-08 20:07] karato opened #210 "AwsDoc.java:52-55: Methods size, type and created..."
Puzzle `101-c6cd25f6` in `src/main/java/com/nerodesk/om/aws/AwsDoc.java:52-55` has to be resolved: Methods size, type and created have to replaced with correct implementation. Size should give number of bytes of the document, type should be MIME type of the document, created should be a timestamp when the document was created.... The puzzle was created by krzyk on 1-Apr-2015.

If you have any tech

[2015-04-08 20:25] karato commented on #152
@pinaf Thanks for your contribution, **38 mins** was added to your account, payment ID is `AP-8U024243L89538003`, 185 hours and 33 mins spent total. there is a bonus for fast delivery (age=2922). +38 added to your rating, at the moment it is: [+6216](http://www.netbout.com/b/35128?open=rating)

[2015-04-08 21:32] asaen commented on #129
@karato please assign someone else

[2015-04-08 21:42] karato opened #211 "docs.xsl:63-66: Creation date of document should..."
Puzzle `101-20ebe58a` in `src/main/xsl/docs.xsl:63-66` has to be resolved: Creation date of document should be displayed using ISO_8601 combined date time and timezone (e.g. 2007-04-05T12:30-02:00). Right now it is just a unix timestamp.... The puzzle was created by krzyk on 1-Apr-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-04-08 21:45] karato commented on #173
once `173-3f44d78e` puzzle is resolved (later, in another ticket), this ticket will be fully complete

[2015-04-08 21:58] karato commented on #172
@krzyk this is your task

[2015-04-08 22:12] k0r commented on #192
@yegor256 let's prioritize this ticket.

[2015-04-08 22:12] k0r commented on #193
@yegor256 let's prioritize this ticket.

[2015-04-08 22:18] ghost opened #212 "user can't create shareable url"
Current version of README doesn't say anything about creating shortened URLs for sharing files publicly with social media. This is a bug, since this feature is important and will improve usability of the system. Let's modify the README and document this feature. Then, let's implement it and test.

Also see discussion [#191](https://github.com/teamed/nerodesk/issues/191)

[2015-04-08 22:20] ghost opened #213 "admins can't conduct system ops"
Current version of README doesn't say anything about creating an administrative panel for internal system operations. This is a bug, since this feature is important and will improve usability of the system. Let's modify the README and document this feature. Then, let's implement it and test.

[2015-04-08 22:23] ghost opened #214 "user can't share files publicly"
Current version of README doesn't say anything about sharing files publicly. This is a bug, since this feature is important and will improve usability of the system. Let's modify the README and document this feature. Then, let's implement it and test.

Also see discussions [#191](https://github.com/teamed/nerodesk/issues/191) and [#212](https://github.com/teamed/nerodesk/issues/212)

[2015-04-08 22:25] k0r commented on #213
@yegor256 reformat ticket information if required.

[2015-04-08 22:27] yegor256 commented on #213
@karato that's definitely a bug, let's dispatch

[2015-04-08 22:28] yegor256 commented on #193
@karato that's a bug, let's fix

[2015-04-08 22:28] yegor256 commented on #192
@karato that's a bug, let's fix

[2015-04-08 22:57] k0r commented on #174
@yegor256 let's implement a language selection menu.

[2015-04-08 22:57] ghost commented on #55
@yegor256 let's implement a language selection menu.

[2015-04-08 23:09] karato commented on #129
@darkled someone else will help in this task, no problem at all

[2015-04-08 23:11] karato opened #215 "TkAppTest.java:76-79: Test readsFileWithSpecialCharactersInName and deletesFileWithSpecialCharactersInName are..."
Puzzle `160-88061572` in `src/test/java/com/nerodesk/takes/TkAppTest.java:76-79` has to be resolved: Test readsFileWithSpecialCharactersInName and deletesFileWithSpecialCharactersInName are disabled because of a bug in takes 0.11.2, when yegor256/takes#126 is resolved and a new takes with this fix is released add it to the pom.xml and uncomment those tests.... The puzzle was created by krzyk on 4-

[2015-04-08 23:31] #206 closed

[2015-04-08 23:31] karato commented on #206
It is closed now

[2015-04-08 23:34] karato commented on #208
@longtimeago this is your task

[2015-04-08 23:34] karato commented on #215
@krzyk this is your task

[2015-04-08 23:47] ghost opened #216 "login page update"
Let's update the login page with social media icons instead of a login link, and let's update the non-logo font to [Play](https://www.google.com/fonts/specimen/Play).

Example:
![login update](http://www.nerodesk.com/nd_login_update_4.jpg)

[2015-04-08 23:55] k0r opened #217 "panel page update"
Let's update the non-logo font to [Play](https://www.google.com/fonts/specimen/Play) on the file storage and user panel.

Also see discussion [#216](https://github.com/teamed/nerodesk/issues/216)

[2015-04-09 00:08] ghost commented on #216
@yegor256 updated.

[2015-04-09 00:39] ghost commented on #216
@yegor256 let's prioritize this ticket.

[2015-04-09 01:19] yegor256 commented on #216
@karato it's a valid bug, please dispatch it

[2015-04-09 01:20] karato commented on #213
@yegor256 thanks, I added the "bug" tag

[2015-04-09 01:20] karato commented on #193
@yegor256 got it, tag `bug` is here

[2015-04-09 01:20] karato commented on #192
@yegor256 right, I added the `bug` tag

[2015-04-09 01:20] karato opened #218 "0.4"
Please, publish a new release **0.4** (or higher). Don't forget to update us here regularly (at least once a week), as explained in [this article](http://www.yegor256.com/2015/05/11/software-architect-responsibilities.html).

[2015-04-09 02:06] karato opened #219 "MkFriends.java:47-48: This class does not have..."
Puzzle `173-3f44d78e` in `src/main/java/com/nerodesk/om/mock/MkFriends.java:47-48` has to be resolved: This class does not have any tests implemented yet. Let's implement tests for all existent methods (leader, names, add, eject).... The puzzle was created by Felipe Pina on 5-Apr-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-04-09 02:22] karato commented on #219
@longtimeago this is your task

[2015-04-09 03:23] karato commented on #216
@yegor256 thanks, I added the "bug" tag

[2015-04-09 03:51] yegor256 commented on #193
These properties are available in Maven from `settings.xml` during release: `${google.id}`, `${google.secret}`

[2015-04-09 03:52] yegor256 commented on #190
These properties are available in Maven from `settings.xml` during release: `${github.id}`, `${github.secret}`

[2015-04-09 03:52] yegor256 commented on #217
@k0r looks like a duplicate of #216, isn't it?

[2015-04-09 03:54] k0r commented on #217
@yegor256 the other ticket is about the login page, whereas this ticket is once you're logged in and view your files.

[2015-04-09 04:10] pinaf commented on #190
@yegor256 what's the idea of those properties?

[2015-04-09 04:20] yegor256 commented on #192
These properties are available in Maven from `settings.xml` during release: `${twitter.key}`, `${twitter.secret}`

[2015-04-09 04:58] yegor256 commented on #190
@pinaf see how `${fb.id}` is used in `MANIFEST.MF`

[2015-04-09 05:00] yegor256 commented on #217
@k0r but we'll update the font only once and for the entire website. no need to do it twice

[2015-04-09 05:12] k0r commented on #217
@yegor256 thought I'd have to make separate tickets for the request.

[2015-04-09 05:12] k0r commented on #217
@yegor256 close?

[2015-04-09 05:20] yegor256 commented on #217
@k0r I would suggest to close it, yes

[2015-04-09 05:25] #217 closed

[2015-04-09 06:37] ggajos commented on #150
@k0r #167 merged, please close if that's all here, thanks

[2015-04-09 09:20] ghost commented on #150
@ggajos thanks.

[2015-04-09 10:37] ghost commented on #216
updated image.

[2015-04-09 14:36] ggajos commented on #180
@karato merged, please close if that's all here, thanks

[2015-04-09 15:01] pinaf commented on #134
@karato please assign someone else

[2015-04-09 15:02] ggajos commented on #179
@yegor256 your workaround skips assertion and test is no longer complaining; it looks like it's platform dependent, is there something more here?

[2015-04-09 17:58] karato commented on #212
this task will get someone's attention soon

[2015-04-09 17:58] karato commented on #214
I am aware of the task, give me some time to find a developer...

[2015-04-09 17:58] karato commented on #190
I will ask someone to take care of this task soon

[2015-04-09 18:00] karato commented on #134
@pinaf I will try to find someone else

[2015-04-09 18:13] karato commented on #190
@pinaf many thanks for the bug report, I added 15 mins to your acc, transaction `AP-0L258156UW4107800`

[2015-04-09 18:53] yegor256 commented on #179
@ggajos I don't know what is it. not an expert in this problem. the problem was that `Files.probeContentType(this.file().toPath())` returns `null` when type can't be detected (yeah, NULL is an evil, they are not aware of that). so, the only possible solution is to check for `null`:
https://github.com/teamed/nerodesk/blob/master/src/main/java/com/nerodesk/om/mock/MkDoc.java#L89-L92

[2015-04-09 19:43] karato commented on #195
@yegor256 thanks, paid, **45 mins** to your account, payment ID is `000-96f5d7cb`, task took 47 hours and 48 mins to complete

there is a bonus for fast delivery (age=1543)

added +45 to your rating, now it is equal to [+9184](http://www.netbout.com/b/35008?open=rating)

[2015-04-09 20:20] pinaf commented on #133
@k0r merged :)

[2015-04-09 20:38] ghost commented on #133
@pinaf thanks.

[2015-04-09 21:43] longtimeago commented on #219
@alex-palevsky please assign someone else

[2015-04-09 21:54] k0r commented on #100
@yegor256 let's reformat this ticket to account cancellation rather than deletion -- accounts shouldn't be removed from the system.

[2015-04-09 22:37] yegor256 commented on #100
@k0r we don't have such a thing in our system as "account". We just have files stored in S3, in directories named after users URNs. If we delete all files, the user gets deleted automatically. So, there is no user identity persistence in the system.

[2015-04-09 22:39] ghost commented on #100
@yegor256 should we implement user identity persistence? see discussion [#213](https://github.com/teamed/nerodesk/issues/213)

[2015-04-09 22:47] k0r commented on #100
@yegor256 updated response.

[2015-04-09 22:52] #207 closed

[2015-04-09 22:52] karato commented on #168
I am closing it, thanks all

[2015-04-09 22:52] #168 closed

[2015-04-09 22:52] karato commented on #170
Closed, done, thanks all

[2015-04-09 22:52] #170 closed

[2015-04-09 22:52] karato commented on #173
Thanks all, closed

[2015-04-09 22:52] #173 closed

[2015-04-09 22:52] karato commented on #207
I'm closing the issue...

[2015-04-09 23:00] karato commented on #129
@maurezen do this task

[2015-04-09 23:00] karato commented on #168
@ggajos thank you, added **38 mins** to your acc, payment num is `AP-8FG411965E3316647`, 172 hours and 7 mins spent in total to complete. age=2983, that's why a bonus here for fast delivery. +38 added to your rating, current score is: [+3447](http://www.netbout.com/b/35094?open=rating)

[2015-04-09 23:00] karato commented on #170
@carlosmiranda thanks, I just added **1 hour** to your account, payment `55098183`, 25 hours and 19 mins spent; age=96, that's why a bonus here for fast delivery; +60 added to your rating, at the moment it is: [+5318](http://www.netbout.com/b/35023?open=rating)

[2015-04-09 23:00] karato commented on #173
@pinaf done, I added **19 mins** in payment `AP-2E4299824L8162938`, 143 hours and 55 mins spent to complete this

age=2906, that's why a bonus here for fast delivery

+19 added to your rating, current score is: [+6298](http://www.netbout.com/b/35128?open=rating)

[2015-04-10 02:48] karato opened #220 "ThresholdInputStream.java:42-44: Increase test coverage for the..."
Puzzle `180-ca462c22` in `src/main/java/com/nerodesk/om/ThresholdInputStream.java:42-44` has to be resolved: Increase test coverage for the ThresholdInputStream class. Please remove this class form cobertura excludes if entire class is covered properly.... The puzzle was created by Grzegorz Gajos on 7-Apr-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-04-10 02:49] karato commented on #180
the code made here contains a puzzle `180-ca462c22`/#220, which will be resolved soon

[2015-04-10 02:51] karato commented on #133
there is a puzzle in this code `133-6981119b`, we'll resolve it later

[2015-04-10 02:51] karato commented on #150
there is a puzzle in this code `150-9049471a`, we'll resolve it later

[2015-04-10 03:02] pinaf commented on #133
@k0r please close if alright

[2015-04-10 04:12] karato opened #221 "TkDir.java:49-52: This is initial implementation and..."
Puzzle `150-9049471a` in `src/main/java/com/nerodesk/takes/doc/TkDir.java:49-52` has to be resolved: This is initial implementation and is not doing anything useful yet. We should implement ability to create directories here. Moreover there should be also way to edit them, remove and attach existing documents.... The puzzle was created by Grzegorz Gajos on 7-Apr-2015.

If you have any technical qu

[2015-04-10 05:11] #133 closed

[2015-04-10 06:31] ggajos commented on #179
@yegor256 ok, thanks

[2015-04-10 06:31] ggajos commented on #179
@karato we might need more time here

[2015-04-10 08:30] krzyk commented on #215
@karato PR #222

[2015-04-10 17:35] ggajos commented on #199
yes, also faced that issue

[2015-04-10 17:35] ggajos commented on #199
@karato it's a bug

[2015-04-10 17:44] ggajos commented on #179
This value is handled by each system natively.

more: http://www.howtogeek.com/192628/mime-types-explained-why-linux-and-mac-os-x-dont-need-file-extensions/

We shouldn't test JVM behaviour.

@yegor256 I think that your fix is solving test issue and we don't need to dig further.

Shall we close then?

[2015-04-10 19:00] karato commented on #179
@ggajos right, take your time and thanks for informing

[2015-04-10 19:01] karato commented on #199
@ggajos tag "bug" added

[2015-04-10 19:02] karato opened #223 "RsNotFound.java:46-48: Currently this response contains a..."
Puzzle `133-6981119b` in `src/main/java/com/nerodesk/takes/RsNotFound.java:46-48` has to be resolved: Currently this response contains a single sentence. It should have more information, look better, and also contain links (at least to the home page).... The puzzle was created by Felipe Pina on 7-Apr-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-04-10 19:07] yegor256 commented on #179
@ggajos I agree

[2015-04-10 19:07] #179 closed

[2015-04-10 19:19] karato commented on #89
#133 is closed, we were waiting for it.. maybe we can continue?

[2015-04-10 19:19] karato commented on #216
@carlosmiranda do this task

[2015-04-10 19:27] longtimeago commented on #89
@k0r please, try to upload big-file now. #133 is finished

[2015-04-10 19:36] ghost commented on #89
error persists with release tag 0.3.9.

[2015-04-10 21:22] longtimeago commented on #89
@pinaf please, release new version. We need #133 to be seen in prod

[2015-04-10 21:31] pinaf commented on #89
@longtimeago @yegor256 is the architect here

[2015-04-10 21:32] longtimeago commented on #89
@pinaf ooops

[2015-04-10 21:41] longtimeago commented on #219
@karato please assign someone else

[2015-04-10 22:03] ghost commented on #89
@yegor256 lets release tag 0.3.10.

[2015-04-10 22:08] yegor256 commented on #133
@rultor release, tag is `0.3.10`

[2015-04-10 22:08] yegor256 commented on #89
@longtimeago @k0r 0.3.10 will be released in #133, in a few mins

[2015-04-10 22:08] rultor commented on #133
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3306-91705395)

[2015-04-10 22:21] karato commented on #134
@caarlos0 do this task

[2015-04-10 22:25] karato commented on #199
@carlosmiranda thank you for reporting this, I added 15 mins to your acc, transaction `55124441`

[2015-04-10 22:27] rultor commented on #133
Release `0.3.10` already exists! I can't duplicate it, but I posted a comment there. In the future, try to avoid duplicate releases

[2015-04-10 22:27] rultor commented on #133
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3306-91705395) (took me 17min)

[2015-04-10 22:48] ghost commented on #150
after submitting a new directory to create, it redirects to a blank page on the path `/dir/create` with release tag 0.3.10.

[2015-04-10 23:11] ghost commented on #89
error persists with release tag 0.3.10.

[2015-04-10 23:30] caarlos0 commented on #179
Agree.

[2015-04-11 01:21] karato commented on #219
@longtimeago I will try to find someone else

[2015-04-11 02:00] k0r commented on #89
the project can't move forward until this error is fixed.

[2015-04-11 04:04] #180 closed

[2015-04-11 04:04] karato commented on #180
@karato Thanks all, I am closing

[2015-04-11 04:08] karato commented on #180
@ggajos Much appreciated! **38 mins** was added to your account, payment ID `AP-4P871594KS791351B`, time spent is 148 hours and 50 mins

there is a bonus for fast delivery (age=2927)

+38 to your rating, your total score is [+3523](http://www.netbout.com/b/35094?open=rating)

[2015-04-11 04:08] karato commented on #214
@longtimeago do this task

[2015-04-11 08:13] longtimeago commented on #89
@k0r could you please be more precise. What error?  The one mentioned in #133 ?

[2015-04-11 08:25] ghost commented on #89
@longtimeago [#89](https://github.com/teamed/nerodesk/issues/89)

[2015-04-11 08:31] longtimeago commented on #89
@k0r sorry, but I have no way to access the logs from beta server. Could you please provide some logs?

[2015-04-11 08:38] longtimeago opened #224 "XML Parsing Error: not well-formed"
I tried to upload a file on dev environment (mvn clean integration-test -Phit-refresh -Dport=8080)
and got html page with following content
[code]

Logs contain only one new line
[code]

[2015-04-11 08:41] ghost commented on #89
@longtimeago I only have access to the CNAME record.

[2015-04-11 08:47] longtimeago commented on #89
@k0r ok, so how I can see the error you've observed? I can't help without some more details.
The task is a bit overtimed

[2015-04-11 08:50] k0r commented on #89
@longtimeago everything is posted sufficiently in this ticket.

[2015-04-11 09:03] k0r commented on #89
@karato don't assign anymore tasks until this is fixed.

[2015-04-11 09:14] k0r commented on #89
@yegor256 fix this or send me the final bill.

[2015-04-11 09:46] longtimeago commented on #214
@karato  please assign someone else

[2015-04-11 09:46] longtimeago commented on #208
@karato  please assign someone else

[2015-04-11 17:48] karato commented on #208
@longtimeago right, I'll try to find someone else for this task

[2015-04-11 17:49] karato commented on #214
@longtimeago got it, someone else will be assigned soon

[2015-04-11 18:05] karato commented on #151
@pinaf 7 days already, in 48 hours I will re-assign. -30 added to your rating, current score is: [+6388](http://www.netbout.com/b/35128?open=rating)

[2015-04-11 18:40] krzyk commented on #198
@karato we're waiting for #151

[2015-04-11 23:20] k0r opened #225 "founder requests more information from management"

[2015-04-11 23:36] k0r commented on #225
I think it's clear what is taking place.

[2015-04-12 00:00] caarlos0 commented on #134
@karato please assign someone else

[2015-04-12 07:32] carlosmiranda commented on #216
@karato Assign someone else please, too busy at the moment

[2015-04-12 07:33] carlosmiranda commented on #176
@karato Waiting for #225.

[2015-04-12 07:33] carlosmiranda commented on #175
@karato Please assign someone else for the moment.

[2015-04-12 07:34] carlosmiranda commented on #177
@karato Waiting for #225.

[2015-04-12 07:51] k0r commented on #225
When I initially contacted this organization, I was really looking forward to starting and funding a project that would been (and still can be) the start of something big while working with a team of smart people. What I've received so far during the development phase is lack of communication and immense conflict of vision from the project manager. I've made several requests about matters that are

[2015-04-12 18:54] karato commented on #134
@caarlos0 someone else will help in this task, no problem at all

[2015-04-12 18:54] karato commented on #175
@carlosmiranda I will ask somebody else to pick this up

[2015-04-12 18:54] karato commented on #176
@carlosmiranda agreed, we'll wait for #225

[2015-04-12 18:54] karato commented on #177
@carlosmiranda OK, let's wait for #225

[2015-04-12 18:55] karato commented on #198
@krzyk sure, we'll wait for #151

[2015-04-12 18:55] karato commented on #216
@carlosmiranda I will try to find someone else

[2015-04-12 18:57] krzyk commented on #138
@longtimeago Right now when I start the application with `mvn -o  integration-test -Phit-refresh -Dport=8080` and access `http://localhost:8080` I don't see any exceptions on the command line

[2015-04-12 19:01] longtimeago commented on #138
@krzyk looks like it was fixed in some of `takes` releases. It's not reproducing anymore

[2015-04-12 19:01] #138 closed

[2015-04-12 21:45] k0r commented on #225
Not one person from this organization has yet to make an effort to quell the anxiety previously outlined in this ticket. It is perhaps within the best interest of the project to consider concluding the contract by invoking a clause of overwhelming dissatisfaction and perceived inability to move the project into the next stage.

[2015-04-12 21:56] pinaf commented on #151
@yegor256 @karato just took points away from me but this was merged 6 days ago..

[2015-04-12 22:01] pinaf commented on #151
@karato we need more time here

[2015-04-12 22:11] karato commented on #89
@longtimeago we're on pause in the project, please stop working with this, until further information

[2015-04-12 22:11] karato commented on #129
@maurezen we're on pause in the project, please stop working with this, until further information

[2015-04-12 22:11] karato commented on #130
@longtimeago the project is temporarily on pause, please stop working with this task, until further instructions

[2015-04-12 22:11] karato commented on #145
@longtimeago the project is currently on pause, please stop working with this task until further notice

[2015-04-12 22:11] karato commented on #150
@ggajos the project is currently on pause, please stop working with this task until further notice

[2015-04-12 22:11] karato commented on #151
@pinaf the project is currently on pause, please stop working with this task until further notice

[2015-04-12 22:11] karato commented on #154
@krzyk the project is temporarily on pause, please stop working with this task, until further instructions

[2015-04-12 22:11] karato commented on #172
@krzyk we're on pause in the project, please stop working with this, until further information

[2015-04-12 22:11] karato commented on #176
@carlosmiranda the project is currently on pause, please stop working with this task until further notice

[2015-04-12 22:11] karato commented on #177
@carlosmiranda the project is temporarily on pause, please stop working with this task, until further instructions

[2015-04-12 22:11] karato commented on #198
@krzyk the project is currently on pause, please stop working with this task until further notice

[2015-04-12 22:11] karato commented on #212
@alevohin this is your task. the project is currently on pause, please stop working with this task until further notice

[2015-04-12 22:11] karato commented on #213
@longtimeago this is your task... the project is currently on pause, please stop working with this task until further notice

[2015-04-12 22:11] karato commented on #214
@carlosmiranda this is your task... we're on pause in the project, please stop working with this, until further information

[2015-04-12 22:11] karato commented on #215
@krzyk the project is currently on pause, please stop working with this task until further notice

[2015-04-12 22:11] karato commented on #218
@ggajos this is your task... we're on pause in the project, please stop working with this, until further information

[2015-04-12 22:14] maurezen commented on #129
@karato ok, I'll stop working until further notice.

[2015-04-13 00:53] karato commented on #151
@pinaf sure, thanks for telling me, take your time

[2015-04-13 02:27] karato commented on #216
@longtimeago this is your task

[2015-04-13 06:35] longtimeago commented on #216
@karato project is on hold now

[2015-04-13 08:09] longtimeago commented on #216
@karato assign someone else please

[2015-04-13 17:31] pinaf commented on #151
@yegor256 any chance I get these points back?

[2015-04-13 18:04] karato commented on #216
@longtimeago OK, take your time

[2015-04-13 18:04] karato commented on #216
@longtimeago no problem, I will try to find somebody else

[2015-04-13 18:21] karato commented on #133
@pinaf paid, thanks, added **38 mins** to your account, payment `AP-3SB532806J0487309`, 95 hours and 13 mins was spent

there is a bonus for fast delivery (age=2913)

+38 added to your rating, at the moment it is: [+6626](http://www.netbout.com/b/35128?open=rating)

[2015-04-13 18:21] karato commented on #179
@ggajos Thanks so much! Your account was topped up for **38 mins** (transaction ID is `AP-3NY23448E3241954S`, the task took 166 hours and 31 mins); age=2920, that's why a bonus here for fast delivery; +38 added to your rating, current score is: [+3547](http://www.netbout.com/b/35094?open=rating)

[2015-04-13 19:30] karato commented on #216
@caarlos0 this is your task

[2015-04-13 20:03] k0r commented on #225
updated.

[2015-04-13 21:04] karato commented on #138
@krzyk Thank you, I have added **38 mins** to your account in payment/transaction "`55404351`", time consumed: 117 hours and 33 mins

age=2980, that's why a bonus here for fast delivery

+38 added to your rating, current score is: [+6061](http://www.netbout.com/b/35035?open=rating)

[2015-04-13 21:44] #225 closed

[2015-04-14 00:39] caarlos0 commented on #216
@karato assign someone else, please, too busy right now.

[2015-04-14 03:11] karato commented on #216
@caarlos0 I will ask somebody else to pick this up

[2015-04-14 06:44] k0r opened #226 "founder requests dev team + increase in pay included"

[2015-04-14 17:45] karato commented on #134
@krzyk this is your task

[2015-04-14 17:45] karato commented on #216
@ggajos this is your task

[2015-04-14 18:04] ghost commented on #216
updated.

[2015-04-15 00:07] #226 closed

[2015-04-15 00:11] karato opened #227 "Re-estimate project size"
The latest estimate is rather old (created on 27-Mar-2015),we have to create a new one as explained [here](https://github.com/teamed/est)

[2015-04-15 00:15] karato commented on #227
@ggajos this is your task

[2015-04-15 01:20] karato commented on #227
@ggajos the project is temporarily on pause, please stop working with this task, until further instructions

[2015-04-15 06:43] ggajos commented on #216
@karato this project is on hold still right?

[2015-04-15 18:11] karato commented on #216
@ggajos sure, take your time, I know about this pause

[2015-04-15 23:19] yegor256 commented on #216
@ggajos yes, it's still on hold, I'll update you soon

[2015-04-15 23:19] yegor256 commented on #216
@karato this is urgent

[2015-04-15 23:25] #148 closed

[2015-04-15 23:52] yegor256 opened #228 "admin panel is missing"
We don't have any panel for an admin, to review all existing objects and all users that uploaded them. The admin should be able to delete any object.

[2015-04-16 00:32] karato commented on #191
@yegor256 I will ask someone to take care of this task soon

[2015-04-16 00:35] karato commented on #216
@yegor256 thanks, I added the "urgent" tag

[2015-04-16 00:35] karato commented on #228
@yegor256 tagged this issue with "bug"

[2015-04-16 00:47] karato commented on #191
@yegor256 thanks for this report, I added 15 mins to your account, in transaction `000-1b04fe6a`

[2015-04-16 01:10] carlosmiranda commented on #214
@karato @yegor256 Am I supposed to work on this now?

[2015-04-16 01:42] #228 closed

[2015-04-16 01:42] yegor256 commented on #228
duplicate of #213

[2015-04-16 01:45] yegor256 commented on #214
@carlosmiranda I'll let you know soon. for now we're still on hold.

[2015-04-16 01:47] carlosmiranda commented on #214
@yegor256 All right, thanks for letting me know.

[2015-04-16 01:47] carlosmiranda commented on #214
@karato Please give us more time

[2015-04-16 02:52] karato commented on #213
@k0r since there is no milestone yet I set it to "0.4"

[2015-04-17 01:16] karato commented on #172
@karato I added milestone `0.4` to this issue, let me know if there has to be something else

[2015-04-17 01:16] karato commented on #208
@karato since there is no milestone yet I set it to "0.4"

[2015-04-17 01:16] karato commented on #209
@karato since there is no milestone yet I set it to "0.4"

[2015-04-17 01:18] karato commented on #214
@carlosmiranda OK, take your time

[2015-04-17 07:32] krzyk commented on #134
@yegor256 shouldn't this be paused also?

[2015-04-18 07:39] alevohin commented on #212
@karato please assign someone else

[2015-04-19 18:30] yegor256 commented on #216
@karato assign me to this task please, @ggajos hope you don't mind

[2015-04-19 20:08] karato commented on #216
@yegor256 sure, the ticket is yours, go ahead

[2015-04-19 20:08] karato commented on #212
@alevohin someone else will help in this task, no problem at all

[2015-04-19 20:14] karato commented on #218
@ggajos the bonus here is 30 mins, due to these numbers: t=523, c=155, h=4437, diff=0.3..master, [this page](http://www.teamed.io/release.html) explains the formula

[2015-04-20 06:23] yegor256 commented on #216
@kory PR is here: #229

[2015-04-20 06:23] yegor256 commented on #216
@rultor release, tag is `0.3.11`

[2015-04-20 06:24] rultor commented on #216
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3488-94367853)

[2015-04-20 06:36] ggajos commented on #218
@karato is there any estimate when project will be unsuspended?

[2015-04-20 07:06] rultor commented on #216
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3488-94367853) (spent 41min)

[code]

[2015-04-20 07:22] yegor256 commented on #216
@rultor release, tag is `0.3.11`

[2015-04-20 07:23] rultor commented on #216
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3488-94378959)

[2015-04-20 07:25] rultor commented on #216
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3488-94378959) (spent 1min)

[code]

[2015-04-20 08:05] yegor256 commented on #216
@rultor release, tag is `0.3.11`

[2015-04-20 08:26] yegor256 commented on #216
@rultor hello

[2015-04-20 08:38] rultor commented on #216
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3488-94387594)

[2015-04-20 08:39] rultor commented on #216
@yegor256 Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2015-04-20 08:51] rultor commented on #216
Release `0.3.11` already exists! I can't duplicate it, but I posted a comment there. In the future, try to avoid duplicate releases

[2015-04-20 08:51] rultor commented on #216
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3488-94387594) (took me 12min)

[2015-04-20 08:53] yegor256 opened #230 "broken SVG images"

[2015-04-20 08:56] yegor256 commented on #230
@rultor release, tag is `0.3.12`

[2015-04-20 08:56] rultor commented on #230
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3491-94397395)

[2015-04-20 09:08] rultor commented on #230
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3491-94397395) (took me 11min)

[2015-04-20 13:22] krzyk commented on #134
@karato give me more time pls

[2015-04-20 16:33] yegor256 commented on #230
@rultor release, tag is `0.3.13`

[2015-04-20 16:34] rultor commented on #230
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3491-94501976)

[2015-04-20 16:45] rultor commented on #230
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3491-94501976) (took me 11min)

[2015-04-20 18:32] karato commented on #230
@yegor256 I added milestone `1.0` to this issue, let me know if there has to be something else

[2015-04-20 18:33] karato commented on #134
@krzyk of course, thanks for letting me know, take your time

[2015-04-20 18:37] #230 closed

[2015-04-20 19:46] karato commented on #230
@yegor256 your task, 30 mins is budget

[2015-04-20 20:21] yegor256 commented on #216
@kory please close this ticket

[2015-04-20 20:24] kory commented on #216
@yegor256, I believe you have the wrong @user, I'm getting emails every time you use @kory.

[2015-04-20 20:29] yegor256 commented on #216
@Kory sorry, my fault.

[2015-04-20 23:42] yegor256 commented on #216
@karato please close this task as completed

[2015-04-21 01:30] #216 closed

[2015-04-21 01:30] karato commented on #216
@yegor256 OK, sure, closing

[2015-04-21 01:45] yegor256 commented on #227
@karato assign me to this task pls

[2015-04-21 01:46] yegor256 commented on #218
@karato assign me to this task pls

[2015-04-21 01:48] yegor256 commented on #177
@karato please assign me to this task

[2015-04-21 01:49] yegor256 commented on #89
@longtimeago do you mind if I fix this problem myself?

[2015-04-21 01:49] yegor256 commented on #89
@karato please assign me to this task

[2015-04-21 01:51] yegor256 commented on #89
@rultor release, tag is `0.3.14`

[2015-04-21 01:52] rultor commented on #89
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3504-94609955)

[2015-04-21 02:04] rultor commented on #89
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3504-94609955) (took me 12min)

[2015-04-21 03:23] yegor256 commented on #89
@karato please close this issue, it's fixed

[2015-04-21 04:02] karato commented on #177
@yegor256 OK, the task is yours, go ahead

[2015-04-21 04:02] karato commented on #218
@yegor256 OK, it is yours, please proceed

[2015-04-21 04:02] karato commented on #227
@yegor256 OK, the task is yours, go ahead

[2015-04-21 04:07] karato commented on #176
@yegor256 we were waiting for #225 - it is closed already

[2015-04-21 04:07] karato commented on #89
@longtimeago the project is back on track, please continue

[2015-04-21 04:07] karato commented on #129
@maurezen the project is back on track, please continue

[2015-04-21 04:07] karato commented on #130
@longtimeago the project is not on pause any more, please continue to work with the task

[2015-04-21 04:07] karato commented on #134
@krzyk we're not on pause any more, you may continue to work with the task

[2015-04-21 04:07] karato commented on #145
@longtimeago the project is back on track, please continue

[2015-04-21 04:07] karato commented on #150
@ggajos the project is not on pause any more, please continue to work with the task

[2015-04-21 04:07] karato commented on #151
@pinaf the project is back on track, please continue

[2015-04-21 04:07] karato commented on #154
@krzyk we're not on pause any more, you may continue to work with the task

[2015-04-21 04:07] karato commented on #172
@krzyk we're not on pause any more, you may continue to work with the task

[2015-04-21 04:07] karato commented on #176
@carlosmiranda we're not on pause any more, you may continue to work with the task

[2015-04-21 04:07] karato commented on #177
@yegor256 we're not on pause any more, you may continue to work with the task

[2015-04-21 04:07] karato commented on #198
@krzyk the project is not on pause any more, please continue to work with the task

[2015-04-21 04:07] karato commented on #213
@longtimeago we're not on pause any more, you may continue to work with the task

[2015-04-21 04:07] karato commented on #214
@carlosmiranda the project is back on track, please continue

[2015-04-21 04:07] karato commented on #215
@krzyk the project is back on track, please continue

[2015-04-21 04:07] karato commented on #218
@yegor256 the project is back on track, please continue

[2015-04-21 04:07] karato commented on #227
@yegor256 we're not on pause any more, you may continue to work with the task

[2015-04-21 05:14] longtimeago commented on #89
@yegor256 sure

[2015-04-21 07:47] yegor256 commented on #89
@longtimeago it's already fixed by myself, just waiting for ticket reassignment and closing

[2015-04-21 07:52] longtimeago commented on #89
@yegor256 I know

[2015-04-21 10:32] ggajos commented on #150
@karato think we're waiting for `150-9049471a`, please correct me if something else has to be done on my side, thanks

[2015-04-21 14:54] pinaf commented on #151
@karato we need more time here

[2015-04-21 15:00] pinaf commented on #151
@yegor256 can we close this one?

[2015-04-21 19:30] yegor256 commented on #214
@karato this is urgent

[2015-04-21 19:30] yegor256 commented on #212
@karato this is urgent

[2015-04-21 19:30] yegor256 commented on #191
@karato this is urgent

[2015-04-21 19:31] karato commented on #89
@yegor256 sure, the ticket is yours, go ahead

[2015-04-21 19:31] #89 closed

[2015-04-21 19:31] karato commented on #89
@yegor256 Right, the issue is closed as you just asked

[2015-04-21 19:32] karato commented on #151
@pinaf take your time, I am aware that we're waiting here

[2015-04-21 19:38] karato commented on #130
@yegor256 impediment in issue #89 is closed, we can probably try to continue here

[2015-04-21 19:38] karato commented on #177
@yegor256 Issue #225 is already closed (we were waiting for it) Maybe we can continue..

[2015-04-21 21:07] longtimeago commented on #224
@yegor256 have you seen this? It's still actual

[2015-04-21 21:13] longtimeago commented on #213
@yegor256 what is "internal system operations"? How we define that use has access to admin panel?
Should I rise new tickets to clarify this?

[2015-04-21 21:30] karato commented on #214
@yegor256 right, I added "urgent" tag

[2015-04-21 21:30] karato commented on #212
@yegor256 got it, "urgent" tag here

[2015-04-21 21:30] karato commented on #191
@yegor256 thanks, I added the "urgent" tag

[2015-04-21 21:38] karato commented on #230
@yegor256 Thanks a lot, I just topped your account for **45 mins**, transaction ID `000-78ed88db`, total time was 59 mins... age=26 hours and 56 mins, that's why a bonus here for fast delivery... +45 added to your rating, at the moment it is: [+9200](http://www.netbout.com/b/35008?open=rating)

[2015-04-21 22:54] karato commented on #191
@longtimeago this is your task

[2015-04-21 22:54] karato commented on #212
@darkled do this task

[2015-04-22 00:42] karato commented on #212
@darkled we're not on pause any more, you may continue to work with the task

[2015-04-22 00:46] yegor256 commented on #213
@longtimeago let's start with something basic and simple. Some users (their URN's should be hard-coded in Java) should have access to `/admin` page, where a full list of all directories in our S3 bucket should be visible. These directory names are URNs of users, so that information will be sufficient to give an admin an understanding of who are using the system now. Later we'll add an ability to d

[2015-04-22 01:11] yegor256 commented on #224
@longtimeago yeah, it was, I fixed it in 6bd969b (it was a bug in takes)

[2015-04-22 01:11] #224 closed

[2015-04-22 01:34] yegor256 opened #231 "big files cause out-of-memory errors on Heroku"

[2015-04-22 01:42] yegor256 commented on #231
@k0r I can't reproduce the bug, since facebook login doesn't work :(

[2015-04-22 02:18] karato commented on #231
@yegor256 there is no milestone yet, so I set it to `1.0`

[2015-04-22 02:20] yegor256 commented on #151
@pinaf well, as I see above, the task is not done. you created some changes in the code, but for the user perspective nothing was changed. like I explained above, we should go from top to bottom, not the other way around

[2015-04-22 02:20] yegor256 commented on #231
@karato pls set milestone to 0.4

[2015-04-22 02:28] karato commented on #231
@yegor256 do this task, 30 mins is budget

[2015-04-22 02:30] karato commented on #231
@yegor256 many thanks for the bug report, I added 15 mins to your acc, transaction `000-7803cafa`

[2015-04-22 02:47] pinaf commented on #151
@yegor256 I agree with that. my question was motivated because of the recent changes in the project

[2015-04-22 02:48] pinaf commented on #151
@karato we're waiting for #198 here

[2015-04-22 02:49] pinaf commented on #198
@krzyk #151 had some code merged already (that created this puzzle). it won't be closed soon because of a design error I made (I should have started with the user interface). please go ahead with this ticket.

[2015-04-22 03:18] yegor256 commented on #212
@darkled let's use bit.ly for this

[2015-04-22 03:46] karato commented on #231
@yegor256 milestone set to `0.4`, thanks

[2015-04-22 07:27] longtimeago commented on #224
@yegor256 thanks, I'll check it tonight

[2015-04-22 17:29] longtimeago opened #232 "Exception on uploading when no file specified (dev mode)"
Given fresh start in dev mode
And no file chosen for upload
When push submit button
Then
![screenshot from 2015-04-22 20 25 01](https://cloud.githubusercontent.com/assets/1388994/7280753/b13f0f3a-e92d-11e4-891c-838177d927fd.png)
And in traces:
[code]
After that app is not able to recover at all. All subsequent calls to ``` http://localhost:8080/ ``` resulting to the same error.

[2015-04-22 19:17] longtimeago commented on #89
@yegor256 I'm not sure what was changed after my fix but now this issue is back again. I tried to upload 1Gb file and got OOM ...

[2015-04-22 19:49] yegor256 commented on #89
@longtimeago yes, now it's a different issue, inside nerodesk code, not in Takes any more, see #231

[2015-04-22 20:22] longtimeago commented on #231
@yegor256 you can reproduce it if just run app in dev mode and try to upload big file

[2015-04-22 20:31] longtimeago commented on #191
@yegor256 What does the label `urgent` mean?  I can't find anything about it in the policy.
Does it reduce the time to implement?

[2015-04-22 20:34] karato commented on #151
@pinaf agreed, we'll wait for #198

[2015-04-22 22:27] longtimeago commented on #213
@karato PR is available for review https://github.com/teamed/nerodesk/pull/234

[2015-04-23 00:19] yegor256 commented on #191
@longtimeago see http://www.teamed.io/policy.html#26

[2015-04-23 00:25] yegor256 commented on #231
@longtimeago I fixed it in PR #233

[2015-04-23 03:54] karato commented on #89
@yegor256 done, I added **45 mins** in payment `000-aa373de5`, 1 hour and 55 mins spent to complete this

age=32 hours and 20 mins, that's why a bonus here for fast delivery

+45 added to your rating, current score is: [+9065](http://www.netbout.com/b/35008?open=rating)

[2015-04-23 08:26] longtimeago commented on #213
@karato waiting for #234

[2015-04-23 12:47] carlosmiranda commented on #214
@yegor256 Please see PR #235.

[2015-04-23 17:43] karato commented on #213
@longtimeago agreed, we'll wait for #234

[2015-04-23 18:48] longtimeago commented on #191
@yegor256 I'm not sure I clearly understand the use case. You said

Should that friend be registered in our system? If he is not, how can file will be shared with him?
When you said "start sharing" you mean get the link to download the file?

Could you please elaborate a bit the idea

[2015-04-23 19:36] yegor256 commented on #129
@karato pls assign someone else here

[2015-04-23 19:37] yegor256 commented on #130
@karato pls assign someone else here

[2015-04-23 19:37] yegor256 commented on #134
@karato pls assign someone else here

[2015-04-23 19:39] yegor256 commented on #151
@karato pls assign someone else here

[2015-04-23 19:39] yegor256 commented on #231
@rultor release, tag is `0.3.15`

[2015-04-23 19:40] rultor commented on #231
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3546-95695476)

[2015-04-23 19:55] rultor commented on #231
Release `0.3.15` already exists! I can't duplicate it, but I posted a comment there. In the future, try to avoid duplicate releases

[2015-04-23 19:55] rultor commented on #231
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3546-95695476) (took me 14min)

[2015-04-23 19:57] yegor256 commented on #231
@k0r try to upload a big file pls. But keep in mind that the maximum size is 250mb

[2015-04-23 20:00] yegor256 commented on #176
@karato assign someone else pls

[2015-04-23 20:01] yegor256 commented on #172
@karato this task is postponed for now

[2015-04-23 20:01] yegor256 commented on #198
@karato this task is postponed for now

[2015-04-23 21:32] yegor256 commented on #214
@carlosmiranda would be great to see some code here as well

[2015-04-23 21:33] yegor256 commented on #212
@darkled would be great to complete this in the next 24 hours, otherwise I'll have to assign it to someone else

[2015-04-23 21:35] yegor256 commented on #191
@longtimeago yes, the user has to be logged in, when he clicks the link. The link will looks like this:

[code]

Using these two parameters and having the user logged in we can share the file, right?

We can also add some secret code to the URL, but this is for the future

[2015-04-23 21:37] yegor256 commented on #191
@longtimeago yes, we need a secret code, otherwise anyone would be able to click this link. should be something like this:

[code]

This `aef54be5cf45` is calculated on the server, using some encoding mechanism with a secret key. We can use what Takes already provides, for example `CcXOR`. To get the code we should use the owner URN, the file name and the email of a friend.

[2015-04-23 22:16] karato commented on #129
@yegor256 I deducted 60 points from your rating

[2015-04-23 22:16] karato commented on #129
@yegor256 I will ask somebody else to pick this up

[2015-04-23 22:16] karato commented on #130
@yegor256 60 points was deducted from your rating

[2015-04-23 22:16] karato commented on #130
@yegor256 right, I'll try to find someone else for this task

[2015-04-23 22:16] karato commented on #134
@yegor256 30 points was deducted from your rating

[2015-04-23 22:16] karato commented on #134
@yegor256 I will try to find someone else

[2015-04-23 22:16] karato commented on #151
@yegor256 I deducted 30 points from your rating

[2015-04-23 22:16] karato commented on #151
@yegor256 got it, someone else will be assigned soon

[2015-04-23 22:16] karato commented on #172
@yegor256 right, I added "postponed" tag

[2015-04-23 22:16] karato commented on #176
@yegor256 I deducted 30 points from your rating

[2015-04-23 22:17] karato commented on #176
@yegor256 no problem, I will try to find somebody else

[2015-04-23 22:17] karato commented on #198
@yegor256 thanks, I added the "postponed" tag

[2015-04-23 22:18] darkled opened #236 "AwsDocsTest fails under windows"
Running locally `mvn -Dtest=AwsDocsTest test` under windows 7 fails with the message:
[code]

[2015-04-23 22:23] darkled opened #237 "TkAppTest fails under windows"
Running locally `mvn -Dtest=TkAppTest test` under windows 7 fails with the message:
[code]

[2015-04-23 23:26] asaen commented on #212
@yegor256 PR #238

[2015-04-23 23:26] asaen commented on #212
@karato we're waiting for #238

[2015-04-24 00:49] karato commented on #212
@darkled agreed, we'll wait for #238

[2015-04-24 04:49] krzyk commented on #198
@yegor256 if the task is postponed and assigned to me, should I work on it?

[2015-04-24 05:14] carlosmiranda commented on #237
@darkled Confirming that I get the same error.

[2015-04-24 05:15] carlosmiranda commented on #236
@darkled Already raised in #199.

[2015-04-24 05:41] carlosmiranda commented on #214
@yegor256 Right, I added some stub implementations to #235.

[2015-04-24 07:14] yegor256 commented on #198
@krzyk no, you shouldn't

[2015-04-24 07:14] yegor256 commented on #198
@karato pls assign someone else

[2015-04-24 08:40] carlosmiranda commented on #214
@yegor256 may we close it now? #235 has been merged.

[2015-04-24 11:41] asaen commented on #236
@carlosmiranda yes, you're right, closing this one..

[2015-04-24 11:41] #236 closed

[2015-04-24 17:27] yegor256 commented on #214
@carlosmiranda thanks!

[2015-04-24 17:29] yegor256 commented on #237
@darkled @carlosmiranda see 13e4720

[2015-04-24 17:29] #237 closed

[2015-04-24 17:36] #231 closed

[2015-04-24 17:36] yegor256 opened #240 "No content length specified for S3 upload"
[code]

let's fix this, to get rid of potential out-of-memory errors on big file uploads

[2015-04-24 17:44] yegor256 opened #241 "UI links are not rendered in HTML"
UI links in TkDocs (`read`, `delete`, etc.) are not rendered correctly, since `docs.xsl` is using incorrect XML elements, which were correct before the refactoring of #233

Let's create a test that should render the page into HTML and then check the presence of links inside it, using XPath.  Then, let's fix.

[2015-04-24 17:46] yegor256 opened #242 "/doc/write causes IOException on server"
This is what is happening when I upload a big file (over 50Mb), although everything works fine with a small (5Kb) file:

[code]

[2015-04-24 17:46] yegor256 commented on #242
@karato pls assign @krzyk to this issue

[2015-04-24 17:46] yegor256 commented on #241
@karato pls assign @krzyk to this issue

[2015-04-24 17:46] yegor256 commented on #240
@karato pls assign @krzyk to this issue

[2015-04-24 18:16] karato commented on #214
@yegor256 please don't close it.. @ghost could you please close it, if it is done?

[2015-04-24 18:16] karato commented on #240
@yegor256 I will ask someone to take care of this task soon

[2015-04-24 18:16] karato commented on #241
@yegor256 we will find someone to do this task, soon

[2015-04-24 18:16] karato commented on #242
@yegor256 we will find someone to do this task, soon

[2015-04-24 18:17] karato commented on #240
@yegor256 I added milestone `1.0` to this issue, let me know if there has to be something else

[2015-04-24 18:17] karato commented on #241
@yegor256 since there is no milestone yet I set it to "1.0"

[2015-04-24 18:17] karato commented on #242
@yegor256 attached this issue to milestone "1.0" (let me know if this is wrong)

[2015-04-24 18:18] karato commented on #198
@yegor256 30 points deducted from your rating

[2015-04-24 18:18] karato commented on #198
@yegor256 no problem, I will try to find somebody else

[2015-04-24 18:20] yegor256 commented on #240
@karato pls set milestone to 0.4

[2015-04-24 18:20] yegor256 commented on #242
@karato pls set milestone to 0.4

[2015-04-24 18:21] yegor256 commented on #214
@karato close it please yourself, the `@ghost` is not longer in the project

[2015-04-24 18:22] karato commented on #240
@carlosmiranda this is your task

[2015-04-24 18:23] karato commented on #240
@yegor256 thanks for the ticket, your account was topped for 15 mins, payment 000-fb475bb3

[2015-04-24 19:24] karato commented on #242
@yegor256 many thanks for the report, I topped your account for 15 mins, transaction 000-61a78fe0

[2015-04-24 20:49] karato commented on #214
@yegor256 issue closes as you just asked

[2015-04-24 20:49] #214 closed

[2015-04-24 20:49] karato commented on #240
@yegor256 OK. @krzyk the ticket is yours, please proceed

[2015-04-24 20:49] karato commented on #240
@yegor256 I attached this issue to milestone `0.4`

[2015-04-24 20:49] karato commented on #242
@yegor256 yep, done. @krzyk it is your task now

[2015-04-24 20:49] karato commented on #242
@yegor256 sure, milestone set to 0.4

[2015-04-24 20:49] karato commented on #241
@yegor256 OK @krzyk please start, the task is yours

[2015-04-24 20:57] karato commented on #241
@yegor256 thanks for the report, I topped your acc for 15 mins, payment ID `000-5ee0766d`

[2015-04-24 21:28] karato opened #243 "TkSetVisibility.java:45-51: Let's implement the setting of..."
Puzzle `214-e6cb8df9` in `src/main/java/com/nerodesk/takes/doc/TkSetVisibility.java:45-51` has to be resolved: Let's implement the setting of file visibility. When a request is received by this Take, it should read the appropriate parameters from the request, and set the permissions of the associated Doc accordingly. The parameter "visibility" should determine whether the file is private or public

[2015-04-24 21:32] karato commented on #214
@ghost once `214-e6cb8df9`/#243 puzzle is resolved (later, in another ticket), this ticket will be fully complete

[2015-04-24 21:36] karato commented on #243
@pinaf this is your task

[2015-04-24 23:08] karato commented on #243
@yegor256 milestone set to `1.0` (correct me if I am wrong)

[2015-04-25 00:15] yegor256 opened #244 "move repository to new Github account"
Let's move it to `nerodesk` account

[2015-04-25 00:15] yegor256 commented on #243
@karato please set milestone to 0.4

[2015-04-25 00:16] yegor256 commented on #191
@longtimeago any progress here?

[2015-04-25 00:25] karato commented on #244
@yegor256 milestone set to `1.0` (correct me if I am wrong)

[2015-04-25 00:36] karato commented on #244
@yegor256 do this task, 30 mins is budget

[2015-04-25 00:38] karato commented on #244
@yegor256 thanks for the ticket, your account was topped for 15 mins, payment 000-7d572718

[2015-04-25 01:54] karato commented on #243
@yegor256 I attached this issue to milestone `0.4`

[2015-04-25 01:58] #154 closed

[2015-04-25 01:58] #215 closed

[2015-04-25 01:58] karato commented on #154
@yegor256 I'm closing the issue...

[2015-04-25 01:58] karato commented on #215
@yegor256 Done, thanks all, closing..

[2015-04-25 02:04] karato commented on #154
@krzyk I added **38 mins** to your account, many thanks for working with the project! The completion time here was 55992751.

the bonus for fast delivery (age=2932)

+38 added to your rating, current score is: [+5291](http://www.netbout.com/b/35035?open=rating)

[2015-04-25 02:04] karato commented on #215
@krzyk thanks, I just added **38 mins** to your account, payment `55992771`, 68 hours and 46 mins spent

the bonus for fast delivery (age=3018)

+38 to your rating, your total score is [+5329](http://www.netbout.com/b/35035?open=rating)

[2015-04-25 03:06] pinaf commented on #243
@karato please assign someone else here

[2015-04-25 03:31] yegor256 commented on #243
@karato assign @krzyk to this one pls

[2015-04-25 04:10] longtimeago commented on #191
@yegor256 not yet, sorry :(. Feel free to take it if it should be done in 1 day

[2015-04-25 06:25] krzyk commented on #198
@yegor256 strange, I think there is a bug, because I had my rating reduced for this task (and for #134). I think that postponed task should be automatically unassigned without penalties (I have #172 with such case).

[2015-04-25 12:04] krzyk commented on #241
@yegor256 PR #245

[2015-04-25 13:23] krzyk commented on #240
@yegor256 PR #246

[2015-04-25 17:13] karato commented on #243
@pinaf 30 points was deducted from your rating

[2015-04-25 17:13] karato commented on #243
@pinaf someone else will help in this task, no problem at all

[2015-04-25 17:13] karato commented on #243
@yegor256 of course! @krzyk it's your ticket now, please go ahead

[2015-04-25 19:06] karato commented on #231
@yegor256 thanks, I just added **30 mins** to your account, payment `000-40403838`, 63 hours and 52 mins spent; +30 added to your rating, current score is: [+9292](http://www.netbout.com/b/35008?open=rating)

[2015-04-25 21:51] karato commented on #214
@carlosmiranda Much appreciated! **38 mins** was added to your account, payment ID `56006982`, time spent is 89 hours and 24 mins... the bonus for fast delivery (age=2881)... +38 to your rating, your total score is [+4732](http://www.netbout.com/b/35023?open=rating)

[2015-04-26 10:24] krzyk commented on #243
@karato PR #247

[2015-04-26 17:50] longtimeago opened #248 "File deletion doesn't work"
File deletion doesn't work in dev mode.
Scenario - add some file and then follow the link ```delete```. Page reloaded but file is still exist on the page.

[2015-04-27 03:42] yegor256 commented on #198
@krzyk yeah, make sense, I'll take a look at it

[2015-04-27 05:37] krzyk commented on #240
@yegor256 if the code changes in master fix the problem, please close this issue

[2015-04-27 07:20] yegor256 commented on #240
@rultor release, tag is `0.3.16`

[2015-04-27 07:20] yegor256 commented on #240
@krzyk thanks!

[2015-04-27 07:20] #240 closed

[2015-04-27 07:20] rultor commented on #240
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3584-96528664)

[2015-04-27 07:30] rultor commented on #240
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3584-96528664) (spent 10min)

[code]

[2015-04-27 18:42] longtimeago opened #249 "Calculation of `R` field is wrong in loose mode"
Try to enable `test_5_2` and you will see that `R` field is not equal `264` as expected. It means that calculation of that field during encoding in loose mode is wrong.
Let's fix that.

[2015-04-27 18:43] #249 closed

[2015-04-27 20:07] asaen commented on #237
@yegor256 thank you, it works.

[2015-04-27 21:14] longtimeago commented on #191
@yegor256 Please, see the PR https://github.com/Nerodesk/nerodesk/pull/250 if it's not too late

[2015-04-28 18:12] yegor256 opened #251 "deployment to heroku is broken"
We can't deploy to heroku any more, since they changed the version or Ruby. Our sass maven plugin is conflicting with them.

[2015-04-28 19:14] k0r opened #252 "user panel contains cancelled files"
user panel contains files that are cancelled during upload. to replicate, upload a file of any size then cancel with any browser.

[2015-04-28 19:18] krzyk commented on #242
@yegor256 I can't recreate this problem. I've created S3 bucket and uploaded there a small file, and then a large >50MB one without any problems. But I've done it on localhost, maybe the problem is that a large file takes to much time to upload to heroku and the server closes the connection there?
Or maybe even further, slow file upload to heroku results in slow upload to S3 and eventually amazon

[2015-04-28 19:31] krzyk commented on #242
@yegor256 I just tried to upload 200MB file and it uploaded just fine.

[2015-04-28 19:34] krzyk commented on #242
@yegor256 Although I see the exception thrown (only in the logs, not in the UI), that is almost identical to the one you posted, but the file uploaded fine and is accessible.
When you do the upload, does it fail completly with no access to the file?

[2015-04-28 21:11] yegor256 commented on #251
@rultor release, tag is `0.3.16`

[2015-04-28 21:12] rultor commented on #251
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3597-97208051)

[2015-04-28 21:12] rultor commented on #251
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3597-97208051) (spent 8s)

[code]

[2015-04-28 21:15] yegor256 commented on #251
@rultor release, tag is `0.3.16`

[2015-04-28 21:16] rultor commented on #251
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3597-97209276)

[2015-04-28 21:16] rultor commented on #251
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3597-97209276) (spent 9s)

[code]

[2015-04-28 21:29] yegor256 commented on #251
@rultor release, tag is `0.3.16`

[2015-04-28 21:30] rultor commented on #251
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3597-97215040)

[2015-04-28 21:30] rultor commented on #251
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3597-97215040) (spent 27s)

[code]

[2015-04-28 21:33] karato commented on #252
@k0r this task will get someone's attention soon

[2015-04-28 22:36] yegor256 commented on #251
@rultor release, tag is `0.3.16`

[2015-04-28 22:37] rultor commented on #251
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3597-97246186)

[2015-04-28 22:37] rultor commented on #251
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3597-97246186) (spent 20s)

[code]

[2015-04-28 22:39] yegor256 commented on #251
@rultor release, tag is `0.3.16`

[2015-04-28 22:44] rultor commented on #251
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3597-97246646)

[2015-04-28 22:44] rultor commented on #251
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3597-97246646) (spent 18s)

[code]

[2015-04-28 22:48] yegor256 commented on #251
@rultor release, tag is `0.3.16`

[2015-04-28 22:48] rultor commented on #251
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3597-97247939)

[2015-04-28 22:49] rultor commented on #251
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3597-97247939) (spent 19s)

[code]

[2015-04-28 23:01] yegor256 commented on #251
@rultor release, tag is `0.3.16`

[2015-04-28 23:01] rultor commented on #251
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3597-97254023)

[2015-04-28 23:02] rultor commented on #251
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3597-97254023) (spent 20s)

[code]

[2015-04-28 23:56] yegor256 commented on #251
@rultor release, tag is `0.3.16`

[2015-04-28 23:56] rultor commented on #251
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3597-97267213)

[2015-04-29 00:06] rultor commented on #251
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3597-97267213) (spent 10s)

[code]

[2015-04-29 00:08] yegor256 commented on #251
@rultor release, tag is `0.3.16`

[2015-04-29 00:13] yegor256 commented on #248
it's a duplicate of #241

[2015-04-29 00:13] #248 closed

[2015-04-29 00:18] rultor commented on #251
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3597-97268971)

[2015-04-29 00:18] rultor commented on #251
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3597-97268971) (spent 10s)

[code]

[2015-04-29 00:21] yegor256 commented on #251
@rultor release, tag is `0.3.16`

[2015-04-29 00:25] rultor commented on #251
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3597-97270868)

[2015-04-29 00:25] rultor commented on #251
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3597-97270868) (spent 10s)

[code]

[2015-04-29 00:30] yegor256 commented on #251
@rultor release, tag is `0.3.16`

[2015-04-29 00:32] rultor commented on #251
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3597-97271755)

[2015-04-29 00:32] rultor commented on #251
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3597-97271755) (spent 10s)

[code]

[2015-04-29 00:41] yegor256 commented on #251
@rultor release, tag is `0.3.16`

[2015-04-29 00:44] rultor commented on #251
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3597-97273445)

[2015-04-29 00:48] rultor commented on #251
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3597-97273445) (spent 4min)

[code]

[2015-04-29 00:52] yegor256 commented on #251
@rultor release, tag is `0.3.16`

[2015-04-29 00:53] rultor commented on #251
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3597-97274573)

[2015-04-29 01:01] rultor commented on #251
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3597-97274573) (took me 8min)

[2015-04-29 04:14] yegor256 opened #253 "Unable to execute HTTP request: Stream Closed"
tried to upload a file and got this:

[code]

I think this is the cause of the issue (from heroku logs):

[code]

Then I see this:

[code]

So, this `stream closed` is not the root cause of the problem. It happens only because `ReOcket` is retrying to upload and the source stream is already closed. It's logical.

[2015-04-29 04:17] yegor256 commented on #253
@karato pls assign @krzyk to this

[2015-04-29 04:19] yegor256 commented on #253
no matter what is the size of the file, I see the same situation

[2015-04-29 05:02] yegor256 commented on #242
@krzyk on production I can also upload a file without problems, but I see this exception in the logs. I suspect that something is happening behind the scene...

[2015-04-29 10:04] krzyk commented on #243
@karato PR #254 (I forgot to remove todo in the previous one)

[2015-04-29 13:01] krzyk commented on #253
@yegor256 looks like we can't depend on content-length from http request as it is impossible to count number of bytes of the original file from it (multipart encoding + gzip). So for this to work we should implement multipart sending to S3 (jcabi/jcabi-s3#29), and the current content-length functionality should be removed.

Besides that I think it would be great to have integration tests (using fa

[2015-04-29 19:38] karato commented on #253
@yegor256 I am aware of the task, give me some time to find a developer...

[2015-04-29 19:38] karato commented on #251
@yegor256 attached this issue to milestone "0.6" (let me know if this is wrong)

[2015-04-29 19:42] karato commented on #240
@krzyk Thanks for your contribution, **30 mins** was added to your account, payment ID is `56385955`, 68 hours and 57 mins spent total

+30 added to your rating, at the moment it is: [+5086](http://www.netbout.com/b/35035?open=rating)

[2015-04-29 19:42] karato commented on #251
@yegor256 your task, 30 mins is budget

[2015-04-29 19:43] karato commented on #251
@yegor256 many thanks for the report, I topped your account for 15 mins, transaction 000-59e880fe

[2015-04-29 19:52] rultor commented on #240
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3608-96528664)

[2015-04-29 19:52] rultor commented on #240
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3608-96528664) (spent 17s)

[code]

[2015-04-29 20:00] yegor256 commented on #253
@krzyk I'm not sure you're right about "it is impossible to count number of bytes of the original file from it". can you explain more, with an example?

[2015-04-29 20:05] krzyk commented on #253
@yegor256 The only way that we could get the file size is by browsers communicating it to us, the only way it is possible in HTTP is by using `Content-length` header, but this header contains all the data that is sent to the server, including multipart encoding headers and footers (which can have different lengths).
But the whole content can be also compressed, and Content-lenght in such case woul

[2015-04-29 20:16] yegor256 commented on #253
@krzyk not exactly. when we receive a request, `RqMultipart` is unzipping it and saving to a temporary file. That's the first step. Then, it parses the file and returns an individual "request" per each part. Why can't we know the size of each part?

[2015-04-29 20:54] karato opened #255 "TkSetVisibility.java:52-55: Implement setting of document visibility..."
Puzzle `243-21f91001` in `src/main/java/com/nerodesk/takes/doc/TkSetVisibility.java:52-55` has to be resolved: Implement setting of document visibility using method `show` from `Attributes`. Update docs.xsl and TkDocs with correct link to this class. docs.xsl should also show the current state of document public/private status (using `Attributes.visible` method).... The puzzle was created by krzyk

[2015-04-29 20:57] karato commented on #243
@yegor256 these 2 puzzles were created in this ticket: `243-313457d9`, `243-21f91001`/#255

[2015-04-29 21:00] karato commented on #253
@yegor256 thanks a lot for reporting, **15 mins** added to your acc, pmt ID `000-52d38df4`

[2015-04-29 21:21] asaen commented on #212
@ghost PR #238 merged, please close the issue if alright

[2015-04-29 22:02] karato commented on #212
@k0r only @ghost can close this issue, since he opened it

[2015-04-29 22:02] karato commented on #255
@yegor256 I added milestone `0.6` to this issue, let me know if there has to be something else

[2015-04-29 22:02] karato commented on #253
@yegor256 OK @krzyk please go ahead, this task is yours

[2015-04-29 22:02] karato opened #256 "AwsAttributes.java:44-46: Implement storage and retrieval of..."
Puzzle `243-313457d9` in `src/main/java/com/nerodesk/om/aws/AwsAttributes.java:44-46` has to be resolved: Implement storage and retrieval of visible status of the document, by implementing methods `visible` and `show` below. Don't forget to test it first.... The puzzle was created by krzyk on 26-Apr-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-04-29 22:07] k0r commented on #212
when accounts are deleted from GitHub, they're renamed to @ghost. all tickets in this repository authored by @ghost are from my previous account.

[2015-04-29 22:42] karato commented on #212
@k0r don't close it, ask @ghost to do do it, since he created it, thanks!

[2015-04-29 22:42] karato commented on #256
@yegor256 I added milestone `0.6` to this issue, let me know if there has to be something else

[2015-04-29 22:47] k0r commented on #212
@karato you don't seem to understand what @ghost is on GitHub. it's not a real user.

[2015-04-29 23:47] yegor256 commented on #212
@karato  please close it

[2015-04-30 01:24] #212 closed

[2015-04-30 01:24] karato commented on #212
@yegor256 OK, the issue is closed as requested

[2015-04-30 03:12] karato opened #257 "Doc.java:85-87: Method `shortUrl` should be executed..."
Puzzle `212-00b195c0` in `src/main/java/com/nerodesk/om/Doc.java:85-87` has to be resolved: Method `shortUrl` should be executed from a proper place on the UI in order to provide sharing short links functionality for users.... The puzzle was created by Alexey Saenko on 23-Apr-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-04-30 03:14] karato commented on #212
@ghost 2 puzzles were created here: `212-00b195c0`/#257, `212-b211119b`

[2015-04-30 03:16] karato commented on #257
@pinaf this is your task

[2015-04-30 03:56] karato commented on #257
@yegor256 there is no milestone yet, so I set it to `0.4`

[2015-04-30 03:57] karato opened #258 "AwsDoc.java:137-141: Implementation has to be replaced..."
Puzzle `212-b211119b` in `src/main/java/com/nerodesk/om/aws/AwsDoc.java:137-141` has to be resolved: Implementation has to be replaced with the correct one using the correct authentication for the bit.ly data and the correctly generated url to the actual document. After that fix and un-ignore the test `com.nerodesk.om.aws.AwsDocTest.shortenUrl()` to match some real data.... The puzzle was created

[2015-04-30 04:02] karato commented on #258
@caarlos0 do this task

[2015-04-30 06:06] krzyk commented on #253
@yegor256 OK, I didn't check the source for RqMultipart, in such case it would be enough to extend `RqMutlipart` to return the size of the file, not only it's name and request body.
I've created issue for this yegor256/takes#226

[2015-04-30 06:16] k0r commented on #100
@yegor256 feature omitted from the project.

[2015-04-30 06:16] k0r commented on #40
feature omitted from the project.

[2015-04-30 07:02] krzyk commented on #253
@yegor256 PR #259

[2015-04-30 07:13] krzyk commented on #241
@karato we're waiting for #245

[2015-04-30 18:35] karato commented on #100
@k0r please don't close it.. @yegor256 could you please close it, if it is done?

[2015-04-30 18:35] karato commented on #40
@k0r don't close it, ask @ghost to do do it, since he created it, thanks!

[2015-04-30 18:36] karato commented on #258
@yegor256 I set milestone here to `0.4`, let me know if it is wrong

[2015-04-30 18:36] karato commented on #241
@krzyk yep, got it, let's wait for #245 being solved

[2015-04-30 18:45] yegor256 commented on #100
@karato no need to do this any more

[2015-04-30 18:45] #100 closed

[2015-04-30 19:04] k0r commented on #40
@yegor256 feature omitted from the project.

[2015-04-30 19:13] yegor256 commented on #40
@karato close this one please, we won't implement it

[2015-04-30 19:14] k0r opened #260 "admins can't adjust per file limit"

[2015-04-30 19:14] k0r opened #261 "admins can't adjust account quotas"

[2015-04-30 20:05] krzyk commented on #242
@karato give me more time here

[2015-04-30 21:14] karato commented on #242
@krzyk sure, take your time

[2015-04-30 21:18] karato commented on #172
@krzyk 9 days already, in 7 hours I will re-assign; do not forget to remove the TODO puzzle from the source code; -30 added to your rating, at the moment it is: [+4879](http://www.netbout.com/b/35035?open=rating)

[2015-04-30 22:07] karato commented on #191
@longtimeago 8 days already, in 24 hours I will re-assign; -30 added to your rating, at the moment it is: [+4746](http://www.netbout.com/b/35024?open=rating)

[2015-05-01 02:36] karato commented on #212
@darkled thanks, paid, **38 mins** to your account, payment ID is `56423592`, task took 193 hours and 40 mins to complete; there is a bonus for fast delivery (age=2947); +38 to your rating, your total score is [+2143](http://www.netbout.com/b/35091?open=rating)

[2015-05-01 04:11] pinaf commented on #257
@karato please see PR #262

[2015-05-01 05:16] krzyk commented on #172
@karato please assign someone else

[2015-05-01 17:39] karato commented on #172
@krzyk I deducted 30 points from your rating

[2015-05-01 17:39] karato commented on #172
@krzyk someone else will help in this task, no problem at all

[2015-05-01 17:39] karato commented on #257
@pinaf will take a look, thanks

[2015-05-01 22:08] k0r commented on #241
@yegor256 let's prioritize this ticket for public beta testing capabilities.

[2015-05-01 22:09] k0r commented on #209
@yegor256 let's prioritize this ticket for public beta testing capabilities.

[2015-05-01 22:13] k0r opened #263 "heroku application error"
uploading a file of any size causes a Heroku application error. to replicate, upload a file of any size with any browser.

related tickets: #242 #251 #253

[2015-05-01 22:18] k0r commented on #241
@yegor256 completing this ticket will also improve testing #252 #263

[2015-05-01 22:27] k0r commented on #263
@yegor256 let's prioritize this ticket or related tickets that could be causing this error for public beta testing capabilities.

[2015-05-02 00:18] karato commented on #191
@longtimeago task is too long, stop working with it... -60 to your rating, your total score is [+4656](http://www.netbout.com/b/35024?open=rating)

[2015-05-02 00:34] #251 closed

[2015-05-02 00:34] yegor256 commented on #251
fixed

[2015-05-02 00:38] yegor256 commented on #253
@rultor release, tag is `0.3.17`

[2015-05-02 00:38] rultor commented on #253
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3635-98269949)

[2015-05-02 00:48] rultor commented on #253
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3635-98269949) (took me 10min)

[2015-05-02 02:02] karato commented on #243
@yegor256 Closing this issue now...

[2015-05-02 02:02] #243 closed

[2015-05-02 02:04] karato commented on #243
@krzyk thank you, added **30 mins** to your acc, payment num is `56448616`, 127 hours and 30 mins spent in total to complete. added +30 to your rating, now it is equal to [+4864](http://www.netbout.com/b/35035?open=rating)

[2015-05-02 02:30] yegor256 commented on #253
@krzyk this problem is gone

[2015-05-02 02:30] #253 closed

[2015-05-02 02:31] yegor256 commented on #263
@k0r this is what I see in logs:

[code]

And that's it. No exceptions. No idea why it's happening... investigating now.

[2015-05-02 02:32] yegor256 commented on #263
@k0r this is what Heroku says about H18 error: "Either the client socket or backend (your app’s web process) socket was closed before the backend returned an HTTP response. The sock field in the log has the value client or backend depending on which socket was closed." see https://devcenter.heroku.com/articles/error-codes#h18-request-interrupted

[2015-05-02 02:33] yegor256 commented on #263
@k0r and this is happening not every time. Sometimes I can upload a file without problems. I think I know what's going on...

[2015-05-02 02:40] k0r commented on #263
@yegor256 tested again and got the same result.

[2015-05-02 02:44] karato commented on #191
@caarlos0 do this task

[2015-05-02 03:04] yegor256 commented on #263
@k0r this seems to be the problem: https://github.com/yegor256/takes/issues/242 working on it now

[2015-05-02 03:13] yegor256 commented on #263
@k0r try to upload a very small file (1Kb), you won't have an error. The problem happens when the file is long enough so that Heroku drops connection with our app

[2015-05-02 03:16] k0r commented on #263
@yegor256 same result with a 1mb file.

[2015-05-02 03:17] yegor256 commented on #263
@k0r try 1Kb file

[2015-05-02 03:22] k0r commented on #263
@yegor256 works.

[2015-05-02 03:23] yegor256 commented on #263
@k0r yeah, the problem is in the size of the file... and it has something to do with heroku... I'm looking into it now

[2015-05-02 03:48] yegor256 commented on #263
@k0r this is what I see in logs:

[code]

This means that we interrupt the request and then immediately after that save the file to S3...

[2015-05-02 17:39] karato commented on #263
@yegor256 your task, 30 mins is budget

[2015-05-02 20:10] k0r opened #264 "files require file information page"

[2015-05-02 20:10] k0r opened #265 "file information page requires disqus panel"

[2015-05-02 20:43] #40 closed

[2015-05-02 21:00] k0r opened #266 "file information page requires bit.ly url"

[2015-05-03 01:46] karato commented on #251
@yegor256 thank you, added **30 mins** to your acc, payment num is `000-900c67da`, 53 hours and 2 mins spent in total to complete

+30 added to your rating, current score is: [+9215](http://www.netbout.com/b/35008?open=rating)

[2015-05-03 03:08] karato commented on #253
@krzyk Thanks a lot, I just topped your account for **30 mins**, transaction ID `56465485`, total time was 52 hours and 35 mins

added +30 to your rating, now it is equal to [+4842](http://www.netbout.com/b/35035?open=rating)

[2015-05-03 23:14] yegor256 commented on #263
@rultor release, tag is `0.3.18`

[2015-05-03 23:15] rultor commented on #263
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3657-98554926)

[2015-05-03 23:23] rultor commented on #263
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3657-98554926) (took me 8min)

[2015-05-03 23:30] yegor256 commented on #263
@k0r try now. I can upload files of any size, but those that are bigger than ~100Mb take too much time and heroku sometimes drops connection. It's a known issue in Takes: https://github.com/yegor256/takes/issues/248 I'm not yet sure it's possible to resolve it.. Maybe we'll have to find some workaround.

[2015-05-04 00:35] k0r commented on #263
@yegor256 can't login: `oops, something went wrong! java.lang.AssertionError: HTTP response status is not equal to 200: 400 Bad Request`

[2015-05-04 00:42] k0r commented on #263
@yegor256 nearly 3 months of development the only thing that works is logging in with facebook.

[2015-05-04 00:43] yegor256 commented on #263
@k0r confirm, there is a bug in takes: https://github.com/yegor256/takes/issues/249 (fixing now)

[2015-05-04 00:58] yegor256 commented on #263
@k0r should be fine now, try again

[2015-05-04 00:59] k0r commented on #263
@yegor256 same thing.

[2015-05-04 01:00] k0r commented on #263
@yegor256 logging in is fixed.

[2015-05-04 01:02] yegor256 commented on #263
@k0r please elaborate on "same thing". what exactly are you doing and what is happening?

[2015-05-04 01:03] k0r commented on #263
@yegor256 logging in is fixed.

[2015-05-04 01:50] k0r commented on #263
@yegor256 `oops, something went wrong!
org.takes.HttpException: GET http://beta.nerodesk.com/doc/write`

[2015-05-04 01:54] yegor256 commented on #263
@k0r what file size you're trying to upload?

[2015-05-04 01:55] k0r commented on #263
@yegor256 that was from a 150mb file.

[2015-05-04 01:56] yegor256 commented on #263
@k0r yeah, that's too much for now. I think everything below 50Mb should work fine. Try something smaller, below 50Mb

[2015-05-04 02:03] k0r commented on #263
@yegor256 50mb uploads without a problem.

[2015-05-04 02:11] yegor256 commented on #263
@k0r yes, that's what I'm saying... I'm not yet sure whether this problem is solvable in general. we have to go through a 10-million byte stream and find the location of a string that stops the file content. that's what takes time... I'll think about some optimization in https://github.com/yegor256/takes/issues/248

[2015-05-04 02:15] k0r commented on #263
@yegor256 this means that editable per file limit parameters isn't currently possible with takes.

[2015-05-04 13:30] pinaf commented on #257
@karato fixed!

[2015-05-05 00:13] yegor256 commented on #244
done

[2015-05-05 00:13] #244 closed

[2015-05-05 00:18] karato commented on #241
@yegor256 FYI, issue #245 is already closed, and we were waiting for it..

[2015-05-05 05:12] krzyk commented on #241
@yegor256 please close this issue, it has been merged to master

[2015-05-05 05:20] yegor256 commented on #241
@rultor release, tag is `0.3.19`

[2015-05-05 05:20] yegor256 commented on #241
@krzyk thanks!

[2015-05-05 05:20] #241 closed

[2015-05-05 05:20] rultor commented on #241
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3670-98953895)

[2015-05-05 05:25] rultor commented on #241
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3670-98953895) (spent 5min)

[code]

[2015-05-05 06:01] yegor256 commented on #241
@rultor release, tag is `0.3.19`

[2015-05-05 18:01] yegor256 commented on #241
@rultor hello

[2015-05-05 18:02] rultor commented on #241
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3670-98964467)

[2015-05-05 18:04] rultor commented on #241
@yegor256 Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2015-05-05 18:19] rultor commented on #241
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3670-98964467) (took me 16min)

[2015-05-05 18:22] k0r commented on #241
@yegor256 page displays `error on line 1 at column 1: Document is empty`

[2015-05-05 18:25] yegor256 commented on #241
@k0r yep, that's because bit.ly is not configured... please, create a ticket about it, I'll configure and fix the issue

[2015-05-05 18:29] k0r opened #267 "bit.ly implementation requires configuration"
`error on line 1 at column 1: Document is empty`

also see #241

[2015-05-05 18:48] yegor256 commented on #258
@caarlos0 our user name for Bit.ly is `Nerodesk`. To get API token you can use `${bitly.key}` available during Maven build (same way as we're using `${fb.app}`, for example, see `MANIFEST.MF`)

[2015-05-05 18:48] yegor256 commented on #267
@k0r looks like it's a duplicate of #258 (we're working on it already)

[2015-05-05 18:48] #267 closed

[2015-05-05 18:48] yegor256 commented on #258
@caarlos0 this is rather urgent, please do it asap. thanks!

[2015-05-05 19:00] k0r commented on #258
@yegor256 is there a way to restore site accessibility until this is fixed?

[2015-05-05 19:01] yegor256 commented on #258
@k0r yeah, will release now

[2015-05-05 19:06] yegor256 commented on #258
@rultor release, tag is `0.3.20`

[2015-05-05 19:07] rultor commented on #258
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3676-99184801)

[2015-05-05 19:18] rultor commented on #258
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3676-99184801) (took me 11min)

[2015-05-05 19:26] k0r commented on #258
@yegor256 site still isn't accessible with `0.3.20` source contains `BitlyException: INVALID_LOGIN`

[2015-05-05 19:30] k0r commented on #258
@yegor256 site inaccessible with `0.3.20` source contains `BitlyException: INVALID_LOGIN`

[2015-05-05 19:38] yegor256 commented on #258
@k0r hm.. that's strange... let me check bit.ly credentials

[2015-05-05 21:30] yegor256 commented on #258
@rultor release, tag is `0.3.21`

[2015-05-05 21:30] rultor commented on #258
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3676-99228979)

[2015-05-05 21:40] rultor commented on #258
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3676-99228979) (took me 9min)

[2015-05-05 21:41] yegor256 commented on #258
@k0r seems to be working now

[2015-05-05 21:42] yegor256 commented on #258
@caarlos0 as you see, I hard-coded our production bit.ly credentials, which is a wrong approach, and a very temporary one. Please, redesign it asap so that credentials come into MANIFEST.MF during Maven build

[2015-05-05 21:42] yegor256 commented on #241
@krzyk works fine now, thanks!

[2015-05-05 21:44] k0r commented on #258
@yegor256 thanks.

[2015-05-05 22:33] k0r opened #268 "readme.md requires copyright information"
readme.md should contain the copyright notice. read [this](http://www.yegor256.com/2015/05/04/how-to-protect-business-idea.html) post for more information.

[2015-05-05 22:48] k0r opened #269 "readme.md contains broken build status link"

[2015-05-05 22:57] yegor256 commented on #269
@k0r fixed

[2015-05-05 22:57] #269 closed

[2015-05-05 22:59] yegor256 commented on #266
@k0r not sure exactly what you mean. please elaborate

[2015-05-05 22:59] k0r commented on #269
@yegor256 thanks.

[2015-05-05 23:00] yegor256 commented on #268
@k0r fixed

[2015-05-05 23:01] yegor256 commented on #265
@k0r please elaborate, I'm not sure I understand

[2015-05-05 23:01] yegor256 commented on #264
@k0r please explain what do you mean, I'm not sure I understand

[2015-05-05 23:03] yegor256 commented on #260
@k0r at the moment it's hardcoded, see https://github.com/Nerodesk/nerodesk/blob/master/src/main/java/com/nerodesk/om/aws/AwsDocs.java#L95

are you sure we need to make this number configurable by admin?

[2015-05-05 23:04] k0r commented on #268
@yegor256 just the `Copyright (c) 2015, nerodesk.com All rights reserved` information is sufficient. all of the other information is in `license.txt`

[2015-05-05 23:09] k0r commented on #264
@yegor256 a page that renders file information once accessed from bit.ly or takes urls. then, we can implement the disqus panel here.

[2015-05-05 23:13] k0r commented on #265
@yegor256 see #264

[2015-05-05 23:13] k0r commented on #266
@yegor256 see #264

[2015-05-05 23:14] yegor256 commented on #268
@k0r fixed

[2015-05-05 23:14] #268 closed

[2015-05-05 23:15] k0r commented on #268
@yegor256 thanks.

[2015-05-05 23:23] k0r commented on #264
@yegor256 updated.

[2015-05-05 23:27] yegor256 commented on #264
@k0r yes, got it now

[2015-05-05 23:27] k0r commented on #264
@yegor256 thanks.

[2015-05-05 23:47] caarlos0 commented on #191
@karato I'm a little out of time, can you please assign to someone else?

[2015-05-05 23:56] caarlos0 commented on #258
@k0r @yegor256 @karato Working on it...

[2015-05-05 23:57] k0r commented on #191
@yegor256 does this ticket require a developer? #264 puts the sharing mechanism into focus.

[2015-05-06 00:11] k0r commented on #191
@yegor256 sharing with URNs is no longer required.

[2015-05-06 00:15] yegor256 commented on #191
@k0r this ticket is about sharing via email, and is needed. #264 is just about a front-end of a file, not a sharing mechanism

[2015-05-06 00:18] k0r commented on #191
@yegor256 I disagree. #264 is basically the sharing mechanism. and sharing by email is an editable parameter not dependent on URNs.

[2015-05-06 00:21] yegor256 commented on #191
#264 will just create a web page where some information about a file will be rendered, like file size, age, type, etc. that's it. there is no functionality there, just a rendering of the data we already have.

sharing is working only through URN's. email sharing is just a convenient extension on top of existing sharing mechanism, which is based on URNs. the only information we have about a user is

[2015-05-06 00:24] k0r commented on #191
@yegor256 it's up to the user to distribute bit.ly links that point to file information pages rendered by takes/tacit. URNs would be useful for controlling the access to an uploaded file.

[2015-05-06 00:31] k0r commented on #258
@yegor256 we should consider #264, as the bit.ly generated urls should redirect to the file information page where the takes url to the file location on aws can be read, rather than directly linking bit.ly to the file without first going to the file information page.

[2015-05-06 00:32] karato commented on #265
@k0r I will find a developer for the task soon...

[2015-05-06 00:32] karato commented on #264
@k0r this task will get someone's attention soon

[2015-05-06 00:32] k0r commented on #258
@yegor256 directly linking bit.ly to the file was the idea at first, but it's been updated.

[2015-05-06 00:50] k0r commented on #191
@yegor256 what if an access token is emailed rather than sharing with URNs. then, the file information page for private files would be accessed with the emailed access token whereas #264 is for public files with bit.ly.

[2015-05-06 01:07] caarlos0 commented on #258
@k0r @yegor256 @karato sorry, I'm with some trouble on my environment here (internet access). I'm aware this issue is urgent, so I'll ask to assign to someone else in case I don't get this fixed soon...

sorry

[2015-05-06 01:08] caarlos0 commented on #258
@karato please assign to someone else

[2015-05-06 01:29] karato commented on #244
@yegor256 **30 mins** added to your account (payment number `000-5934cef0`), many thanks for your contribution! 240 hours and 49 mins spent here.; +30 added to your rating, current score is: [+9238](http://www.netbout.com/b/35008?open=rating)

[2015-05-06 01:33] yegor256 commented on #191
@k0r sorry, I didn't understand the question

[2015-05-06 01:41] k0r commented on #191
@yegor256 is there an alternative way to share private files without URNs?

[2015-05-06 01:49] yegor256 commented on #191
@k0r I still don't understand the question. or it's not a question? don't see a question mark :) I would appreciate if you elaborate a bit more

[2015-05-06 01:50] k0r commented on #191
@yegor256 updated comment.

[2015-05-06 01:53] yegor256 commented on #191
@k0r in order to "share" my file with you we need to connect my account with yours. accounts are identified by URNs. so, there is no other way to connect our accounts, except through URNs

[2015-05-06 02:17] karato commented on #258
@caarlos0 30 points deducted from your rating

[2015-05-06 02:17] karato commented on #258
@caarlos0 got it, someone else will be assigned soon

[2015-05-06 03:31] karato commented on #191
@caarlos0 30 points was deducted from your rating

[2015-05-06 03:31] karato commented on #191
@caarlos0 right, I'll try to find someone else for this task

[2015-05-06 06:52] yegor256 commented on #258
@karato assign @darkled  to this pls

[2015-05-06 17:10] karato commented on #258
@yegor256 done, @darkled is a new assignment at the task, please go on. whoever worked with this task before, please stop right now

[2015-05-06 17:13] krzyk commented on #242
Sorry, I tried several times to find the root cause but I failed.

[2015-05-06 17:13] krzyk commented on #242
@k0r please assign someone else

[2015-05-06 18:20] k0r commented on #242
@krzyk [yegor256/takes#248](https://github.com/yegor256/takes/issues/248) could be related to this problem

[2015-05-06 18:25] krzyk commented on #242
@k0r I don't think so, I was able to recreate this problem even with small files. To recreate it (but only sometimes!) one can:
1. start the application with mocks
2. load the main page
3. upload any file (even 1 byte)
4. refresh the page

At 4 usually the stacktrace appears in the logs.
Also one has to readd `Logger.info(this, "Exception thrown\n%s", exc);` to `FbError` class, it is right now ign

[2015-05-06 18:40] karato commented on #241
@krzyk I just added **45 mins** to your account, many thanks for your contribution.. 56824390 spent here

the bonus for fast delivery (age=42 hours and 21 mins)

+45 added to your rating, current score is: [+4871](http://www.netbout.com/b/35035?open=rating)

[2015-05-06 18:51] k0r commented on #242
@krzyk check [this](https://github.com/dmzaytsev/takes/commit/63e952e8dc23ebccdae3922902dc61ea38fe0d46) out. `IOException` is modified.

[2015-05-06 19:43] k0r commented on #150
@karato any updates with this task?

[2015-05-06 21:07] yegor256 commented on #150
@karato pls close this ticket

[2015-05-06 21:09] k0r commented on #150
@yegor256 this hasn't been implemented yet.

[2015-05-06 21:13] k0r commented on #150
@yegor256 should a ticket requesting the layout to support directories be opened?

[2015-05-06 21:15] karato commented on #191
@darkled do this task

[2015-05-06 21:16] k0r commented on #191
@yegor256 we should postpone this task for now. sharing mechanism for private files isn't concise enough for task development. also, because this task seems quite laborious, I think alternative methods for sharing private files should be explored.

[2015-05-06 21:17] yegor256 commented on #150
@k0r we have it already: https://github.com/Nerodesk/nerodesk/issues/221

[2015-05-06 21:18] k0r commented on #191
@yegor256 sharing mechanism for private files isn't concise enough for task development.

[2015-05-06 21:22] k0r commented on #191
@yegor256 in the description, `unique URL` method should be explained.

[2015-05-06 21:34] k0r commented on #191
@yegor256 also, because this task seems quite laborious, I think alternative methods for sharing private files should be explored.

[2015-05-06 21:41] k0r commented on #150
@yegor256 thanks.

[2015-05-06 22:01] yegor256 commented on #191
@karato please postpone this one

[2015-05-06 22:09] k0r commented on #190
@karato any updates with this task?

[2015-05-06 22:09] k0r commented on #192
@karato any updates with this task?

[2015-05-06 22:10] k0r commented on #193
@karato any updates with this task?

[2015-05-06 22:12] k0r commented on #260
@yegor256 to be determined. thanks.

[2015-05-06 23:15] k0r commented on #191
@yegor256 how is the unique URL generated? will this require using a database to keep track of which URNs have access to the file?

[2015-05-06 23:17] yegor256 commented on #191
@k0r URL generation is explained in https://github.com/Nerodesk/nerodesk/issues/191#issuecomment-95726865

[2015-05-06 23:19] k0r commented on #191
@yegor256 will this require using a database to keep track of which URNs have access to the file?

[2015-05-06 23:22] yegor256 commented on #191
@k0r no, no persistence (database) will be required

[2015-05-06 23:39] k0r commented on #191
@yegor256 the description indicates that this is a solution to not having to know the other users URN. based on the ticket description, this method of sharing files privately is generating a link for every email address the user wants to share the file with. anyone with this link could access the file though, right?

[2015-05-06 23:49] yegor256 commented on #191
@k0r yes that's correct

[2015-05-06 23:57] k0r commented on #191
@yegor256 thanks for the clarification.

[2015-05-07 01:20] karato commented on #150
@yegor256 OK, the issue is closed as requested

[2015-05-07 01:21] karato commented on #191
@yegor256 sure, thanks, I added "postponed" tag to it

[2015-05-07 01:21] karato commented on #191
@yegor256 thanks, I removed the "urgent" tags

[2015-05-07 01:21] karato commented on #191
@yegor256 right, I will find someone else, no problem

[2015-05-07 01:56] k0r commented on #191
@karato you might want to take a look at the labels again.

[2015-05-07 02:06] karato commented on #257
@yegor256 Closing this issue now...

[2015-05-07 02:06] #257 closed

[2015-05-07 02:08] karato commented on #257
@pinaf Many thanks! **30 mins** were added to your account in Transaction ID `AP-7CL85627UC769562X` (task took 142 hours and 11 mins)... +30 added to your rating, current score is: [+7600](http://www.netbout.com/b/35128?open=rating)

[2015-05-07 02:08] karato commented on #191
@darkled this is your task

[2015-05-07 02:13] k0r commented on #191
@yegor256 isn't this supposed to be postponed? why does @karato keep changing the status of this ticket?

[2015-05-07 03:51] k0r opened #270 "bit.ly links return 404 not found"
links should point to beta.nerodesk.com instead of www.nerodesk.com for /doc/read?file=

[2015-05-07 05:44] k0r commented on #191
@yegor256 this task is supposed to be postponed. I don't know why @karato keeps changing the labels.

[2015-05-07 05:57] k0r commented on #191
@yegor256 thanks.

[2015-05-07 17:37] karato commented on #255
@pinaf do this task

[2015-05-07 17:37] karato commented on #256
@darkled do this task

[2015-05-07 19:54] yegor256 opened #271 "Github access permissions are broken"
Github team was deleted and access credentials revoked (I believe, accidentally). This has to be restored.

[2015-05-07 19:55] k0r commented on #271
@yegor256 a team wasn't deleted.

[2015-05-07 19:56] yegor256 commented on #271
@k0r yes it was. there was a team called `nerodesk`. now it's gone.

[2015-05-07 19:57] k0r commented on #271
@yegor256 it's been that way for a while.

[2015-05-07 20:16] yegor256 commented on #271
@k0r this is what has to be done:
1. team `Contributors` has to be renamed to `nerodesk`
2. all project participants have to added to that team, including @karato
3. team description has to be set to `alive; tech=java`

[2015-05-07 20:19] k0r commented on #271
@yegor256 fixed.

[2015-05-07 20:20] k0r commented on #271
@yegor256 fixed.

[2015-05-07 21:17] k0r commented on #271
@yegor256 everything good here?

[2015-05-07 21:21] karato commented on #271
@yegor256 attached this issue to milestone "0.7" (let me know if this is wrong)

[2015-05-07 21:22] k0r commented on #271
@karato the milestone 0.7 is used for planning and future implementations, not tickets that are resolved quickly.

[2015-05-07 21:25] karato commented on #271
@yegor256 do this task, 30 mins is budget

[2015-05-07 21:25] karato commented on #271
@yegor256 thanks for this bug, I topped your account for 15 mins, transaction `000-76d66938`

[2015-05-07 21:40] yegor256 commented on #271
@k0r all team members should be in that team, everybody who is working with the project now

[2015-05-07 21:46] k0r commented on #271
@yegor256 a list would help.

[2015-05-07 21:50] k0r commented on #271
@yegor256 please list all team members actively involved, and I'll add them to the team `nerodesk`

[2015-05-08 01:19] k0r commented on #270
@rultor hello

[2015-05-08 01:20] rultor commented on #270
@k0r Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2015-05-08 01:30] k0r commented on #270
@rultor release, tag is `0.3.22`

[2015-05-08 01:31] rultor commented on #270
@k0r Thanks for your request. @yegor256 Please confirm this.

[2015-05-08 01:35] yegor256 opened #272 "user interface cleanup"
Let's clean up user interface a bit, including:

- hardcoded the storage amount on the front page
- hardcoded file size on docs panel
- remove visibility of PayPal balance

[2015-05-08 01:38] k0r commented on #272
@yegor256 does this mean implementing total storage or just removing the xsl text?

[2015-05-08 01:38] yegor256 commented on #270
@k0r did you make any changes to the code? If yes, what is the commit hash?

[2015-05-08 01:39] k0r commented on #270
@yegor256 yes.

[2015-05-08 01:41] k0r commented on #270
@yegor256 [here](https://github.com/Nerodesk/nerodesk/commit/8f3113bf0ffb234cd6432bf5f644be3f14f621b5)

[2015-05-08 01:41] yegor256 commented on #270
@k0r when you make changes, make sure your commit messages start with the ticket number they are related to, just like I'm doing, see: https://github.com/Nerodesk/nerodesk/commits/master This way Github will link them automatically to the ticket

[2015-05-08 01:41] yegor256 commented on #270
@rultor release, tag is `0.3.22`

[2015-05-08 01:43] rultor commented on #270
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3704-100068899)

[2015-05-08 01:44] k0r commented on #270
@yegor256 sure thing.

[2015-05-08 01:45] karato commented on #272
@yegor256 there is no milestone yet, so I set it to `0.7`

[2015-05-08 01:51] k0r commented on #272
![nd_storage_amt_rnd_error](https://cloud.githubusercontent.com/assets/12001062/7529238/117683e8-f4ea-11e4-96ca-5b9ba72aa724.jpg)

[2015-05-08 01:52] karato commented on #272
@yegor256 your task, 30 mins is budget

[2015-05-08 01:53] rultor commented on #270
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3704-100068899) (took me 10min)

[2015-05-08 01:53] karato commented on #272
@yegor256 many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `000-78815a79`

[2015-05-08 01:55] k0r commented on #270
@yegor256 thanks for the confirmation.

[2015-05-08 01:55] #270 closed

[2015-05-08 02:08] yegor256 commented on #271
@k0r here you go: @darkled @caarlos0 @carlosmiranda @krzyk @dmzaytsev @pinaf @ggajos @longtimeago

[2015-05-08 03:04] yegor256 commented on #272
@rultor release, tag is `0.3.23`

[2015-05-08 03:05] rultor commented on #272
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3706-100084069)

[2015-05-08 03:14] rultor commented on #272
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3706-100084069) (took me 9min)

[2015-05-08 03:17] karato commented on #150
@ggajos paid, thanks, added **38 mins** to your account, payment `AP-1B540150B1749624W`, 382 hours and 1 min was spent

the bonus for fast delivery (age=2934)

+38 added to your rating, at the moment it is: [+3066](http://www.netbout.com/b/35094?open=rating)

[2015-05-08 03:19] yegor256 commented on #272
@k0r seems to be working, I'm closing the ticket

[2015-05-08 03:19] #272 closed

[2015-05-08 03:51] k0r opened #273 "total storage requires size metrics"
layout.xsl should include:

[code]

[2015-05-08 04:57] k0r commented on #273
@yegor256 let me know if this code checks out.

[2015-05-08 04:59] yegor256 commented on #273
@k0r FYI, see https://help.github.com/articles/github-flavored-markdown/

[2015-05-08 04:59] yegor256 commented on #273
@k0r yes, it looks correct to me

[2015-05-08 05:00] k0r commented on #273
@yegor256 thanks.

[2015-05-08 06:09] dmzaytsev commented on #219
@karato @yegor256 assign this task to me please

[2015-05-08 06:13] dmzaytsev commented on #220
@karato @yegor256 assign this task to me please

[2015-05-08 17:11] k0r commented on #273
@yegor256 would we use `size` or `$size` for `when test =` ?

[2015-05-08 17:15] k0r commented on #209
#272 fixed this.

[2015-05-08 17:31] k0r commented on #191
@yegor256 why are the labels getting changed like this?

[2015-05-08 17:33] k0r commented on #191
@karato please, stop changing the labels.

[2015-05-08 17:43] k0r commented on #273
@rultor hello

[2015-05-08 17:44] rultor commented on #273
@k0r Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2015-05-08 17:44] k0r commented on #273
@rultor release, tag is `0.3.24`

[2015-05-08 17:45] rultor commented on #273
@k0r Thanks for your request. @yegor256 Please confirm this.

[2015-05-08 18:48] k0r commented on #192
ticket merged with #193

[2015-05-08 18:48] k0r commented on #190
ticket merged with #193

[2015-05-08 18:49] #190 closed

[2015-05-08 18:49] #192 closed

[2015-05-08 18:56] yegor256 commented on #273
@rultor release, tag is `0.3.24`

[2015-05-08 18:57] rultor commented on #273
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3710-100327488)

[2015-05-08 18:59] yegor256 commented on #191
@k0r I fixed the tag

[2015-05-08 19:07] rultor commented on #273
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3710-100327488) (took me 10min)

[2015-05-08 19:12] k0r commented on #273
@yegor256 thanks for the confirmation.

[2015-05-08 19:13] #273 closed

[2015-05-08 19:20] k0r opened #274 "docs file requires file size"
online version of the file panel lists all of my docs at `977kb` whereas dev mode lists the correct sizes of uploaded docs files. to replicate, upload files into the online version of the system and check file sizes.

[2015-05-08 19:31] k0r commented on #274
@rultor hello

[2015-05-08 19:32] rultor commented on #274
@k0r Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2015-05-08 19:32] k0r commented on #274
@rultor release, tag is `0.3.25`

[2015-05-08 19:33] rultor commented on #274
@k0r Thanks for your request. @yegor256 Please confirm this.

[2015-05-08 21:35] karato commented on #191
@k0r @yegor256 sorry about the mess with labels, my bad

[2015-05-08 21:38] yegor256 commented on #274
@rultor release, tag is `0.3.25`

[2015-05-08 21:38] rultor commented on #274
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3713-100375257)

[2015-05-08 21:47] rultor commented on #274
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3713-100375257) (took me 8min)

[2015-05-09 00:45] pinaf opened #275 "file name causes file upload error"
I suspect this is because of the name of the file I tried to upload. It has uncommon characters: `Æsop_s_Fables_as_Romanized_by_Phædrus.pdf`

If so, there encoding of the file name should be used if we expect the system to handle UNICODE file names.

[code]

[2015-05-09 00:51] k0r commented on #275
@pinaf regex omits uncommon characters. the system should instruct the user to rename the file before retrying the file upload.

[2015-05-09 00:56] k0r commented on #275
@pinaf thanks.

[2015-05-09 00:59] pinaf opened #276 "Large file remains available and truncated"
When uploading a large file, even though the exception page is shown, the file shows up in the file listing when the list page is called again. See exception and screen shot below. Note the large file was truncated to 10Mb.

oops, something went wrong!
java.lang.IllegalArgumentException: Now you can't upload a file that is larger than 10000000 bytes

![nerodesk-large-file](https://cloud.githubuser

[2015-05-09 01:01] pinaf commented on #275
@k0r np

[2015-05-09 01:04] k0r commented on #276
@pinaf this is a duplicate of #252. copy the ticket description and post it as a comment.

[2015-05-09 01:15] pinaf commented on #276
@k0r Are you sure you don't want to keep the 2 issues separate (cancelled file and large file)?

[2015-05-09 01:18] k0r commented on #276
@pinaf it's the same problem. if a file is cancelled or if it exceeds the file limit, the panel contains the file.

[2015-05-09 01:28] pinaf commented on #252
When uploading a large file, even though the exception page is shown, the file shows up in the file listing when the list page is called again. See exception and screen shot below. Note the large file was truncated to 10Mb.

![nerodesk-large-file](https://cloud.githubusercontent.com/assets/1054771/7547912/6ce338be-f5cd-11e4-9f9f-95e825af4967.jpg)

[2015-05-09 01:31] k0r commented on #252
@pinaf did you upload the files in the screenshot today, or prior to today? you may have inadvertently found another bug with the document file sizes. all my documents are `977kb` whereas it seems to be working fine for you.

[2015-05-09 01:32] pinaf commented on #252
@k0r just now - in dev mode

[2015-05-09 01:32] #276 closed

[2015-05-09 01:55] k0r commented on #274
![nd_storage_amt_rnd_error](https://cloud.githubusercontent.com/assets/12001062/7548163/ca5aff82-f5b3-11e4-8cdc-73731de4c8b5.jpg)

[2015-05-09 01:55] k0r commented on #274
my files: all listed as `977kb` online
![nd_file_size_bug](https://cloud.githubusercontent.com/assets/12001062/7548164/cfd33128-f5b3-11e4-8cb7-7f5b0e77ba0a.jpg)

[2015-05-09 02:01] k0r commented on #274
pinafs files: various file sizes in dev mode
![nd_file_size_bug2](https://cloud.githubusercontent.com/assets/12001062/7548191/917abf12-f5b4-11e4-99b6-057a56ec10a9.jpg)

[2015-05-09 02:12] k0r commented on #252
@pinaf thanks.

[2015-05-09 02:16] k0r commented on #274
@yegor256 docs per file size differs online from dev mode. @pinaf helped me find this bug. thanks.

[2015-05-09 02:21] pinaf commented on #274
@k0r no problem :)

[2015-05-09 04:02] karato commented on #272
@yegor256 Much appreciated! **1 hour** was added to your account, payment ID `000-69478c7b`, time spent is 2 hours and 5 mins

m=125, that's why a bonus here for fast delivery

+60 to your rating, your total score is [+8874](http://www.netbout.com/b/35008?open=rating)

[2015-05-09 21:11] krzyk commented on #242
@karato please assign someone else

[2015-05-09 22:42] karato commented on #242
@krzyk -30 points to your rating

[2015-05-09 22:42] karato commented on #242
@krzyk I will assign somebody else to this issue

[2015-05-10 17:14] karato commented on #63
@yegor256 last 2 puzzles `97-5fc80ca1`/#170, `97-a27c5d4c`/#168 originated from here were solved

[2015-05-10 17:14] karato commented on #97
@yegor256 last 2 puzzles `97-5fc80ca1`/#170, `97-a27c5d4c`/#168 that originated from here were solved

[2015-05-11 03:25] pinaf commented on #255
@karato please see PR #277

[2015-05-11 17:09] karato commented on #255
@pinaf thank you, I will check it

[2015-05-12 03:09] karato commented on #218
@yegor256 The task description has been changed (see above). If there are concerns or objections, please give them to me right now. If not, please use the new version of the task description

[2015-05-13 00:44] pinaf commented on #255
@karato fixed!

[2015-05-13 22:55] karato opened #278 "TkSetVisibilityTest.java:95-99: Make visibility functionality in MkAttributes..."
Puzzle `255-bf924f1e` in `src/test/java/com/nerodesk/takes/doc/TkSetVisibilityTest.java:95-99` has to be resolved: Make visibility functionality in MkAttributes be a function of the underlying file instead of a boolean field. This is necessary in order for different instances of MkDoc which point to the same underlying file to see the same visibility status. Once this is done, un-ignore the test b

[2015-05-13 22:56] karato commented on #255
@yegor256 there is a puzzle in this code `255-bf924f1e`/#278, we'll resolve it later

[2015-05-13 22:56] karato commented on #218
@yegor256 The description of the task was changed (see above). If anybody has any questions or concerns about this change, please express them right now. Otherwise, please work with the new version

[2015-05-14 00:52] karato commented on #278
@yegor256 there is no milestone yet, so I set it to `0.7`

[2015-05-14 23:46] yegor256 opened #279 "takes 0.16.9"
Let's upgrade to takes 0.16.9 with faster RqMultipart (see https://github.com/yegor256/takes/issues/248)

[2015-05-14 23:46] yegor256 commented on #279
@rultor release, tag is `0.3.26`

[2015-05-14 23:46] #279 closed

[2015-05-14 23:47] rultor commented on #279
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3780-102202037)

[2015-05-14 23:56] rultor commented on #279
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3780-102202037) (took me 9min)

[2015-05-14 23:57] yegor256 commented on #279
@k0r the problem with big file upload should be solved. try it.

[2015-05-14 23:58] k0r commented on #274
@yegor256 bug confirmed?

[2015-05-15 00:09] karato commented on #209
@yegor256 Closed, thanks all

[2015-05-15 00:09] #209 closed

[2015-05-15 00:09] karato commented on #255
@yegor256 Thanks, closing it now.

[2015-05-15 00:09] #255 closed

[2015-05-15 00:11] karato commented on #255
@pinaf **30 mins** added to your account (payment number `AP-5JA90898Y5108981G`), many thanks for your contribution! 149 hours and 17 mins spent here.. +30 added to your rating, at the moment it is: [+7575](http://www.netbout.com/b/35128?open=rating)

[2015-05-15 00:15] k0r commented on #279
@yegor256 thanks.

[2015-05-15 00:49] k0r opened #280 "bit.ly integration requires cache for latency improvement"
latency to `beta.nerodesk.com` can be improved by implementing cache for bit.ly integration. normal site load is less than `100ms.` to replicate, connect to the site.

[2015-05-15 00:55] yegor256 commented on #274
@k0r can you please explain in the ticket description what the bug is about and how can I reproduce it

[2015-05-15 01:03] k0r commented on #274
@yegor256 updated.

[2015-05-15 01:39] yegor256 commented on #274
@karato it's a valid bug

[2015-05-15 03:36] karato commented on #274
@yegor256 tag "bug" added

[2015-05-15 18:52] k0r commented on #280
@yegor256 bug confirmed?

[2015-05-15 20:43] yegor256 commented on #280
@karato it's a valid bug

[2015-05-15 20:43] yegor256 commented on #280
@k0r we don't cache bit.ly responses and on every page load go to their server in order to create a new short URL. that's definitely redundant and must be fixed

[2015-05-15 20:44] k0r commented on #280
@yegor256 thanks.

[2015-05-15 22:07] karato commented on #280
@yegor256 tag "bug" added

[2015-05-15 22:52] karato commented on #280
@k0r attached this issue to milestone "0.7" (let me know if this is wrong)

[2015-05-16 18:55] karato commented on #278
@pinaf do this task

[2015-05-17 10:48] asaen commented on #258
@karato we're waiting for #281

[2015-05-17 11:06] asaen commented on #256
@karato we're waiting for #282

[2015-05-17 17:09] karato commented on #256
@darkled right, let's wait for #282

[2015-05-17 17:09] karato commented on #258
@darkled right, let's wait for #281

[2015-05-18 02:09] pinaf commented on #278
@karato please assign someone else

[2015-05-18 02:39] karato commented on #258
@yegor256 Issue #281 is already closed (we were waiting for it) Maybe we can continue..

[2015-05-18 03:13] karato commented on #278
@pinaf deducted 30 from your rating :(

[2015-05-18 03:13] karato commented on #278
@pinaf all right, we'll find someone else for this task

[2015-05-18 10:25] asaen commented on #258
@karato PR #281 merged, please close the issue if alright

[2015-05-18 20:20] karato commented on #213
@ghost I think we can continue, impediment #234 is closed

[2015-05-18 20:20] karato commented on #278
@carlosmiranda do this task

[2015-05-18 21:03] longtimeago commented on #213
@yegor256 we can close the issue I guess ... finally

[2015-05-18 21:24] yegor256 commented on #213
@rultor release, tag is `0.3.27`

[2015-05-18 21:24] rultor commented on #213
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3818-103216405)

[2015-05-18 21:35] rultor commented on #213
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3818-103216405) (took me 10min)

[2015-05-18 22:13] k0r commented on #258
@yegor256 site inaccessible with `0.3.27` source contains `bitlyj.BitlyException: INVALID_LOGIN`.

same thing that happened [here](https://github.com/Nerodesk/nerodesk/issues/258#issuecomment-99197367).

[2015-05-18 22:25] yegor256 commented on #258
@rultor release, tag is `0.3.28`

[2015-05-18 22:26] rultor commented on #258
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3676-103233905)

[2015-05-18 22:36] rultor commented on #258
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3676-103233905) (took me 10min)

[2015-05-18 22:44] yegor256 commented on #258
@k0r should be fine now

[2015-05-18 22:44] k0r opened #283 "null file field causes aws to return 404"
`amazonaws.services.s3.model.AmazonS3Exception: Not Found (Service: Amazon S3; Status Code: 404; Error Code: 404 Not Found [...])`. to replicate, click upload without a file selected.

[2015-05-18 23:19] yegor256 commented on #283
@k0r very close to #232 I would say we should fix that first and then this problem will just go away, I believe

[2015-05-19 00:42] karato commented on #283
@yegor256 don't close it, ask @k0r to do do it, since he created it, thanks!

[2015-05-19 01:32] karato commented on #283
@k0r since there is no milestone yet I set it to "0.7"

[2015-05-19 03:43] karato opened #284 "TkAdmin.java:54-57: Admin page should be accessible..."
Puzzle `213-408dfdc6` in `src/main/java/com/nerodesk/takes/TkAdmin.java:54-57` has to be resolved: Admin page should be accessible for predefined and hardcoded urns. Now it is accessible for any registered user. Please, specify several urns and check if logged user is authorized to see admin page. If not - redirect to root (?)... The puzzle was created by longtimeago on 22-Apr-2015.

If you have a

[2015-05-19 03:44] karato commented on #213
@ghost these 2 puzzles were created in this ticket: `213-c0f71aee`, `213-408dfdc6`/#284

[2015-05-19 14:08] carlosmiranda commented on #278
@karato waiting for #285 here.

[2015-05-19 17:16] karato commented on #284
@yegor256 I set milestone here to `0.7`, let me know if it is wrong

[2015-05-19 17:16] karato commented on #278
@carlosmiranda yes, waiting for #285

[2015-05-19 17:16] karato opened #286 "TkAdmin.java:51-53: Admin page shows docs of..."
Puzzle `213-c0f71aee` in `src/main/java/com/nerodesk/takes/TkAdmin.java:51-53` has to be resolved: Admin page shows docs of currently logged in user only. We need to show docs of all users. When done, please unignore TkAdminTest.returnsListOfDocsOfSeveralUsers() and check if it works.... The puzzle was created by longtimeago on 22-Apr-2015.

If you have any technical questions, don't ask me, submi

[2015-05-19 18:04] karato commented on #286
@yegor256 there is no milestone yet, so I set it to `0.7`

[2015-05-20 03:46] karato commented on #258
@yegor256 Done, the task is closed

[2015-05-20 03:46] #258 closed

[2015-05-20 03:48] karato commented on #258
@darkled Thanks so much! Your account was topped up for **45 mins** (transaction ID is `57661361`, the task took 25 hours and 2 mins); m=1502, that's why a bonus here for fast delivery; added +45 to your rating, now it is equal to [+2017](http://www.netbout.com/b/35091?open=rating)

[2015-05-21 10:33] longtimeago commented on #213
@yegor256 can we close the issue?

[2015-05-22 00:32] yegor256 commented on #213
@longtimeago yes, thanks!

[2015-05-22 01:21] karato commented on #213
@yegor256 please don't close it.. @ghost could you please close it, if it is done?

[2015-05-22 01:26] karato commented on #278
@yegor256 I think we can continue, impediment #285 is closed

[2015-05-22 01:50] k0r commented on #274
@yegor256 this is important for presentations.

[2015-05-22 01:50] k0r commented on #211
@yegor256 this is important for presentations.

[2015-05-22 01:51] k0r commented on #232
@yegor256 this is important for presentations.

[2015-05-22 06:51] k0r commented on #232
@yegor256 this needs to be fixed asap.

[2015-05-22 06:52] k0r commented on #211
@yegor256 this needs to be fixed asap.

[2015-05-22 06:52] k0r commented on #274
@yegor256 this needs to be fixed asap.

[2015-05-22 06:58] k0r commented on #213
@karato please stop asking @ghost to close issues. it's a deleted account, not a contributor on the project. this has been explained to you several times now.

[2015-05-22 21:42] k0r opened #287 "implement disqus for beta feedback"

[2015-05-22 21:50] k0r commented on #287
@rultor hello

[2015-05-22 21:51] rultor commented on #287
@k0r Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2015-05-22 21:51] k0r commented on #287
@rultor release, tag is `0.3.29`

[2015-05-22 21:52] rultor commented on #287
@k0r Thanks for your request. @yegor256 Please confirm this.

[2015-05-22 22:29] yegor256 commented on #287
@rultor release, tag is `0.3.29`

[2015-05-22 22:29] yegor256 commented on #287
@k0r keep in mind that it's a bad practice to commit directly to master branch, see http://www.yegor256.com/2014/07/21/read-only-master-branch.html

[2015-05-22 22:30] rultor commented on #287
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3877-104789170)

[2015-05-22 22:37] rultor commented on #287
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3877-104789170) (spent 7min)

[code]

[2015-05-22 22:39] yegor256 commented on #287
@k0r it's a bug in Github plugin, recently reported: https://github.com/github/maven-plugins/issues/88

[2015-05-22 22:39] yegor256 commented on #287
@rultor release, tag is `0.3.29`

[2015-05-22 22:40] rultor commented on #287
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3877-104790202)

[2015-05-22 22:41] k0r commented on #287
@yegor256 thanks.

[2015-05-22 22:48] rultor commented on #287
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3877-104790202) (took me 8min)

[2015-05-22 23:02] #287 closed

[2015-05-22 23:39] k0r commented on #150
@yegor256 not sure why this ticket was closed. submit button for creating a `dir` doesn't do anything.

[2015-05-22 23:53] yegor256 commented on #150
@k0r it doesn't do anything, but it was created. the implementation of folder creation will be done in other tickets, we'll create them later.

[2015-05-22 23:53] yegor256 commented on #150
@karato pls close this issue

[2015-05-22 23:59] yegor256 commented on #274
@karato pls assign @pinaf to this

[2015-05-22 23:59] yegor256 commented on #274
@pinaf can you fix this ASAP?

[2015-05-22 23:59] yegor256 commented on #211
@karato pls assign @dmzaytsev to this issue

[2015-05-23 00:00] yegor256 commented on #211
@dmzaytsev would be great if you fix this ASAP

[2015-05-23 00:00] yegor256 commented on #232
@karato pls assign @dmzaytsev to this problem

[2015-05-23 01:33] yegor256 commented on #213
@karato close it yourself pls

[2015-05-23 07:39] dmzaytsev commented on #211
@karato please see PR #288

[2015-05-23 08:17] k0r commented on #211
@dmzaytsev many thanks.

[2015-05-23 11:21] asaen commented on #256
@karato assign someone else here please

[2015-05-23 13:40] dmzaytsev commented on #232
@karato please see PR #289

[2015-05-23 18:08] k0r commented on #232
@dmzaytsev many thanks.

[2015-05-23 18:22] k0r commented on #280
@yegor256 please assign @dmzaytsev to this task.

[2015-05-23 18:30] yegor256 commented on #280
@karato assign @dmzaytsev to this task pls

[2015-05-23 19:46] dmzaytsev commented on #280
@karato please see PR #290

[2015-05-23 19:57] k0r commented on #280
@dmzaytsev thanks!

[2015-05-23 20:32] k0r commented on #274
@yegor256 lets reassign this task to @dmzaytsev.

[2015-05-24 17:05] pinaf commented on #274
@yegor256 @k0r sorry guys I fell ill last Friday and just got back to the computer now

[2015-05-24 18:17] k0r commented on #274
@pinaf welcome back ;-]

[2015-05-24 18:23] pinaf commented on #274
@k0r Is the online version localted at nerodesk.com? If so, I can't login with github :(

[2015-05-24 18:26] dmzaytsev commented on #274
@pinaf FYI #210

[2015-05-24 18:28] pinaf commented on #274
@dmzaytsev nice catch :) @k0r so there's a puzzle for it. why don't you let @dmzaytsev take care of it?

[2015-05-24 18:29] dmzaytsev commented on #274
@pinaf I can't fix it ASAP, sorry

[2015-05-24 18:54] k0r commented on #274
@dmzaytsev at your earliest convenience is ok, doesn't have to be ASAP (in this case).

[2015-05-25 07:19] dmzaytsev commented on #274
@k0r @yegor256 @pinaf @karato okay let's assign the puzzle #210 to me if you don't mind

[2015-05-25 17:37] k0r commented on #210
@yegor256 let's assign this task to @dmzaytsev.

[2015-05-25 18:18] yegor256 commented on #210
@karato assign @dmzaytsev to this pls

[2015-05-25 19:17] yegor256 commented on #274
@karato assign @dmzaytsev to this pls

[2015-05-25 20:51] longtimeago commented on #213
@yegor256 karato needs to be upgraded, he is too slow :)

[2015-05-25 22:09] karato commented on #150
@yegor256 closing, as asked

[2015-05-25 22:09] #150 closed

[2015-05-25 22:09] karato commented on #210
@yegor256 yep, done. @dmzaytsev it is your task now

[2015-05-25 22:09] karato commented on #211
@yegor256 done. @dmzaytsev you are assigned to this task. please proceed...

[2015-05-25 22:09] karato commented on #211
@dmzaytsev I will take a look, thanks

[2015-05-25 22:09] karato commented on #213
@yegor256 issue closes as you just asked

[2015-05-25 22:09] #213 closed

[2015-05-25 22:09] karato commented on #256
@darkled deducted 30 from your rating :(

[2015-05-25 22:09] karato commented on #256
@darkled right, I will find someone else, no problem

[2015-05-25 22:09] karato commented on #274
@yegor256 OK @pinaf please go ahead, this task is yours

[2015-05-25 22:09] karato commented on #274
@yegor256 of course! @dmzaytsev it's your ticket now, please go ahead

[2015-05-25 22:09] karato commented on #280
@yegor256 done. @dmzaytsev the task is yours, please go ahead

[2015-05-25 22:09] karato commented on #280
@dmzaytsev I will take a look, thanks

[2015-05-26 01:05] karato commented on #94
@ghost the last puzzle `94-7efd5d22`/#154 solved

[2015-05-26 01:05] karato commented on #160
@alevohin the last puzzle `160-88061572`/#215 originated from here solved

[2015-05-26 01:08] karato commented on #256
@yegor256 I think we can continue, impediment #282 is closed

[2015-05-26 01:08] karato commented on #256
@longtimeago do this task

[2015-05-26 13:39] dmzaytsev commented on #210
@karato please see PR #291

[2015-05-26 17:32] karato commented on #210
@dmzaytsev thanks, I'll take a look

[2015-05-26 17:55] longtimeago commented on #256
@karato PR https://github.com/Nerodesk/nerodesk/pull/292 is waiting for review

[2015-05-26 18:21] dmzaytsev commented on #232
@longtimeago the PR #289 has been merged. Could you close the task please ?

[2015-05-26 18:30] dmzaytsev commented on #232
@longtimeago sorry, I don't understand how I closed this ticket

please close it if alright

[2015-05-26 18:40] longtimeago commented on #232
@dmzaytsev yep, thank you very much!

[2015-05-26 18:40] #232 closed

[2015-05-26 22:41] #278 closed

[2015-05-26 22:41] karato commented on #278
@yegor256 We are done here, thanks all

[2015-05-26 22:43] karato commented on #278
@carlosmiranda **30 mins** sent to your balance (ID `58075257`), many thanks! It took 92 hours and 42 mins.. +30 to your rating, your total score is [+4201](http://www.netbout.com/b/35023?open=rating)

[2015-05-27 01:59] karato commented on #213
@longtimeago Many thanks! **38 mins** were added to your account in Transaction ID `58090907` (task took 172 hours and 43 mins)... age=2947, that's why a bonus here for fast delivery... +38 added to your rating, at the moment it is: [+4170](http://www.netbout.com/b/35024?open=rating)

[2015-05-27 08:56] dmzaytsev opened #293 "AWS multi-part upload"
There is the upload limit 5 Tb as described in the Readme. But in my  opinion the current implementation is not optimal for large files. We process the request from the browser, copy the data into the local file and then upload the file into S3 in the one request. I think it won't work good for a too big files. I suggest to make some upload process improvements.
* we have to create a new implement

[2015-05-27 21:57] k0r commented on #280
@rultor hello

[2015-05-27 21:57] rultor commented on #280
@k0r Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2015-05-27 21:58] k0r commented on #280
@rultor release, tag is `0.3.30`

[2015-05-27 21:58] rultor commented on #280
@k0r Thanks for your request. @yegor256 Please confirm this.

[2015-05-27 22:20] yegor256 commented on #280
@rultor release, tag is `0.3.30`

[2015-05-27 22:21] rultor commented on #280
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3944-106096730)

[2015-05-27 22:28] rultor commented on #280
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3944-106096730) (took me 7min)

[2015-05-28 00:21] karato commented on #114
@dmzaytsev do this task

[2015-05-28 01:13] karato commented on #218
@yegor256 please, pay attention to this:

some tasks in the project are "stuck": #205 (90 days), #115 (66 days), #114 (66 days), #129 (64 days), #130 (64 days), #134 (63 days), #208 (49 days), #145 (61 days), #151 (61 days), #172 (55 days), #175 (55 days), #176 (54 days), #177 (54 days), #210 (49 days), #211 (49 days), #198 (51 days), #218 (48 days), #219 (49 days), #193 (48 days), #220 (47 days),

[2015-05-28 02:56] karato commented on #115
@pinaf do this task

[2015-05-28 03:34] dmzaytsev commented on #280
@k0r We may close close this issue now. Implemented in #290

[2015-05-28 03:41] dmzaytsev commented on #211
@karato we may close this task. implemented in #288

[2015-05-28 16:48] pinaf commented on #115
@karato please assign someone else

[2015-05-28 17:51] karato commented on #115
@pinaf deducted 30 from your rating :(

[2015-05-28 17:51] karato commented on #115
@pinaf all right, we'll find someone else for this task

[2015-05-28 18:16] k0r commented on #274
@rultor hello

[2015-05-28 18:17] rultor commented on #274
@k0r Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2015-05-28 18:18] k0r commented on #274
@rultor release, tag is `0.3.31`

[2015-05-28 18:18] dmzaytsev commented on #210
@karato fixed in #291 close this ticket please

[2015-05-28 18:19] rultor commented on #274
@k0r Thanks for your request. @yegor256 Please confirm this.

[2015-05-28 18:26] longtimeago commented on #256
@karato PR was merged. Please, close the issue

[2015-05-28 18:47] yegor256 commented on #274
@rultor release, tag is `0.3.31`

[2015-05-28 18:47] rultor commented on #274
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3713-106563812)

[2015-05-28 18:54] rultor commented on #274
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3713-106563812) (took me 7min)

[2015-05-28 18:54] dmzaytsev commented on #114
@longtimeago Could you elaborate a bit more? How AWS credetials should be provided for this integration test?

[2015-05-28 18:55] k0r commented on #274
@yegor256 `java.lang.NullPointerException`

[2015-05-28 18:56] k0r commented on #274
@yegor256 this needs to be fixed asap. the site is getting social media traction.

[2015-05-28 18:57] longtimeago commented on #114
@dmzaytsev Have no idea. Feel free to post an issue with question

[2015-05-28 19:00] dmzaytsev commented on #274
@k0r @yegor256 I wiil fix it. NPE occurs only on online version.

[2015-05-28 19:03] k0r commented on #274
@dmzaytsev the site isn't accessible. `error on line 1 at column 1: Document is empty`

[2015-05-28 19:11] k0r commented on #274
@dmzaytsev please provide an ETA of when this will be fixed.

[2015-05-28 19:15] dmzaytsev commented on #274
@k0r 5 min

[2015-05-28 19:19] k0r commented on #274
@rultor release, tag is `0.3.32`

[2015-05-28 19:20] rultor commented on #274
@k0r Thanks for your request. @yegor256 Please confirm this.

[2015-05-28 19:21] dmzaytsev commented on #274
@k0r one  more commit

[2015-05-28 19:27] karato commented on #205
@yegor256 The task description has been changed (see above). If there are concerns or objections, please give them to me right now. If not, please use the new version of the task description

[2015-05-28 19:44] k0r commented on #274
@rultor release, tag is `0.3.32`

[2015-05-28 19:46] dmzaytsev opened #296 "online instance for test purposes"
I think we need a new online instance for test purposes (e.g. test.nerodesk.com)
Because mocking AWS don't allow to test the real AWS object

[2015-05-28 19:49] rultor commented on #274
@k0r Thanks for your request. @yegor256 Please confirm this.

[2015-05-28 19:52] dmzaytsev opened #297 "integration test requires storage credentials"
How AWS credentials should be provided for an integration test #114?

[2015-05-28 19:53] dmzaytsev commented on #114
@karato we are waiting for #297

[2015-05-28 20:02] k0r commented on #280
@dmzaytsev bit.ly links are all the same.

[2015-05-28 20:08] k0r commented on #274
@dmzaytsev many thanks.

[2015-05-28 20:16] dmzaytsev opened #298 ""Infinitybytes" instead actual file size"
Size for a small file shows as `Infinitybytes` instead actual size
on screenshot below the file test.txt has size 4 bytes

![2015-05-29 01_11_46-docs](https://cloud.githubusercontent.com/assets/9972909/7870025/48508584-05a8-11e5-9958-4eb2ea5d846b.png)

[2015-05-28 20:17] k0r commented on #298
@dmzaytsev online version looks fine.

[2015-05-28 20:20] dmzaytsev commented on #298
@k0r try to upload a small file (<10 bytes)
I made this screeshort on online version

[2015-05-28 20:28] k0r commented on #298
would this fix it?
[code]

[2015-05-28 20:31] k0r commented on #274
@rultor release, tag is `0.3.33`

[2015-05-28 20:32] rultor commented on #274
@k0r Thanks for your request. @yegor256 Please confirm this.

[2015-05-28 20:44] karato commented on #221
@pinaf this is your task

[2015-05-28 21:16] k0r commented on #280
@dmzaytsev bit.ly links were functioning until today.

[2015-05-28 21:49] karato commented on #114
@dmzaytsev yes, waiting for #297

[2015-05-28 22:56] k0r commented on #274
@yegor256 confirm?

[2015-05-28 22:59] yegor256 commented on #274
@rultor release, tag is `0.3.33`

[2015-05-28 22:59] rultor commented on #274
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3713-106622298)

[2015-05-28 23:04] rultor commented on #274
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3713-106622298) (spent 5min)

[code]

[2015-05-29 01:06] k0r opened #299 "travis ci build status is broken"

[2015-05-29 01:18] k0r commented on #274
`

[2015-05-29 01:23] karato commented on #211
@yegor256 Thanks, closed

[2015-05-29 01:23] #211 closed

[2015-05-29 01:23] karato commented on #256
@yegor256 Thanks all, I am closing

[2015-05-29 01:23] #256 closed

[2015-05-29 01:25] karato commented on #211
@dmzaytsev thanks, paid, **38 mins** to your account, payment ID is `58197581`, task took 50 hours and 59 mins to complete

there is a bonus for fast delivery (m=3059)

+38 to your rating, your total score is [+1936](http://www.netbout.com/b/35166?open=rating)

[2015-05-29 01:25] karato commented on #256
@longtimeago thank you, added **38 mins** to your acc, payment num is `58197593`, 48 hours spent in total to complete

there is a bonus for fast delivery (m=2880)

+38 to your rating, your total score is [+4271](http://www.netbout.com/b/35024?open=rating)

[2015-05-29 02:36] pinaf commented on #221
@karato see PR #300

[2015-05-29 03:38] dmzaytsev commented on #280
@yegor256 should we open a new issue in this case?

[2015-05-29 03:44] k0r opened #301 "bit.ly links are broken"
all of the bit.ly generated links are the same.

[2015-05-29 03:47] k0r commented on #280
@dmzaytsev #301

[2015-05-29 03:48] dmzaytsev commented on #301
@yegor256 @karato please assign it to me

[2015-05-29 03:48] karato commented on #221
@pinaf thank you, I will check it

[2015-05-29 03:49] k0r commented on #280
@dmzaytsev this ticket might also be broken as well. latency has increased.

[2015-05-29 05:47] dmzaytsev opened #302 "#301 bit.ly links are broken"
For #301
* Current cache implementation works inside Doc instance, but we create docs on every page load. It makes cache useless. Implemented single static cache for short urls to avoid this.
* improved the unit test

[2015-05-29 05:48] #302 closed

[2015-05-29 05:59] dmzaytsev commented on #280
@k0r should be resolved in #303

[2015-05-29 06:05] k0r commented on #301
@dmzaytsev thanks.

[2015-05-29 06:06] k0r commented on #280
@dmzaytsev thanks.

[2015-05-29 12:08] dmzaytsev commented on #274
@k0r I think we may close this issue. It fixed in #291

[2015-05-29 18:45] k0r commented on #274
@yegor256 release tag failed.

[2015-05-29 18:56] k0r commented on #299
@dmzaytsev new PRs are failing because the `master` branch is broken.

[2015-05-29 20:10] k0r commented on #299
@dmzaytsev can you fix this?

[2015-05-29 20:15] k0r commented on #299
can anyone fix this?

[2015-05-30 00:30] yegor256 commented on #274
@k0r yes, because master is broken :(

[2015-05-30 00:30] k0r commented on #299
@rultor can't deploy, merge, or release until the `master` branch is fixed.

[2015-05-30 00:31] yegor256 commented on #299
@karato assign @dmzaytsev to this pls

[2015-05-30 00:31] rultor commented on #299
@k0r Thanks for your request. @yegor256 Please confirm this.

[2015-05-30 01:27] karato commented on #299
@k0r we will find someone to do this task, soon

[2015-05-30 01:27] karato commented on #299
@k0r there is no milestone yet, so I set it to `0.4`

[2015-05-30 03:12] karato commented on #299
@yegor256 done. @dmzaytsev the task is yours, please go ahead

[2015-05-30 04:12] dmzaytsev commented on #299
@karato please see PR #304

[2015-05-30 04:16] dmzaytsev commented on #301
@yegor256 is this issue classified as bug?

[2015-05-30 04:33] dmzaytsev commented on #274
@k0r could you please close this issue? It fixed in #291

[2015-05-30 04:34] dmzaytsev commented on #210
@karato fixed in #291 close this ticket please

[2015-05-30 17:43] karato commented on #299
@dmzaytsev thanks, I'll take a look

[2015-05-31 02:30] karato commented on #218
@yegor256 There are a few concerns:

some tasks in the project are "stuck": #205 (93 days), #115 (69 days), #114 (69 days), #129 (67 days), #130 (67 days), #134 (66 days), #208 (53 days), #145 (64 days); please do something about it ASAP. You basically have three options: 1) mark some of them as "postponed" ([par.26](http://www.teamed.io/policy.html#26)), 2) re-assign them ([par.29](http://www.tea

[2015-05-31 18:12] pinaf commented on #221
@karato we're waiting for #299 here

[2015-05-31 20:20] karato commented on #221
@pinaf yes, of course, we'll wait for #299

[2015-06-01 05:45] dmzaytsev commented on #280
@karato we're waiting for #299 here

[2015-06-01 05:46] dmzaytsev commented on #274
@karato we need more time here

[2015-06-01 05:46] dmzaytsev commented on #210
@karato fixed in #291 close this ticket please

[2015-06-01 18:01] karato commented on #274
@dmzaytsev yes, take your time, thanks for letting me know

[2015-06-01 18:01] karato commented on #280
@dmzaytsev yep, got it, let's wait for #299 being solved

[2015-06-01 18:12] k0r opened #305 "docs panel update"
update the docs panel to look like the following image.
- comment out new directory feature (implementation postponed indefinitely)
- comment out email sharing feature (email takes `link` sharing postponed indefinitely)
- move bit.ly `link` to options column underneath `delete`
- rename `link` to `share`
- file permission checkbox (if `public` and `private` file visibility is near completion or co

[2015-06-01 18:37] k0r commented on #305
@yegor256 updated.

[2015-06-01 18:41] k0r commented on #305
@yegor256 how close is `public` and `private file visibility to implementation?

[2015-06-01 19:04] k0r commented on #218
@karato these kinds of comments aren't necessary.

[2015-06-01 19:13] k0r commented on #299
@dmzaytsev thanks.

[2015-06-01 19:13] #299 closed

[2015-06-01 19:14] k0r commented on #274
@rultor hello

[2015-06-01 19:14] rultor commented on #274
@k0r Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2015-06-01 19:14] k0r commented on #274
@rultor release, tag is `0.3.33`

[2015-06-01 19:15] rultor commented on #274
@k0r Thanks for your request. @yegor256 Please confirm this.

[2015-06-01 19:16] k0r commented on #293
@dmzaytsev thanks.

[2015-06-01 19:18] yegor256 commented on #274
@rultor release, tag is `0.3.33`

[2015-06-01 19:18] rultor commented on #274
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3713-107675784)

[2015-06-01 19:27] rultor commented on #274
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3713-107675784) (took me 8min)

[2015-06-01 19:29] k0r commented on #274
@dmzaytsev thanks.

[2015-06-01 19:29] #274 closed

[2015-06-01 19:38] k0r commented on #301
@rultor release, tag is `0.3.34`

[2015-06-01 19:42] rultor commented on #301
@k0r Thanks for your request. @yegor256 Please confirm this.

[2015-06-01 19:43] yegor256 commented on #301
@rultor release, tag is `0.3.34`

[2015-06-01 19:44] rultor commented on #301
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/4009-107681889)

[2015-06-01 19:52] rultor commented on #301
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/4009-107681889) (took me 7min)

[2015-06-01 19:53] k0r commented on #301
@dmzaytsev thanks.

[2015-06-01 19:55] k0r commented on #280
@dmzaytsev thanks.

[2015-06-01 19:55] #280 closed

[2015-06-01 20:05] k0r commented on #271
added @darkled @caarlos0 @carlosmiranda @krzyk @dmzaytsev @pinaf @ggajos @longtimeago to `nerodesk` team.

[2015-06-01 20:23] k0r commented on #305
@yegor256 how close is `public` and `private` file visibility to implementation?

[2015-06-01 20:45] karato commented on #221
@yegor256 we waited for #299, it is closed already

[2015-06-01 21:22] k0r commented on #305
@yegor256 this is a landmark ticket, let's make an effort to complete it. once it's finished, `nerodesk` will have pivoted towards project completion.

[2015-06-01 21:57] yegor256 commented on #115
@karato this task is postponed

[2015-06-01 21:57] yegor256 commented on #114
@karato this task is postponed

[2015-06-01 21:57] yegor256 commented on #129
@karato this task is postponed

[2015-06-01 21:57] yegor256 commented on #130
@karato this task is postponed

[2015-06-01 21:58] yegor256 commented on #134
@karato this task is postponed

[2015-06-01 21:58] yegor256 commented on #208
@karato this task is postponed

[2015-06-01 21:58] yegor256 commented on #145
@karato this task is postponed

[2015-06-01 21:58] yegor256 commented on #172
@karato this task is postponed

[2015-06-01 21:58] yegor256 commented on #175
@karato this task is postponed

[2015-06-01 21:58] yegor256 commented on #176
@karato this task is postponed

[2015-06-01 21:58] yegor256 commented on #177
@karato this task is postponed

[2015-06-01 21:59] yegor256 commented on #210
@rultor deploy

[2015-06-01 21:59] #242 closed

[2015-06-01 22:00] rultor commented on #210
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/4011-107725530)

[2015-06-01 22:00] yegor256 commented on #263
@k0r I think we can close this ticket, right?

[2015-06-01 22:00] yegor256 commented on #265
@karato this task is postponed

[2015-06-01 22:01] #271 closed

[2015-06-01 22:01] k0r commented on #263
@yegor256 thanks.

[2015-06-01 22:01] #263 closed

[2015-06-01 22:01] yegor256 commented on #283
@k0r is it still a problem? please check again

[2015-06-01 22:02] k0r commented on #283
@yegor256 thanks.

[2015-06-01 22:02] #283 closed

[2015-06-01 22:04] rultor commented on #210
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/4011-107725530) (took me 4min)

[2015-06-01 22:10] k0r commented on #305
@yegor256 updated.

[2015-06-02 00:41] karato commented on #115
@yegor256 thanks, I added the "postponed" tag

[2015-06-02 00:41] karato commented on #115
@yegor256 no problem, I will try to find somebody else

[2015-06-02 00:41] karato commented on #114
@yegor256 sure, thanks, I added "postponed" tag to it

[2015-06-02 00:41] karato commented on #114
@yegor256 all right, we'll find someone else for this task

[2015-06-02 00:41] karato commented on #129
@yegor256 right, I added "postponed" tag

[2015-06-02 00:41] karato commented on #129
@yegor256 no problem, I will try to find somebody else

[2015-06-02 00:41] karato commented on #130
@yegor256 right, I added "postponed" tag

[2015-06-02 00:41] karato commented on #130
@yegor256 someone else will help in this task, no problem at all

[2015-06-02 00:41] karato commented on #134
@yegor256 got it, "postponed" tag here

[2015-06-02 00:41] karato commented on #134
@yegor256 got it, someone else will be assigned soon

[2015-06-02 00:41] karato commented on #208
@yegor256 OK, I labeled it as "postponed" tag

[2015-06-02 00:41] karato commented on #145
@yegor256 OK, I labeled it as "postponed" tag

[2015-06-02 00:41] karato commented on #208
@yegor256 got it, someone else will be assigned soon

[2015-06-02 00:41] karato commented on #145
@yegor256 I will ask somebody else to pick this up

[2015-06-02 00:41] karato commented on #172
@yegor256 OK, I labeled it as "postponed" tag

[2015-06-02 00:41] karato commented on #172
@yegor256 OK, I will try to assign someone else

[2015-06-02 00:41] karato commented on #175
@yegor256 OK, I labeled it as "postponed" tag

[2015-06-02 00:41] karato commented on #175
@yegor256 right, I will find someone else, no problem

[2015-06-02 00:41] karato commented on #176
@yegor256 thanks, I added the "postponed" tag

[2015-06-02 00:41] karato commented on #176
@yegor256 I will ask somebody else to pick this up

[2015-06-02 00:41] karato commented on #177
@yegor256 OK, I labeled it as "postponed" tag

[2015-06-02 00:41] karato commented on #177
@yegor256 I will assign somebody else to this issue

[2015-06-02 00:41] karato commented on #265
@yegor256 got it, "postponed" tag here

[2015-06-02 00:41] karato commented on #265
@yegor256 got it, someone else will be assigned soon

[2015-06-02 01:05] k0r opened #306 "downloaded file missing file name and extension"
a downloaded file from the `docs` panel is missing the appropriate file name and extension. the file downloaded is simply called `read` without the appropriate name and extension. the file name should be identical to the file name and extension that is listed in the `docs` panel.

to replicate, upload a file then download.

[2015-06-02 01:06] k0r commented on #306
@yegor256 this needs to be fixed asap.

[2015-06-02 01:10] k0r commented on #306
@yegor256 this needs to be fixed asap.

[2015-06-02 01:15] pinaf commented on #221
@yegor256 so what do I do here?

[2015-06-02 01:17] pinaf commented on #221
@karato I need more time here

[2015-06-02 03:22] karato commented on #221
@pinaf agreed, take your time

[2015-06-02 05:32] dmzaytsev commented on #210
@karato fixed in #291 close this ticket please

[2015-06-02 05:40] dmzaytsev commented on #210
@yegor256 please pay attention to this ticket
something went wrong here
I fixed the issue ASAP as requested, PR merged 4 days ago
but @karato didn't close the ticket yet

I don't want to be fined for 7 days delay :)

[2015-06-02 05:40] yegor256 commented on #210
@rultor deploy

[2015-06-02 05:41] yegor256 commented on #210
@dmzaytsev it'll be closed soon

[2015-06-02 11:26] dmzaytsev commented on #306
@karato please see PR #307

[2015-06-02 12:01] dmzaytsev commented on #301
@yegor256 should I expect a payment for this ticket?
I understand that it is my fault the ticket didn't classify as bug and I didn't assign to the ticket. But it was an urgent issue and I see that the changes were accepted

[2015-06-02 15:03] yegor256 commented on #301
@dmzaytsev indeed, it's your fault, the task was never assigned to you. don't do it like this, it's against of the entire management model.

[2015-06-02 16:36] k0r commented on #306
@dmzaytsev thanks.

[2015-06-02 17:32] k0r commented on #301
@yegor256 an exception should be provided for @dmzaytsev in this case.

[2015-06-02 17:44] karato commented on #306
@k0r milestone set to `0.4` (correct me if I am wrong)

[2015-06-02 17:50] karato commented on #306
@dmzaytsev do this task, 30 mins is budget

[2015-06-02 19:49] karato commented on #306
@dmzaytsev thank you, I will check it

[2015-06-02 20:38] k0r commented on #305
@yegor256 developers for this ticket required.

[2015-06-02 21:10] yegor256 commented on #305
@karato assign @dmzaytsev pls

[2015-06-02 21:14] k0r opened #308 "login panel requires update"
update the `login` panel to look like the following image.
- implement logging in with `twitter`
- implement logging in with `github`

![login_page_update](https://cloud.githubusercontent.com/assets/12001062/7947391/a4b41340-0931-11e5-9e7e-be14b0373048.jpg)

[2015-06-02 21:19] yegor256 commented on #301
@k0r OK, I reopened it and it will be assigned to @dmzaytsev soon. Then, he will ask you to close it. Once you close, the task will be paid

[2015-06-02 21:20] k0r commented on #301
@yegor256 thanks.

[2015-06-02 21:21] k0r opened #309 "storage account requires moving"
`AWS` storage account needs to be switched from `teamed.io` to `nerodesk`

[2015-06-02 21:24] karato commented on #305
@k0r this task will get someone's attention soon

[2015-06-02 21:24] karato commented on #301
@k0r since the ticket has no milestone I set it to 0.4

[2015-06-02 21:24] karato commented on #305
@k0r milestone set to `0.4` (correct me if I am wrong)

[2015-06-02 21:28] k0r commented on #193
@yegor256 this ticket can be closed.

[2015-06-02 21:29] yegor256 commented on #193
@karato pls close this one

[2015-06-02 21:33] karato commented on #274
@dmzaytsev Much appreciated! **30 mins** was added to your account, payment ID `58538977`, time spent is 166 hours and 30 mins; added +30 to your rating, now it is equal to [+2057](http://www.netbout.com/b/35166?open=rating)

[2015-06-02 21:33] karato commented on #280
@dmzaytsev **30 mins** was added to your account, many thanks for your contribution! The task took 58538985.... added +30 to your rating, now it is equal to [+2087](http://www.netbout.com/b/35166?open=rating)

[2015-06-02 21:33] karato commented on #299
@dmzaytsev Thanks for your contribution, **38 mins** was added to your account, payment ID is `58539008`, 65 hours and 28 mins spent total; the bonus for fast delivery (m=3928); +38 to your rating, your total score is [+2125](http://www.netbout.com/b/35166?open=rating)

[2015-06-02 21:33] karato commented on #301
@dmzaytsev do this task, 30 mins is budget

[2015-06-02 22:10] karato commented on #305
@maurezen this is your task

[2015-06-03 00:33] yegor256 commented on #309
@k0r I'll take care of this as we discussed

[2015-06-03 00:34] yegor256 commented on #308
@k0r would be easier to replace twitter with Google+. Easier for me, implementation wise. What do you think?

[2015-06-03 00:35] yegor256 commented on #301
@k0r you can close this ticket

[2015-06-03 00:37] yegor256 commented on #297
@dmzaytsev doesn't look like a bug to me, see http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html#5.-report-when-it-is-broken

[2015-06-03 00:37] #297 closed

[2015-06-03 00:37] yegor256 commented on #296
@dmzaytsev again, it's not a bug, but a question, see http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html#5.-report-when-it-is-broken

[2015-06-03 00:37] #296 closed

[2015-06-03 00:44] karato commented on #193
@yegor256 OK, I have closed the issue as requested

[2015-06-03 00:44] #193 closed

[2015-06-03 00:45] karato commented on #305
@yegor256 of course! @dmzaytsev it's your ticket now, please go ahead

[2015-06-03 00:45] k0r commented on #308
@yegor256 twitter is preferred, that's where `nerodesk` has a growing social media presence.

[2015-06-03 00:45] k0r commented on #309
@yegor256 thanks.

[2015-06-03 00:46] k0r commented on #301
@yegor256 thanks.

[2015-06-03 00:46] #301 closed

[2015-06-03 00:46] yegor256 commented on #308
@k0r ok, twitter it is

[2015-06-03 00:47] k0r commented on #308
@yegor256 thanks.

[2015-06-03 00:48] #205 closed

[2015-06-03 00:48] #210 closed

[2015-06-03 00:48] karato commented on #205
@yegor256 Closing this issue now...

[2015-06-03 00:48] karato commented on #210
@yegor256 Closed, thanks all

[2015-06-03 00:51] karato commented on #114
@longtimeago FYI, the issue we were waiting for (#297) is fixed

[2015-06-03 00:51] karato commented on #210
@dmzaytsev Thanks a lot, I just topped your account for **30 mins**, transaction ID `58550368`, total time was 168 hours and 41 mins... +30 added to your rating, current score is: [+2155](http://www.netbout.com/b/35166?open=rating)

[2015-06-03 00:51] karato commented on #263
@yegor256 Many thanks! **30 mins** were added to your account in Transaction ID `000-8f26d565` (task took 725 hours and 13 mins); +30 added to your rating, current score is: [+6991](http://www.netbout.com/b/35008?open=rating)

[2015-06-03 00:51] karato commented on #271
@yegor256 Thanks for your contribution, **30 mins** was added to your account, payment ID is `000-18e09e96`, 601 hours and 27 mins spent total. +30 to your rating, your total score is [+7021](http://www.netbout.com/b/35008?open=rating)

[2015-06-03 01:17] dmzaytsev commented on #301
@k0r @yegor256 thank you very much!

[2015-06-03 01:47] k0r commented on #306
@rultor hello

[2015-06-03 01:48] rultor commented on #306
@k0r Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2015-06-03 01:49] k0r commented on #306
@rultor release, tag is `0.3.35`

[2015-06-03 01:49] rultor commented on #306
@k0r Thanks for your request. @yegor256 Please confirm this.

[2015-06-03 01:58] karato commented on #151
@maurezen this is your task

[2015-06-03 02:13] yegor256 commented on #306
@rultor release, tag is `0.3.35`

[2015-06-03 02:14] rultor commented on #306
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/4034-108162758)

[2015-06-03 02:21] karato commented on #198
@maurezen do this task

[2015-06-03 02:22] rultor commented on #306
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/4034-108162758) (took me 8min)

[2015-06-03 02:25] k0r commented on #306
@dmzaytsev thanks.

[2015-06-03 04:06] k0r opened #310 "file integrity loss after upload"
uploaded files loose integrity and become corrupted. to replicate, upload a file then download.

so far, here are the file types that are affected:

**.mp4** [[before](http://www.nerodesk.com/ticket310/test_movie_before.mp4) | [after](http://www.nerodesk.com/ticket310/test_movie_after.mp4)]
`file size: 9mb`
`after 15 seconds, the video isn't consistent with original.`

**.jpg** [[before](http://ww

[2015-06-03 04:17] k0r commented on #310
@yegor256 ...

[2015-06-03 04:44] yegor256 commented on #221
@karato it's postponed

[2015-06-03 04:46] yegor256 commented on #151
@karato it's postponed

[2015-06-03 06:26] k0r commented on #310
@yegor256 any ideas?

[2015-06-03 06:36] dmzaytsev commented on #306
@k0r  PR #307 fixed this issue please close if alright

[2015-06-03 06:49] #306 closed

[2015-06-03 06:50] k0r commented on #310
@dmzaytsev suggestions?

[2015-06-03 07:35] dmzaytsev commented on #310
@k0r it needs to be investigated... Is it reproduceble on the local instance?

[2015-06-03 07:50] k0r commented on #310
@dmzaytsev let me know if it is.

[2015-06-03 15:15] dmzaytsev commented on #305
@karato please see PR #311

[2015-06-03 17:14] k0r commented on #310
@yegor256 this ticket should be prioritized and fixed. can't have files getting corrupted.

[2015-06-03 17:49] k0r opened #312 "server requires handling multiple requests"
unable to access www.nerodesk.com. here are the stack traces:

[code]
and from [this](https://github.com/Nerodesk/nerodesk/issues/312#issuecomment-108654045):

`Exception in thread "main" java.net.SocketException: Too many open files`

if the server has too many requests for file `read` then it causes the referenced errors.

[2015-06-03 17:51] k0r commented on #312
@yegor256 seems to have been fixed. perhaps `aws` was down. will keep this ticket open for a few hours to verify.

[2015-06-04 00:10] yegor256 commented on #312
@k0r they are not saying about it: http://status.aws.amazon.com/

[2015-06-04 00:13] yegor256 commented on #312
@k0r here is what I see in logs:

[code]

[2015-06-04 01:28] k0r commented on #310
@yegor256 system can't be used until this is fixed. this ticket should be prioritized.

[2015-06-04 01:28] karato commented on #151
@yegor256 sure, thanks, I added "postponed" tag to it

[2015-06-04 01:28] karato commented on #151
@yegor256 no problem, I will try to find somebody else

[2015-06-04 01:28] karato commented on #221
@yegor256 thanks, I added the "postponed" tag

[2015-06-04 01:28] karato commented on #221
@yegor256 OK, I will try to assign someone else

[2015-06-04 01:28] karato commented on #305
@dmzaytsev thanks, will take a look

[2015-06-04 02:15] k0r commented on #310
@yegor256 thanks.

[2015-06-04 02:18] karato commented on #310
@k0r I set milestone here to `0.4`, let me know if it is wrong

[2015-06-04 02:20] karato commented on #218
@yegor256 Thanks, closing it now.

[2015-06-04 02:20] #218 closed

[2015-06-04 02:20] karato commented on #227
@yegor256 The task is done, thanks all, I am closing it

[2015-06-04 02:20] #227 closed

[2015-06-04 02:22] karato commented on #218
@yegor256 Thanks a lot, I just topped your account for **53 mins**, transaction ID `000-db1c1b32`, total time was 1029 hours and 52 mins. here is how the bonus is calculated: t=1626, c=295, h=8794, diff=0.3..master. +53 to your rating, your total score is [+7059](http://www.netbout.com/b/35008?open=rating)

[2015-06-04 02:22] karato commented on #227
@yegor256 Much obliged! I have added **30 mins** to your account in payment "000-702049a4", 1029 hours and 52 mins spent. +30 to your rating, your total score is [+7089](http://www.netbout.com/b/35008?open=rating)

[2015-06-04 02:22] karato commented on #301
@dmzaytsev I added **1 hour** to your account, many thanks for working with the project! The completion time here was 58609681.... there is a bonus for fast delivery (m=268)... +60 added to your rating, current score is: [+2215](http://www.netbout.com/b/35166?open=rating)

[2015-06-04 02:22] karato commented on #310
@dmzaytsev do this task, 30 mins is budget

[2015-06-04 02:32] k0r commented on #312
@yegor256 `Exception in thread "main" java.net.SocketException: Too many open files`

[2015-06-04 02:36] k0r commented on #312
@yegor256 I think I know what caused this. I'll update and rename the ticket once confirmed.

[2015-06-04 03:26] k0r commented on #310
@yegor256 updated.

[2015-06-04 03:37] k0r commented on #310
@yegor256 updated.

[2015-06-04 17:09] yegor256 commented on #310
@dmzaytsev I suspect it's an issue with UTF-8 encoding...

[2015-06-04 17:14] k0r commented on #305
@rultor hello

[2015-06-04 17:14] rultor commented on #305
@k0r Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2015-06-04 17:15] k0r commented on #305
@rultor release, tag is `0.3.36`

[2015-06-04 17:15] rultor commented on #305
@k0r Thanks for your request. @yegor256 Please confirm this.

[2015-06-04 17:16] dmzaytsev commented on #310
@yegor256 I'm not sure

[2015-06-04 18:21] dmzaytsev commented on #305
@k0r PR #311 fixed the issue please close the ticket

[2015-06-04 18:42] k0r commented on #305
@yegor256 confirm.

[2015-06-04 19:09] yegor256 commented on #305
@rultor release, tag is `0.3.36`

[2015-06-04 19:22] rultor commented on #305
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/4052-109014371)

[2015-06-04 19:30] rultor commented on #305
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/4052-109014371) (took me 8min)

[2015-06-04 19:33] k0r commented on #305
@dmzaytsev accessing a `public` file when logged out causes `org.takes.facets.forward.RsForward: [303] [303] / WARNING/access denied`

[2015-06-04 19:34] k0r commented on #305
@yegor256 [this](https://github.com/Nerodesk/nerodesk/issues/305#issuecomment-107695773).

[2015-06-04 19:35] k0r commented on #305
@dmzaytsev checkbox doesn't retain checked status. @yegor256 does this require id persistence?

[2015-06-04 19:49] pinaf commented on #221
@karato fixed

[2015-06-04 19:58] k0r commented on #305
@yegor256 looking at [this](http://www.yegor256.com/2015/05/21/avoid-software-outsourcing-disaster.html), there are several inconsistencies with this ticket.

[2015-06-04 20:00] k0r commented on #310
@yegor256 looking at [this](http://www.yegor256.com/2015/05/21/avoid-software-outsourcing-disaster.html), there are inconsistencies with this ticket.

[2015-06-04 20:26] k0r commented on #312
@yegor256 updated.

[2015-06-04 20:26] yegor256 commented on #312
@k0r let's monitor this... I suspect it was a one-time issue in Heroku

[2015-06-04 20:27] k0r commented on #312
@yegor256 thanks.

[2015-06-04 20:33] yegor256 commented on #305
@k0r what inconsistencies are you talking about? Please explain

[2015-06-04 20:33] yegor256 commented on #305
@k0r please, keep in mind that we resolve one problem per ticket

[2015-06-04 20:44] k0r commented on #305
no feedback from [this](https://github.com/Nerodesk/nerodesk/issues/305#issuecomment-107695773), which could've improved quality of this feature.

[2015-06-04 21:04] k0r commented on #310
file upload is the core of this application, and currently lacks business sustainable quality.

[2015-06-05 01:50] karato commented on #306
@dmzaytsev Thanks for your contribution, **45 mins** was added to your account, payment ID is `58636945`, 31 hours and 40 mins spent total

there is a bonus for fast delivery (m=1900)

+45 to your rating, your total score is [+2305](http://www.netbout.com/b/35166?open=rating)

[2015-06-05 03:38] dmzaytsev commented on #310
@karato we are waiting yegor256/takes#331

[2015-06-05 03:50] dmzaytsev commented on #305
@k0r I did all as you requested in the ticket description. It works well on the local instance. I can't test real application before it be released. There is a bug with the visibility persistence on the real instance. I'll report about it. So no reason to not close this particular ticket.
@yegor256 what do you think?

[2015-06-05 04:21] yegor256 commented on #305
@dmzaytsev @k0r yes, I agree, the problem explained above (in the description of the ticket) is solved and the ticket should be closed. All other problems we'll resolve in new tickets.

[2015-06-05 04:55] dmzaytsev opened #313 "online instance has broken visibility persistence"
Unable to save Public/Private status on the online instance.
But the local instance works well

[2015-06-05 06:48] k0r commented on #310
@dmzaytsev not sure about the solution you've suggested. to fix this ticket, I'd prefer if the solution was thoroughly researched. this is the most important feature of the application.

[2015-06-05 07:59] dmzaytsev commented on #310
@k0r sure, I taken into account

[2015-06-05 18:06] k0r commented on #310
@yegor256 any progress with this ticket?

[2015-06-05 18:13] k0r commented on #313
@yegor256 how is this feature going to get implemented?

[2015-06-05 18:20] k0r commented on #313
@yegor256 what is your suggestion to fix this ticket?

[2015-06-05 19:51] karato opened #314 "TkDir.java:62-64: This class should have the..."
Puzzle `221-2a7d335c` in `src/main/java/com/nerodesk/takes/doc/TkDir.java:62-64` has to be resolved: This class should have the ability to edit directories. Specifically, implement the ability to remove and to attach existing documents.... The puzzle was created by Felipe Pina on 29-May-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-06-05 19:52] karato commented on #221
@yegor256 2 puzzles were created here: `221-2a7d335c`/#314, `221-b3fea3d5`

[2015-06-05 20:27] karato commented on #314
@yegor256 I set milestone here to `0.4`, let me know if it is wrong

[2015-06-05 20:28] karato opened #315 "TkDirCreate.java:61-64: This is a stub implementation...."
Puzzle `221-b3fea3d5` in `src/main/java/com/nerodesk/takes/doc/TkDirCreate.java:61-64` has to be resolved: This is a stub implementation. We should create a class RqDir, analogous to RqDoc, to handle the actual directory creation. Make sure to use the existing Dir and Dirs interfaces. Also remove the PMD suppressions above.... The puzzle was created by Felipe Pina on 29-May-2015.

If you have any

[2015-06-05 20:53] yegor256 commented on #310
@k0r let's wait for the fix in Takes, hopefully it will solve the problem here too

[2015-06-05 21:11] k0r commented on #310
@yegor256 thanks.

[2015-06-05 21:23] karato commented on #315
@yegor256 since the ticket has no milestone I set it to 0.4

[2015-06-06 00:40] #305 closed

[2015-06-06 00:41] k0r commented on #305
@dmzaytsev thanks.

[2015-06-06 20:08] #221 closed

[2015-06-06 20:08] karato commented on #221
@yegor256 The issue is closed

[2015-06-07 02:25] karato commented on #305
@dmzaytsev **30 mins** was added to your account, many thanks for your contribution (payment 58678902)! The task took 72 hours and 27 mins.... +30 added to your rating, at the moment it is: [+2320](http://www.netbout.com/b/35166?open=rating)

[2015-06-08 06:09] yegor256 commented on #310
@dmzaytsev takes 0.20.1 was released a few minutes ago, I think you can go ahead and try to solve the problem here

[2015-06-08 07:31] dmzaytsev commented on #310
@karato please see PR #316

[2015-06-08 17:11] k0r commented on #310
@rultor hello

[2015-06-08 17:11] rultor commented on #310
@k0r Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2015-06-08 17:12] k0r commented on #310
@rultor release, tag is `0.3.37`

[2015-06-08 17:13] rultor commented on #310
@k0r Thanks for your request. @yegor256 Please confirm this.

[2015-06-08 18:39] karato commented on #310
@dmzaytsev thanks, will take a look

[2015-06-08 21:13] yegor256 commented on #310
@rultor release, tag is `0.3.37`

[2015-06-08 21:14] rultor commented on #310
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/4092-110142226)

[2015-06-08 21:22] rultor commented on #310
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/4092-110142226) (took me 7min)

[2015-06-08 21:27] k0r commented on #310
@yegor256 @dmzaytsev thanks.

[2015-06-08 21:35] k0r commented on #310
@yegor256 @dmzaytsev seems to have been fixed.

[2015-06-09 03:30] dmzaytsev commented on #310
@k0r PR #316 fixed this issue, please close the ticket, thank you

[2015-06-10 04:31] dmzaytsev commented on #310
@karato I need more time here

[2015-06-10 17:13] karato commented on #310
@dmzaytsev agreed, take your time

[2015-06-10 22:44] pinaf commented on #221
@yegor256 @karato closed 4 days ago

[2015-06-10 23:10] #310 closed

[2015-06-12 00:31] karato commented on #310
@dmzaytsev Thanks a lot, I just topped your account for **30 mins**, transaction ID `59071226`, total time was 166 hours... +30 to your rating, your total score is [+2645](http://www.netbout.com/b/35166?open=rating)

[2015-06-14 01:27] karato commented on #102
@yegor256 last puzzled solved `102-3d5e0e72`/#209

[2015-06-15 17:44] karato commented on #313
@yegor256 please do something about this issue

[2015-06-15 17:44] karato commented on #275
@yegor256 please do something about this issue

[2015-06-15 17:44] karato commented on #293
@yegor256 please pay attention to this issue

[2015-06-15 17:44] karato commented on #298
@yegor256 please do something about this issue

[2015-06-15 17:44] karato commented on #261
@yegor256 dispatch this issue please

[2015-06-15 17:44] karato commented on #166
@yegor256 please do something about this issue

[2015-06-15 17:44] karato commented on #174
@yegor256 please pay attention to this issue

[2015-06-15 17:44] karato commented on #110
@yegor256 dispatch this issue please

[2015-06-16 03:12] pinaf commented on #221
@yegor256 this one was never paid. is that because it is postponed?

[2015-06-16 20:50] yegor256 commented on #221
@pinaf yeah, you fixed it after it was postponed (and you were un-assigned)

[2015-06-16 20:55] pinaf commented on #221
@yegor256 well the PR was created on may 28th and you guys decided to postpone it after I had done the work...

[2015-06-16 22:01] yegor256 commented on #221
@karato please add extra 30 mins to @pinaf here

[2015-06-16 22:02] pinaf commented on #221
@yegor256 thank you

[2015-06-17 00:46] karato commented on #221
@yegor256 I've paid 30 mins to @pinaf in transaction `AP-03J746806E340360K`

[2015-06-19 17:30] karato commented on #212
@ghost the last puzzle `212-b211119b`/#258 originated from here solved

[2015-06-26 00:13] karato commented on #255
@yegor256 the last puzzle `255-bf924f1e`/#278 originated from here solved

[2015-06-28 03:25] karato commented on #214
@ghost last puzzled solved `243-313457d9`/#256

[2015-06-28 03:25] karato commented on #243
@yegor256 the last puzzle `243-313457d9`/#256 originated from here solved

[2015-07-03 01:23] karato commented on #101
@yegor256 the last puzzle `101-c6cd25f6`/#210 originated from here solved

[2015-10-21 18:23] k0r opened #317 "project refactor"
update instances of the project and domain name

[2015-10-21 18:30] k0r opened #318 "assets repository for rultor"

[2015-10-21 18:34] k0r opened #319 "site resources update"
new logo and file panel update

[2015-10-21 18:43] k0r opened #320 "rultor reconfiguration"

[2015-10-21 18:54] k0r commented on #317
clean install -U -e -X

[2015-10-21 18:55] k0r commented on #317
clean integration-test -Phit-refresh -Dport=8080

[2015-10-21 18:56] k0r commented on #317
clean site -U -e -X

[2015-10-22 01:32] k0r opened #321 "travis-ci checkstyle corrections"

[2015-10-22 02:20] k0r commented on #321
fixed

[2015-10-22 02:21] #321 closed

[2015-10-22 02:21] k0r commented on #319
updated

[2015-10-22 02:21] k0r commented on #317
updated

[2015-10-22 02:21] #317 closed

[2015-10-22 18:10] k0r commented on #319
following test case in TkAppTest.java had to be commented out

[code]

because the build wouldn't pass travis-ci

[2015-10-22 19:55] #308 closed

[2015-10-22 19:55] #312 closed

[2016-08-25 09:16] qhysjpw commented on #85
zz

[2016-08-25 09:17] rultor commented on #85
@yegor256 Invalid release tag `0.1.6` specified. There is already a release `0.3.37` newer than the given release in this repository.

[2016-08-25 09:17] rultor commented on #85
@yegor256 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2016-08-25 09:34] qhysjpw commented on #85
I also encountered the same problem！！！！Can anyone tell me how to solve....

[2016-08-25 09:36] qhysjpw commented on #85
@yegor256 Man, you begin to solve this problem ?

[2019-03-03 19:20] #275 closed