[2015-02-16 18:25] yegor256 opened #1 "skeleton, version 0.1"
I will create a skeleton of the project and will configure deployment pipeline

[2015-02-16 19:58] yegor256 commented on #1
@rultor release, tag is `0.1`

[2015-02-16 19:59] rultor commented on #1
@yegor256 Thanks for your request. @ggajos Please confirm this.

[2015-02-16 20:03] yegor256 commented on #1
@rultor release, tag is `0.1`

[2015-02-16 20:03] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1990-74564619)

[2015-02-16 20:03] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/1990-74564619) (spent 11s)

[2015-02-16 20:04] yegor256 commented on #1
@rultor release, tag is `0.1`

[2015-02-16 20:05] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1990-74564771)

[2015-02-16 20:13] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/1990-74564771) (spent 7min)

[2015-02-16 23:30] yegor256 commented on #1
@rultor release, tag is `0.1`

[2015-02-16 23:31] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1990-74589875)

[2015-02-16 23:37] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/1990-74589875) (spent 5min)

[2015-02-16 23:41] yegor256 commented on #1
@rultor release, tag is `0.1`

[2015-02-16 23:42] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1990-74591602)

[2015-02-16 23:57] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/1990-74591602) (spent 15min)

[2015-02-17 00:01] yegor256 commented on #1
@rultor release, tag is `0.1`

[2015-02-17 00:01] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1990-74593855)

[2015-02-17 00:16] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/1990-74593855) (spent 14min)

[2015-02-17 00:28] yegor256 commented on #1
@rultor release, tag is `0.1`

[2015-02-17 00:29] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1990-74596079)

[2015-02-17 00:43] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/1990-74596079) (spent 14min)

[2015-02-17 00:45] yegor256 commented on #1
@rultor deploy

[2015-02-17 00:45] rultor commented on #1
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/1990-74598688)

[2015-02-17 00:51] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/1990-74598688) (spent 5min)

[2015-02-17 00:53] yegor256 commented on #1
@rultor deploy again

[2015-02-17 00:53] rultor commented on #1
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/1990-74600112)

[2015-02-17 00:58] rultor commented on #1
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/1990-74600112) (took me 4min)

[2015-02-17 00:59] yegor256 commented on #1
@rultor release, tag is `0.1`

[2015-02-17 06:01] yegor256 commented on #1
@rultor release, tag is `0.1`

[2015-02-17 06:02] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1990-74621047)

[2015-02-17 06:09] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/1990-74621047) (spent 7min)

[2015-02-17 06:10] yegor256 commented on #1
@rultor release, tag is `0.1`

[2015-02-17 06:11] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1990-74621608)

[2015-02-17 06:16] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/1990-74621608) (spent 5min)

[2015-02-17 06:18] yegor256 commented on #1
@rultor release, tag is `0.1`

[2015-02-17 06:18] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1990-74622153)

[2015-02-17 06:24] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/1990-74622153) (spent 6min)

[2015-02-17 06:26] yegor256 commented on #1
@rultor release, tag is `0.1`

[2015-02-17 06:27] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1990-74622687)

[2015-02-17 06:37] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/1990-74622687) (spent 10min)

[2015-02-17 06:40] yegor256 commented on #1
@rultor release, tag is `0.1`

[2015-02-17 06:41] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1990-74623700)

[2015-02-17 06:50] rultor commented on #1
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/1990-74623700) (took me 9min)

[2015-02-19 21:58] karato opened #3 "Estimate project size"
There is no estimate in the project yet. We have to create one as explained [here](https://github.com/teamed/est)

[2015-02-19 21:59] karato commented on #3
@ggajos this is your task

[2015-02-19 23:53] karato commented on #1
@yegor256 your task, 30 mins is budget

[2015-02-19 23:54] karato commented on #1
@yegor256 thank you for the ticket reported, I topped your account for 15 mins, transaction `000-095a03ae`

[2015-02-20 00:46] yegor256 commented on #1
@karato I've spent 3 hours for the work above, including:
- configured deployment pipeline with Rultor
- configured CI pipeline with Travis
- implemented skeleton of web app
- created basic Java wireframing
- documented requirements

[2015-02-20 16:20] karato commented on #1
@yegor256 thank you **3 hours** paid, transaction `000-444c68ce`

[2015-02-20 18:15] ggajos commented on #3
@karato #4 merged, you can close if that's all here

[2015-02-20 19:03] #1 closed

[2015-02-20 19:13] k0r opened #5 "Account Deletion vs. Disable"
Deletion:

Disable:

Suggestions?

[2015-02-20 19:20] k0r opened #6 "User Statistics"
User Count:

Files Uploaded:

Files Trending:

Suggestions?

[2015-02-20 20:28] k0r opened #7 "Security"
User Login:

User Account Details:

User File Uploads:

Suggestions?

[2015-02-20 20:42] yegor256 commented on #3
@rultor deploy

[2015-02-20 20:43] rultor commented on #3
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/2056-75315558)

[2015-02-20 20:47] rultor commented on #3
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2056-75315558) (took me 4min)

[2015-02-21 13:41] karato opened #8 "0.2"
Please, publish a new release **0.2** (or higher)

[2015-02-21 13:42] karato commented on #8
@ggajos this is your task

[2015-02-21 20:07] yegor256 commented on #8
@ggajos please go ahead. you have everything in the README (submit issues if something is not clear).  here is the roadmap, that explains the scope of release 0.2: https://github.com/teamed/nerodesk/wiki/Roadmap If you don't agree with anything in the roadmap, let's discuss it right here

[2015-02-21 20:21] karato commented on #1
@yegor256 Thanks so much! Your account was topped up for **30 mins** (transaction ID is `000-b2c2fa54`); +30 added to your rating, at the moment it is: [+6512](http://www.netbout.com/b/35008?open=rating)

[2015-02-22 20:10] pinaf opened #9 "Launcher.main: ArrayIndexOutOfBoundsException"
**$ java -jar target/nerodesk-jar-with-dependencies.jar**

Exception in thread "main" java.lang.ArrayIndexOutOfBoundsException: 0
	at com.nerodesk.Launch.main(Launch.java:65)

Program should either start with a fixed default port or, if you want to enforce the specification of a port, the program should exit cleanly with an error message instead of throwing an Exception.

[2015-02-22 20:40] ggajos opened #10 "User should be able to login/logout"
We should implement flexible authorisation and session storage mechanism. So it would be possible to extend authorisation and support multiple "bindings". Let's focus on flexible design here. For version one we could use the easiest form of authentication. Username only :), no password.

We should be able to easily extend our auth mechanism and support login/logout using Facebook OAuth mechanism.

[2015-02-22 20:45] ggajos commented on #8
@yegor256 Maybe I'm wrong but I think that we should focus on right design first if we don't want to rewrite everything that will be part of release 0.2.

To achieve goals in 0.2 we should focus on creating/storing user session #10; so oauth is out of scope for friday release I believe. I'll create tickets for upload/download files but again, we should focus first on creating nice app skeleton (cs

[2015-02-22 21:31] karato commented on #3
The task is done, thanks all, I am closing it

[2015-02-22 21:31] #3 closed

[2015-02-22 21:32] karato commented on #3
@ggajos Much appreciated! **30 mins** was added to your account, payment ID `AP-9K292204M3823433Y`

+30 added to your rating, at the moment it is: [+1584](http://www.netbout.com/b/35094?open=rating)

[2015-02-22 22:29] yegor256 commented on #8
@ggajos yes, you're on the right track, first of all we need a framework that will make our webapp visible in web and the user will able to do something with it. I'm not against Play, but I think there are better alternatives on the market. Play is rather "procedural" and resembles Spring. I think [Spark](http://sparkjava.com/) is lighter and nicer.. or maybe something else

[2015-02-22 22:31] yegor256 commented on #10
@ggajos I think we should enable just Facebook OAuth for now. no need to create our own user registration mechanisms. Facebook OAuth will provide us the user ID, which is enough to identify the user. We just encrypt it and send back to the user in some custom `X-Nerodesk-User` cookie. that's it. no need to keep this ID anywhere locally. what do you think?

[2015-02-22 22:32] yegor256 commented on #10
@ggajos also, keep this in mind: http://www.teamed.io/policy.html#21

[2015-02-23 07:46] ggajos opened #11 "User should be able to login via Facebook OAuth."
User should be able to login via Facebook OAuth but there is no notion about this in code yet.

We should use provided access codes and `PsFacebook` class is implemented in Takes 0.5

Access codes:
* `facebook acc ID: `provided via file`
* `secret code: `provided via file`

Please use suggested by Yegor way of providing those values (see https://github.com/teamed/nerodesk/issues/11#issuecomment-77

[2015-02-23 07:48] ggajos opened #12 "Let's introduce web framework"
If we want to create webapp we have to serve CSS, html files; url mappings etc. We should not reinvent the wheel and use some existing framework that will take care of this for us.

[2015-02-23 07:50] yegor256 commented on #12
@ggajos keep in mind that every ticket, even if it's a feature request, must be formatted as a bug (see http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html). you have to explain what is broken and how it's going to be fixed

[2015-02-23 07:50] yegor256 commented on #12
@ggajos also, see this: http://www.teamed.io/policy.html#21

[2015-02-23 07:50] ggajos commented on #5
@k0r I would see this as two steps, disable, then delete. Account disabling should be accessible from user level. Account deletion should be available for admins only. What do you think?

[2015-02-23 07:51] ggajos commented on #6
@k0r looks good, could you please elaborate what you mean by "back-end variable to be displayed via CSS"?

[2015-02-23 07:54] yegor256 commented on #5
@ggajos I think just account termination/deletion available for account owners will be enough for the first version of the app.

[2015-02-23 07:54] ggajos commented on #7
@k0r those are very broad topics; for example some files should be accessible by everyone (public) some not; depends on user needs; Maybe we can discuss this based on specific use cases and we can close this ticket?

[2015-02-23 07:57] ggajos opened #13 "Let's create storage interface"
We have no file management for now.

We have to implement some simple file management. Let's create `Storage` interface and simple impl. that will be able to put/get/delete any file. For now we can create simple implementation that will store all files in `~/.nerodesk/storage`.

[2015-02-23 08:02] ggajos opened #14 "Let's create file REST resource"
User should be able to upload/download and delete file. Because frontend is not yet specified we can introduce REST interface that could be reused later on.

When #12 will be introduced and #13 available let's create `file` REST resource:

* PUT `/api/file/examplefilename.jpg` - uploads file and store it under specific name
* GET `/api/file/examplefilename.jpg` - gets specific file or return 404 i

[2015-02-23 08:08] ggajos opened #15 "Let's create support for Facebook OAuth"
User should be able to login/logout using Facebook OAuth. We have to implement it.

Facebook OAuth will provide us the user ID, which is enough to identify the user. We just encrypt it and send back to the user in some custom X-Nerodesk-User cookie.

[2015-02-23 08:08] ggajos commented on #10
Ok, thanks, created #15

[2015-02-23 08:08] #10 closed

[2015-02-23 08:11] ggajos commented on #12
@yegor256 updated description, is it ok now?

[2015-02-23 08:14] yegor256 commented on #12
@ggajos yes, correct now

[2015-02-23 08:15] yegor256 commented on #15
@ggajos again, format it as a bug, not a task

[2015-02-23 08:28] ggajos commented on #15
@yegor256 thanks

[2015-02-23 08:32] ggajos commented on #9
@karato it's a valid bug

[2015-02-23 08:32] ggajos commented on #11
@karato it's a valid bug

[2015-02-23 08:32] ggajos commented on #12
@karato it's a valid bug

[2015-02-23 08:32] ggajos commented on #13
@karato it's a valid bug

[2015-02-23 08:32] ggajos commented on #14
@karato it's a valid bug

[2015-02-23 08:32] ggajos commented on #15
@karato it's a valid bug

[2015-02-23 13:34] karato commented on #15
@ggajos OK, I labeled it as `bug`

[2015-02-23 13:34] karato commented on #14
@ggajos thanks, I added the "bug" tag

[2015-02-23 13:34] karato commented on #13
@ggajos OK, I labeled it as `bug`

[2015-02-23 13:34] karato commented on #12
@ggajos got it, tag `bug` is here

[2015-02-23 13:35] karato commented on #11
@ggajos thanks, I added the "bug" tag

[2015-02-23 13:35] karato commented on #9
@ggajos got it, tag `bug` is here

[2015-02-23 14:24] karato commented on #9
I will ask someone to take care of this task soon

[2015-02-23 14:24] karato commented on #11
we will find someone to do this task, soon

[2015-02-23 14:24] karato commented on #13
I will ask someone to take care of this task soon

[2015-02-23 14:24] karato commented on #14
we will find someone to do this task, soon

[2015-02-23 14:28] karato commented on #9
@ggajos this is your task

[2015-02-23 14:28] karato commented on #13
@longtimeago this is your task

[2015-02-23 14:28] karato commented on #14
@darkled this is your task

[2015-02-23 14:28] karato commented on #15
@pinaf do this task

[2015-02-23 14:30] karato commented on #9
@pinaf thanks for tis bug, I topped your account for 15 mins, transaction `AP-6YF425327C064540A`

[2015-02-23 15:22] karato commented on #11
@darkled this is your task

[2015-02-23 15:22] karato commented on #12
@pinaf do this task

[2015-02-23 15:23] karato commented on #15
@ggajos many thanks for the bug report, I added 15 mins to your acc, transaction `AP-5JE2066950467880C`

[2015-02-23 17:21] asaen commented on #11
@karato please assign someone else to this issue

[2015-02-23 17:30] k0r commented on #6
@ggajos updates of user count, files uploaded and files trending; automatically or upon refresh from information stored in the file server and rendered on index.html or stats.html.

[2015-02-23 17:42] k0r commented on #5
@ggajos @yegor256 can both of these methods be implemented with the constraints of time? for example: after a variable number of days the system will delete the account and purge the users files if files remain on the system despite not reestablishing paid access before the variable number of days expired.

[2015-02-23 19:09] yegor256 commented on #11
@ggajos could you please reformat this ticket so that it starts sound like a bug. I'm not sure I understand now what is broken and what do you expect someone to fix

[2015-02-23 19:11] yegor256 commented on #5
@k0r I would leave all this for the future versions of the system. at the moment, a simple account termination will be enough. a more complex logic will require more user experience analysis etc. what do you think?

[2015-02-23 19:21] k0r commented on #5
@yegor256 no problem -- it's your call.

[2015-02-23 19:27] ghost commented on #11
@ggajos @yegor256 this seems more like a suggestion for handling the oauth tokens on our end than a bug, perhaps?

[2015-02-23 19:40] yegor256 commented on #11
@k0r that's exactly my point. @ggajos please reformat the ticket so that it sounds like a bug and becomes fixable

[2015-02-23 19:49] longtimeago commented on #13
PR https://github.com/teamed/nerodesk/pull/17 is available for review

[2015-02-23 19:50] yegor256 commented on #13
@ggajos again, please pay attention to the way you explain problems in bugs. they all should sound like bugs, not like feature requests. see http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html

[2015-02-23 21:54] pinaf commented on #12
@karato thanks. please assign me formally through github also.

[2015-02-23 21:55] pinaf opened #18 "Documentation does not specify minimum Java version"
Is Java 7 allowed or is Java 8 the minimum version? Keep in mind that Spark 2 requires Java 8.

[2015-02-23 21:56] pinaf commented on #12
@karato we need to wait for #18

[2015-02-24 01:05] pinaf commented on #15
@karato please assign to someone. I don't have a facebook account to test this out.

[2015-02-24 01:17] pinaf opened #19 "Missing JSR-303 validator"
mvn clean install -Pqulice WARNs about  JSR-303 validator:

[ERROR] JSR-303 validator failed to initialize: Unable to create a Configuration, because no Bean Validation provider could be found. Add a provider like Hibernate Validator (RI) to your classpath. (see http://aspects.jcabi.com/jsr-303.html)

[2015-02-24 02:25] pinaf commented on #12
@karato actually, please assign someone else. pulling my hair out because of maven complaining about duplicate resources..

If I start excluding some artifacts from the spark-code dependency then important classes end up missing in the build. Wasted enough time on this.

[2015-02-24 02:30] yegor256 commented on #12
@pinaf I believe Spark is not a final choice, but a suggestion. @ggajos what do you think about it?

[2015-02-24 02:33] pinaf commented on #12
@yegor256 maven can be such a nightmare.. need to calm down now

[2015-02-24 02:36] yegor256 commented on #12
@pinaf it's not Maven, it's people who don't know how to manage dependencies. for example this Jetty is a nightmare. they have no idea how Maven works and put all classes into all possible JARs. when you're trying to compose them together - you get conflicts. they basically abuse Maven and when we're trying to use it the right way, we're having these complains.

if we absolutely must use Spark, we

[2015-02-24 02:41] pinaf commented on #12
@yegor256 does anything exist there besides the specs?

[2015-02-24 02:53] yegor256 commented on #12
@pinaf nothing. but it's easy to create everything that is required for a small project. I just don't like any existing Java web frameworks. in my opinion, they all are inspired by Spring, which is inspired by a Singleton pattern :) I'm not insisting, it's @ggajos call

[2015-02-24 02:54] pinaf commented on #12
@yegor256 ok. and what kind of backend do you suggest? standard java http classes? or even java socket classes?

[2015-02-24 03:28] karato commented on #11
@darkled someone else will help in this task, no problem at all

[2015-02-24 03:30] karato commented on #14
@ggajos thanks for tis bug, I topped your account for 15 mins, transaction `AP-4CU4099808644882C`

[2015-02-24 03:54] karato commented on #11
@pinaf this is your task

[2015-02-24 03:55] karato commented on #13
@ggajos thanks for tis bug, I topped your account for 15 mins, transaction `AP-8TH23582DM258911G`

[2015-02-24 05:58] yegor256 commented on #15
@karato give this to somebody else pls

[2015-02-24 07:19] longtimeago opened #20 "Code coverage check is missing"
Code coverage check is missing.
I propose to configure ```cobertura-maven-plugin``` as a separate profile in ```pom.xml``` to check code coverage by tests

[2015-02-24 07:20] ggajos commented on #6
@k0r ok I see, we can implement simple caching to poll this information every hour for example

[2015-02-24 07:28] yegor256 commented on #12
@pinaf I would make the backend replaceable/injectable. The default one would be based on `com.sun.net.httpserver.HttpServer`, but we can also provide other implementations, based on jetty, netty, you name it. you're asking about "takes", right? :)

[2015-02-24 07:41] ggajos commented on #12
@yegor256 @pinaf I don't like any of existing frameworks neither :), that's why in most cases I'm using very defensive approach. Implement all I can in plan maven project (no frontend) and include this to framework later on (Grails, Play! or whatever); delaying architecture decisions is always good.

@yegor256 do you think it make sense to introduce another project that will do everything related

[2015-02-24 07:50] yegor256 commented on #12
@ggajos I can create the core of Takes in about 4-5 days and then we'll work with it all together in our usual mode. I don't think we need too much at the beginning, but eventually will create all necessary classes. in that case we'll create something good for the market. and while I will work on Takes you will make all the rest here. I mean everything that is about S3 and file sharing. what do yo

[2015-02-24 07:51] ggajos commented on #13
@yegor256 I created bunch of tickets in a row, all bad I guess, will remember that thanks.

[2015-02-24 07:52] ggajos commented on #15
@pinaf you're not the only one I think we should create one for dev. purposes (see #11)

[2015-02-24 08:03] ggajos commented on #12
@pinaf @yegor256 Creating Java web framework that it's finally done right sounds perfect. Let's go for it. So let's introduce frontend later. If no objections I will close this ticket, we'll create new one later. Thanks for very productive brainstorm.

[2015-02-24 08:05] ggajos commented on #8
@yegor256 Due to changes regarding framework we should reorganise roadmap, focus on non-framework features like S3 etc.

[2015-02-24 08:13] darkled opened #21 "README.md contains broken link"
For the moment `README.md` contains broken link to the image and looks like
![image](https://cloud.githubusercontent.com/assets/3275813/6345321/f25ecd10-bc15-11e4-8c47-05c9204756f2.png)

[2015-02-24 08:32] yegor256 commented on #8
@ggajos what changes exactly to you suggest to make?

[2015-02-24 08:34] darkled opened #22 "No PDD restrictions"
For the moment there are no `.pdd` restrictions defined. Do we need this file to define `min-` and `max-estimate`, `min-words`, etc?

[2015-02-24 08:35] yegor256 commented on #12
@ggajos ok, so I'll start working on Takes tomorrow. why closing this ticket? let's keep it alive until Takes is ready. and then we'll just use it here.

[2015-02-24 08:35] yegor256 commented on #22
we need to have this `.pdd` file in the root directory:

[code]

[2015-02-24 08:41] ggajos commented on #12
@yegor256 ok, make sense, thank you.

[2015-02-24 08:52] ggajos commented on #8
There is not much time left I suggest to focus on Amazon S3 and file storage impl. in v0.2. I'll also create some tickets to clarify permission management and sharing (preparations for release 0.3)

0.2:
- Amazon S3 (save/delete/get file)

[2015-02-24 15:22] pinaf commented on #11
@karato please assign to someone else. no facebook for me, sorry.

[2015-02-24 15:24] pinaf commented on #12
@yegor256 @ggajos I agree. let's go for it.

[2015-02-24 15:25] pinaf commented on #12
@yegor256 @karato how do I say this is impeded? there is no other issue to wait for as of now.

[2015-02-24 16:48] asaen commented on #14
@ggajos am I correct thinking that this issue depends on #12 and #13 ?

[2015-02-24 16:57] ggajos commented on #14
@darkled yes

[2015-02-24 16:58] asaen commented on #14
@ggajos ok, thanks

[2015-02-24 16:58] asaen commented on #14
@karato we're waiting for #12 and #13

[2015-02-24 17:38] karato commented on #15
@yegor256 got it, someone else will be assigned soon

[2015-02-24 17:38] karato commented on #12
@pinaf ok, let's wait for #18

[2015-02-24 17:40] karato commented on #12
@ggajos thanks for the ticket, your account was topped for 15 mins, payment AP-7G2833101N366662U

[2015-02-24 18:20] karato commented on #14
@darkled yes, right, let's wait for #12, #13

[2015-02-24 18:22] karato commented on #15
@darkled do this task

[2015-02-24 18:23] karato commented on #11
@ggajos many thanks for the bug report, I added 15 mins to your acc, transaction `AP-1MM44861123518100`

[2015-02-24 18:25] ggajos opened #24 "Incorrect permissions."
Something is wrong with permission level, please see https://github.com/teamed/nerodesk/pull/23.

[2015-02-24 18:32] ggajos commented on #24
@yegor256 working, thanks

[2015-02-24 18:32] #24 closed

[2015-02-24 20:25] pinaf commented on #11
@karato please assign to someone else. no facebook for me, sorry.

[2015-02-24 20:25] pinaf commented on #9
@ggajos thanks!

[2015-02-24 20:25] #9 closed

[2015-02-24 20:26] ggajos commented on #8
@yegor256 should I focus on S3 in relese 0.2? Can you update roadmap?

[2015-02-24 22:15] yegor256 commented on #8
OK, I will update it now.

[2015-02-24 22:16] yegor256 commented on #8
@ggajos updated: https://github.com/teamed/nerodesk/wiki/Roadmap

[2015-02-24 22:40] yegor256 commented on #12
@karato just give us more time here

[2015-02-25 00:25] karato commented on #12
@yegor256 of course, thanks for letting me know, take your time

[2015-02-25 07:30] darkled opened #25 "Incomplete documentation: how to start the application"
Let's add information about executing the application into `README.md`. For the moment the application is executed by
[code]

[2015-02-25 07:39] #13 closed

[2015-02-25 07:44] ggajos opened #26 "The system should be able to upload/download and delete files in S3"
Currently we have no notion of S3. Let's fix that. Implement another version of `Storage` interface that will use Amazon S3.

We might use http://s3.jcabi.com/ for that purpose.

[2015-02-25 07:45] ggajos commented on #8
@yegor256 thanks

[2015-02-25 07:45] ggajos commented on #8
@karato we're waiting for #26 here

[2015-02-25 07:49] ggajos commented on #18
@pinaf let's use 8 for now and force that in maven config.

[2015-02-25 07:49] ggajos commented on #18
@karato it's valid bug

[2015-02-25 07:49] ggajos commented on #19
@karato it's valid bug

[2015-02-25 07:49] ggajos commented on #20
@karato it's valid bug

[2015-02-25 07:50] ggajos commented on #21
@karato it's valid bug

[2015-02-25 07:50] ggajos commented on #22
It's already done in #23

[2015-02-25 07:51] ggajos commented on #25
@karato it's a valid bug

[2015-02-25 07:51] ggajos commented on #26
@karato it's a valid bug

[2015-02-25 08:03] asaen commented on #22
@ggajos right, the issue was created before

[2015-02-25 08:03] #22 closed

[2015-02-25 17:17] karato commented on #8
@ggajos sure, let's wait for #26

[2015-02-25 17:17] karato commented on #26
@ggajos right, I added the `bug` tag

[2015-02-25 17:17] karato commented on #25
@ggajos right, I added the `bug` tag

[2015-02-25 17:17] karato commented on #21
@ggajos thanks, I added the "bug" tag

[2015-02-25 17:17] karato commented on #20
@ggajos got it, tag `bug` is here

[2015-02-25 17:17] karato commented on #19
@ggajos thanks, I added the "bug" tag

[2015-02-25 17:17] karato commented on #18
@ggajos got it, tag `bug` is here

[2015-02-25 17:20] karato commented on #14
impediment in issue #13 is closed, we can probably try to continue here

[2015-02-25 18:36] karato commented on #25
I will find a developer for the task soon...

[2015-02-25 18:36] karato commented on #19
I will find a developer for the task soon...

[2015-02-25 18:36] karato commented on #20
I am aware of the task, give me some time to find a developer...

[2015-02-25 18:36] karato commented on #21
this task will get someone's attention soon

[2015-02-25 18:36] karato commented on #26
I will ask someone to take care of this task soon

[2015-02-25 18:42] karato commented on #21
@longtimeago this is your task

[2015-02-25 18:42] karato commented on #25
@ggajos this is your task

[2015-02-25 18:42] karato commented on #26
@pinaf this is your task

[2015-02-25 18:42] karato commented on #20
@darkled do this task

[2015-02-25 18:43] karato commented on #26
@ggajos many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `AP-2A5566406U402210H`

[2015-02-25 19:31] longtimeago commented on #21
@ggajos Where the missing image is actually located?

[2015-02-25 19:58] karato commented on #18
@darkled this is your task

[2015-02-25 19:58] karato commented on #19
@ggajos do this task

[2015-02-25 20:00] karato commented on #25
@darkled thanks a lot for reporting, **15 mins** added to your acc, pmt ID `52442227`

[2015-02-25 22:21] karato commented on #13
2 puzzles were created here: `13-97594e76`, `13-f1fbb1e7`

[2015-02-25 22:27] karato commented on #21
@darkled thanks for the ticket, your account was topped for 15 mins, payment 52445191

[2015-02-25 22:47] pinaf commented on #26
@karato please assign to someone else

[2015-02-26 01:57] yegor256 commented on #21
@longtimeago there is no such image yet

[2015-02-26 01:57] yegor256 commented on #21
@k0r do you have a logo in PNG format?

[2015-02-26 03:11] ghost commented on #21
@yegor256 http://www.nerodesk.com/logo.png

[2015-02-26 20:52] longtimeago commented on #21
Thanks! See PR https://github.com/teamed/nerodesk/pull/29

[2015-02-26 20:58] karato commented on #26
@pinaf I will try to find someone else

[2015-02-26 20:59] karato opened #30 "Storage.java:45-47: Implement delete operation to remove..."
Puzzle `13-f1fbb1e7` in `src/main/java/com/nerodesk/Storage.java:45-47` has to be resolved: Implement delete operation to remove file from the storage. In MkStorage.delete() implementation file should be removed from local file system. Don't forget about unit tests.... The puzzle was created by longtimeago on 23-Feb-2015.

If you have any technical questions, don't ask me, submit new tickets inste

[2015-02-26 21:06] karato commented on #9
@ggajos Thank you, I have added **30 mins** to your account in payment/transaction "`AP-5HB31026DE8562846`"; +30 added to your rating, current score is: [+1848](http://www.netbout.com/b/35094?open=rating)

[2015-02-26 21:06] karato commented on #13
@longtimeago paid, thanks, added **30 mins** to your account, payment `52471064`... added +30 to your rating, now it is equal to [+2182](http://www.netbout.com/b/35024?open=rating)

[2015-02-26 21:06] karato commented on #30
@pinaf do this task

[2015-02-26 21:09] karato commented on #20
@longtimeago many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `52471134`

[2015-02-26 21:56] karato opened #31 "Storage.java:42-44: Implement put operation to add..."
Puzzle `13-97594e76` in `src/main/java/com/nerodesk/Storage.java:42-44` has to be resolved: Implement put operation to add file to the storage. In MkStorage.put() implementation file should be stored on local file system. Don't forget about unit tests.... The puzzle was created by longtimeago on 23-Feb-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-02-26 21:59] karato commented on #26
@darkled this is your task

[2015-02-26 21:59] karato commented on #31
@ggajos do this task

[2015-02-26 22:00] karato commented on #19
@pinaf many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `AP-53L91722Y30834048`

[2015-02-26 22:55] karato commented on #18
@pinaf thanks for the report, I topped your acc for 15 mins, payment ID `AP-35A95113XS452774E`

[2015-02-27 08:41] asaen commented on #21
@longtimeago thank you!

[2015-02-27 08:41] #21 closed

[2015-02-27 13:53] ggajos commented on #25
@darkled you can see pull request above that is fixing this issue, if that's all here please close.

[2015-02-27 14:31] asaen commented on #25
@ggajos thank you!

[2015-02-27 14:31] #25 closed

[2015-02-28 18:00] karato commented on #21
@longtimeago Much obliged! I have added **30 mins** to your account in payment "52512981"... +30 to your rating, your total score is [+2327](http://www.netbout.com/b/35024?open=rating)

[2015-02-28 18:00] karato commented on #25
@ggajos Thanks a lot, I just topped your account for **30 mins**, transaction ID `AP-44W0034150857560R`; added +30 to your rating, now it is equal to [+1989](http://www.netbout.com/b/35094?open=rating)

[2015-03-01 05:55] pinaf commented on #11
@karato please assign someone else.

[2015-03-01 07:56] asaen commented on #15
@karato assign someone else please

[2015-03-02 02:53] karato commented on #15
@darkled no problem, I will try to find somebody else

[2015-03-02 02:53] karato commented on #11
@pinaf right, I will find someone else, no problem

[2015-03-02 03:24] karato commented on #11
@longtimeago do this task

[2015-03-02 03:24] karato commented on #15
@alevohin do this task

[2015-03-02 07:23] longtimeago commented on #11
@ggajos have you updated task description according to the Yegor's proposal?
Could you please define a use case for the new app? For me, it's not clear at all

Please, define what is the exact problem, how did you end up with this task? And then we decide how to solve the problem

[2015-03-02 08:11] darkled opened #34 "Rultor and Travis inconsistence"
For the moment `.rultor.yml` makes `mvn clean install -Pqulice,cobertura` while `.travis.yml` executes only `mvn clean install -Pqulice`. Let's include cobertura checks into travis builds as well.

[2015-03-02 08:20] ggajos commented on #11
@longtimeago  Use case: User should be able to login via Facebook OAuth.

Implementation and design of OAuth will be covered along with #15 but we have to obtain tokens. See https://developers.facebook.com/docs/facebook-login/manually-build-a-login-flow/v2.2. The only way to get those tokens (correct me If I'm wrong) is to create an facebook app. We have to create new facebook app and provide a wa

[2015-03-02 09:05] ggajos commented on #31
@karato you can see pull request above that is fixing this issue, if that's all here please close.

[2015-03-02 11:18] longtimeago commented on #11
@yegor256 @ggajos Do we really want to create an application for that? Maybe mocks would be enough?
On my opinion, this task is a bit premature. We even don't have an UI endpoints

[2015-03-02 12:16] ggajos commented on #11
@longtimeago in some point we have to create app for production; mock might be useful but we need to understand exactly how facebook auth is going to work (settings in web panel etc.); we might even create integration test that will use dev. app; it will be very useful for finalization and preparation of prod. app config on facebook; it's a big task so it's better to start it early, let's focus on

[2015-03-02 12:16] ggajos commented on #34
@karato valid bug

[2015-03-02 14:17] pinaf commented on #30
@karato merged. please close if alright.

[2015-03-02 19:40] karato commented on #34
@ggajos OK, I labeled it as `bug`

[2015-03-02 20:41] karato commented on #34
I will ask someone to take care of this task soon

[2015-03-02 20:47] karato commented on #34
@ggajos this is your task

[2015-03-02 20:48] karato commented on #34
@darkled thanks for the report, I topped your acc for 15 mins, payment ID `52781668`

[2015-03-02 21:49] yegor256 commented on #11
@k0r could you please help us here. you should go to https://developers.facebook.com and create a new application there (call it "nerodesk"). Then, you will have to create another one (call it "nerodesk-test"), which will be used for testing purposes. Please post us app ID and secret codes for the "nerodesk-test" only.

[2015-03-02 22:04] asaen commented on #18
@pinaf @ggajos it looks like we have some problems running java 8 under linux (please see #36).

[2015-03-02 22:07] asaen commented on #18
@karato we are waiting for #36

[2015-03-03 00:32] karato commented on #18
@darkled yes, waiting for #36

[2015-03-03 00:59] karato opened #37 "Re-estimate project size"
The latest estimate is rather old (created on 20-Feb-2015),we have to create a new one as explained [here](https://github.com/teamed/est)

[2015-03-03 01:03] karato commented on #37
@ggajos this is your task

[2015-03-03 06:54] alevohin commented on #15
@karato Let's wait for #11, I need it for testing.

[2015-03-03 07:53] ggajos commented on #37
see #39

[2015-03-03 07:53] ggajos commented on #34
see #38

[2015-03-03 14:57] ggajos commented on #19
@pinaf already merged in #27, please close if that's all here, thank you

[2015-03-03 14:57] ggajos commented on #31
@karato #33 is fixing this issue, please close if that's all here, thank you

[2015-03-03 14:58] pinaf commented on #19
@ggajos thank you.

[2015-03-03 14:58] #19 closed

[2015-03-03 17:39] karato commented on #15
@alevohin ok, let's wait for #11

[2015-03-03 18:23] ghost commented on #11
@yegor256 responded via email.

[2015-03-03 18:26] longtimeago commented on #11
@yegor256 @ggajos do you still need my help here?
If you have a test app on facebook we don't need to invent something own, right?

[2015-03-03 21:32] asaen commented on #20
@karato we're waiting for #34 here

[2015-03-03 21:57] ghost opened #40 "removed"

[2015-03-03 22:13] k0r commented on #6
@ggajos perfect.

[2015-03-03 22:33] karato commented on #20
@darkled of course, let's wait for #34

[2015-03-03 23:11] yegor256 commented on #12
@ggajos @pinaf  FYI, takes framework version 0.1 was released a few minutes ago. Rultor project is already using it, you can see how in its `com.rultor.web` package. If you have any questions/ideas, submit them directly to Takes github issue tracker

[2015-03-04 00:03] ghost commented on #12
@yegor256 awesome!

[2015-03-04 03:35] pinaf commented on #12
@yegor256 cool!

[2015-03-04 03:35] pinaf commented on #12
@karato please see PR #41

[2015-03-04 07:33] ggajos commented on #11
@longtimeago Yes, we have to access those codes in our app.

@yegor256 do you have access to this app(s)?

[2015-03-04 07:40] ggajos commented on #6
@k0r that's something we can optimize if will be implemented, can we close this issue or would you like to discuss also some other cases?

[2015-03-04 07:41] longtimeago commented on #11
@ggajos could you please change the task description accordingly. It's still quite confusing

[2015-03-04 07:46] ggajos commented on #11
@longtimeago well this task contain 3 steps and this simple default implementation is step 3, need to obtain those codes first and can update description so it will be clear.

[2015-03-04 08:00] ggajos commented on #34
@darkled please close if that's all here, thanks

[2015-03-04 08:00] ggajos commented on #37
@karato please close if that's all here, thanks

[2015-03-04 08:05] asaen commented on #34
@ggajos thanks

[2015-03-04 08:05] #34 closed

[2015-03-04 08:08] longtimeago commented on #11
@ggajos thanks, waiting for the input :)

[2015-03-04 08:12] darkled opened #42 "Section "How to contribute" is out of date"
The section "How to contribute" of `README.md` should tell us to invoke `mvn clean install -Pqulice,cobertura` since cobertura checks are added to travis build.

[2015-03-04 12:43] ggajos commented on #31
@karato please close if that's all here, thanks

[2015-03-04 15:57] pinaf opened #43 "Option UseSplitVerifier; support was removed in 8.0"
Seems like this option is configured in pom.xml for maven-surefire

this happens when building with `mvn clean install -Pqulice,cobertura`. Using java8 oracle:

java version "1.8.0_31"
Java(TM) SE Runtime Environment (build 1.8.0_31-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.31-b07, mixed mode)

[2015-03-04 17:06] asaen commented on #20
@longtimeago PR #35 merged, please close the issue if alright

[2015-03-04 17:20] pinaf commented on #12
@ggajos merged. please close if alright.

[2015-03-04 17:28] longtimeago commented on #20
Thanks!

[2015-03-04 17:28] #20 closed

[2015-03-04 17:46] karato commented on #31
@ggajos I will close it when the puzzle disappears from the source code, and keep in mind that it may take up to a day to update project stats after a successful deployment

[2015-03-04 17:46] karato commented on #37
@ggajos I will close it when there is a new estimate available in the source code

[2015-03-04 17:53] karato commented on #19
@ggajos **30 mins** sent to your balance (ID `AP-7W16365076918550U`), many thanks!

+30 to your rating, your total score is [+2340](http://www.netbout.com/b/35094?open=rating)

[2015-03-04 18:17] yegor256 commented on #11
facebook acc ID: `1600031920212896`, secret code: `82cf820c610f74dcde82795f1537b693`

[2015-03-04 18:20] yegor256 commented on #11
I think we need to wait for this ticket completion: https://github.com/yegor256/takes/issues/9. Once it's ready, we can implement Facebook authentication in nerodesk

[2015-03-04 18:21] pinaf commented on #11
@yegor256 isn't this github repo's visibility public? are those codes not sensitive?

[2015-03-04 18:25] longtimeago commented on #11
@alex-palevsky let's wait for yegor256/takes#9

[2015-03-04 18:40] yegor256 commented on #11
@pinaf oops, my fault, this information is indeed public. I've changed the key.

[2015-03-04 20:30] k0r opened #44 "Plyr + Nerodesk"
Plyr HTML5 media player integration into Nerodesk:

What do you think?

[2015-03-04 21:37] karato commented on #30
The issue is closed

[2015-03-04 21:37] #30 closed

[2015-03-04 21:42] karato commented on #30
@pinaf done, I added **30 mins** in payment `AP-57T38276LY1418907`. added +30 to your rating, now it is equal to [+2831](http://www.netbout.com/b/35128?open=rating)

[2015-03-04 21:42] karato commented on #31
@ggajos thank you, added **30 mins** to your acc, payment num is `AP-4KJ15566JH246062M`

added +30 to your rating, now it is equal to [+2415](http://www.netbout.com/b/35094?open=rating)

[2015-03-04 22:11] asaen commented on #43
@pinaf it is fixed within #18 and will be available after merge of PR #36

[2015-03-04 22:14] pinaf commented on #43
@darkled thank you.

[2015-03-04 22:14] #43 closed

[2015-03-05 03:17] karato commented on #31
Closed, done, thanks all

[2015-03-05 03:17] #31 closed

[2015-03-05 07:50] #12 closed

[2015-03-05 07:51] ggajos commented on #37
@karato but there is new estimate introduced in #39
@yegor256 could you help here?

[2015-03-05 08:06] yegor256 commented on #11
@ggajos @pinaf @longtimeago `PsFacebook` is implemented in Takes 0.5, please try

[2015-03-05 08:07] ggajos commented on #31
@karato so you're waiting for deployment of feature, not merge?

[2015-03-05 08:29] asaen commented on #26
@ggajos PR #45 merged, please close the issue if alright

[2015-03-05 08:40] darkled opened #46 "rultor should work with java 8"
For the moment we cannot merge changes to use java 8 since rultor is working with `JAVA_HOME=/usr/lib/jvm/java-7-openjdk-amd64`. To continue we need to update java. Full build log is [here](http://www.rultor.com/t/2347-77322916).

**UPD 2**
We need to update `.rultor.yml` appending the following snippet
[code]

[2015-03-05 08:43] asaen commented on #18
@karato we're waiting for #46

[2015-03-05 08:43] asaen commented on #18
@pinaf it seems for the moment we are not able to use java 8 since rultor use java 7.

[2015-03-05 09:13] #26 closed

[2015-03-05 09:14] ggajos commented on #8
@karato #26 is done which means release 0.2 is completed, please close if that's all here, thanks

[2015-03-05 09:15] ggajos commented on #46
@yegor256 rultor doesn't support java 8?

[2015-03-05 12:36] pinaf commented on #18
@darkled I don't mind :) Was just complaining about lack of documentation.
@ggajos is the architect here. What do you think @ggajos ?

[2015-03-05 17:08] karato commented on #18
@darkled got it, let's wait for #46

[2015-03-05 17:12] longtimeago commented on #46
@ggajos looks like that

[2015-03-05 17:13] karato commented on #8
I think we can continue, impediment #26 is closed

[2015-03-05 17:13] karato commented on #14
I think we can continue, impediment #12 is closed

[2015-03-05 17:16] asaen commented on #14
@karato assign someone else please

[2015-03-05 17:46] k0r commented on #6
@ggajos lets keep the discussion going until its implemented.

[2015-03-05 17:51] k0r commented on #8
is 0.2 going to be accessible @ beta.nerodesk.com ?

[2015-03-05 18:19] karato commented on #20
@darkled I added **30 mins** to your account, many thanks for working with the project!

added +30 to your rating, now it is equal to [+1722](http://www.netbout.com/b/35091?open=rating)

[2015-03-05 18:19] karato commented on #34
@ggajos Much appreciated! **30 mins** was added to your account, payment ID `AP-81M035239U686414G`

+30 to your rating, your total score is [+2596](http://www.netbout.com/b/35094?open=rating)

[2015-03-05 18:33] ggajos commented on #46
@pinaf @yegor256 @darkled think there is no point in waiting for rultor to be compatibile. Let's downgrade minimum version to 7.

[2015-03-05 18:35] ggajos commented on #18
@pinaf @darkled think there is no point in waiting for rultor to be compatibile. Let's downgrade minimum version to 7.

[2015-03-05 18:37] ggajos commented on #42
@karato valid bug

[2015-03-05 18:42] ggajos commented on #44
@k0r content streaming is not trivial; video could be encoded in dozens of formats and only some of them are supported by some of browsers; `plyr` is just frontend; to transcode various formats we might use solution like HLS streaming http://aws.amazon.com/cloudfront/streaming/

[2015-03-05 18:50] k0r commented on #44
@ggajos Plyr would be great for streaming mp3 and mp4 file types stored on Nerodesk with '<source>' upon 1.0 launch.

[2015-03-05 19:14] karato commented on #14
@darkled OK, I will try to assign someone else

[2015-03-05 19:15] karato commented on #12
the code made here contains a puzzle `12-18bd4eea`, which will be resolved soon

[2015-03-05 19:28] yegor256 commented on #46
@ggajos rultor supports whatever platform you need. here is how you configure it in `.rultor.yml`:

[code]

Basically, we just need to use another Docker container, with Java 8 pre-installed. This container is Debian. If you can find a better one, which is Ubuntu, will be even better.

[2015-03-05 19:29] yegor256 commented on #46
@ggajos search them here: https://registry.hub.docker.com/search?q=library

[2015-03-05 20:09] ggajos commented on #46
@yegor256 thanks for feedback, couldn't find clear answer for that; I think we can try that and switch docker image to use jdk8 while keeping compatibility with Java7 for now; don't want to create additional blockers for tickets.

[2015-03-05 20:09] ggajos commented on #46
@karato it's valid bug

[2015-03-05 20:10] ggajos commented on #46
let's change rultor yml as @yegor256 suggested

[2015-03-05 20:10] ggajos commented on #46
@darkled please update description a bit so assigned person will know how to proceed, thanks

[2015-03-05 20:11] yegor256 commented on #46
@ggajos I would actually suggest to find a better Docker container with Java8, which is not Debian. Ubuntu sounds like a better option for all other tools we're using... but this container is the only option, you can use it

[2015-03-05 20:11] ggajos commented on #12
@pinaf thanks

[2015-03-05 20:13] ggajos commented on #46
@ye

[2015-03-05 20:33] karato commented on #42
@ggajos OK, I labeled it as `bug`

[2015-03-05 20:33] karato opened #48 "Launch.java:50-52: This is a utility class..."
Puzzle `12-18bd4eea` in `src/main/java/com/nerodesk/Launch.java:50-52` has to be resolved: This is a utility class and should only launch the app. The web server code should be moved to its own class. Remove the checkstyle suppression above and also the PMD suppression below.... The puzzle was created by Felipe Pina on 4-Mar-2015.

If you have any technical questions, don't ask me, submit new tick

[2015-03-05 20:38] karato commented on #18
impediment in issue #36 is closed, we can probably try to continue here

[2015-03-05 20:38] karato commented on #14
@longtimeago do this task

[2015-03-05 20:38] karato commented on #48
@ggajos this is your task

[2015-03-05 21:53] karato commented on #46
@ggajos got it, tag `bug` is here

[2015-03-05 21:56] karato commented on #42
@ggajos do this task

[2015-03-05 21:57] karato commented on #42
@darkled many thanks for the report, I topped your account for 15 mins, transaction 52908201

[2015-03-05 22:47] karato commented on #46
@ggajos do this task

[2015-03-05 22:48] karato commented on #46
@darkled thanks for the ticket, your account was topped for 15 mins, payment 52909214

[2015-03-06 01:42] yegor256 commented on #37
@ggajos the date on your estimate is `30-03-2015`... it's in the future, I believe :)

[2015-03-06 07:37] ggajos commented on #37
@yegor256 didn't notice that type ;), thank you!

[2015-03-06 07:52] yegor256 commented on #37
@rultor deploy

[2015-03-06 07:53] rultor commented on #37
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/2385-77519938)

[2015-03-06 07:59] rultor commented on #37
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2385-77519938) (took me 6min)

[2015-03-07 02:44] #37 closed

[2015-03-07 02:44] karato commented on #37
Done, the task is closed

[2015-03-07 02:52] karato commented on #12
@pinaf I just added **30 mins** to your account, many thanks for your contribution... +30 added to your rating, current score is: [+2876](http://www.netbout.com/b/35128?open=rating)

[2015-03-07 02:52] karato commented on #26
@darkled Thanks a lot, I just topped your account for **30 mins**, transaction ID `52938126`; +30 added to your rating, at the moment it is: [+1782](http://www.netbout.com/b/35091?open=rating)

[2015-03-07 02:52] karato commented on #37
@ggajos **30 mins** added to your account (payment number `AP-43K006033F786283R`), many thanks for your contribution!... +30 added to your rating, at the moment it is: [+2626](http://www.netbout.com/b/35094?open=rating)

[2015-03-07 09:33] longtimeago commented on #11
@ggajos @pinaf Sorry guys, I still don't understand what I need to do for this task to be done.

[2015-03-07 10:17] longtimeago commented on #11
@alex-palevsky please, assign someone else

[2015-03-07 12:30] longtimeago commented on #14
@ggajos IMHO, the task should be done after https://github.com/teamed/nerodesk/issues/14
Current implementation is really hard to test. What do you think?

[2015-03-07 17:16] longtimeago commented on #14
@ggajos do we really want path to be `/api/file?name=examplefilename.jpg` ?
Maybe it would be better and simpler to have it as:
`/api/file/examplefilename.jpg` ?
This is the way Github manages it's content

[2015-03-07 17:43] longtimeago commented on #14
@ggajos anyway, here is the PR https://github.com/teamed/nerodesk/pull/53

[2015-03-07 17:51] ggajos commented on #46
we're waiting for #18 here

[2015-03-07 18:01] ggajos commented on #11
@longtimeago looks like quite lot happen till we start issue, updated description to be more straightforward.

[2015-03-07 18:13] pinaf commented on #11
@ggajos this repo is public - secret codes should be kept elsewhere wouldn't you say?

[2015-03-07 19:13] ggajos commented on #14
@longtimeago yes, like your idea

[2015-03-07 19:23] ggajos commented on #11
Agree, think this key is invalid here; @yegor256 could you help here? Is there some kind of secure channel we can use for this?

[2015-03-07 20:46] ggajos commented on #48
@karato please close if that's all here, thanks

[2015-03-07 20:46] ggajos commented on #48
PR #52

[2015-03-07 20:58] longtimeago opened #54 "MkStorage fails to add a file if directory doesn not exist"
This test fails
[code]
Because path ```foo/bar/``` does not exist and is not created before try.
```MkStorage.put()``` should create missing folders before trying to put a file.

[2015-03-07 22:42] karato commented on #48
@ggajos the ticket will be closed when the puzzle is removed from the code, keep in mind that it takes some time after deployment to update our statistics, please give me at least a day

[2015-03-08 17:11] pinaf commented on #46
@ggajos have you guys tried https://registry.hub.docker.com/u/sdorra/oracle-java-8/ ?

[2015-03-08 17:15] pinaf commented on #46
@ggajos @darkled  or this  https://registry.hub.docker.com/u/carrotgarden/java-8/dockerfile/

[2015-03-08 17:22] pinaf commented on #46
@yegor256 is `as_root: true` necessary?

[2015-03-08 17:30] asaen commented on #46
@pinaf in PR #47 we're using `mostalive/ubuntu-14.04-oracle-jdk8`. Do you think it won't pass our requirments?

[2015-03-08 17:34] pinaf commented on #46
@darkled it should - I hadn't seen that PR :)

[2015-03-08 17:34] pinaf commented on #46
@darkled I'm going to ask you to do the same on another project, alright?

[2015-03-08 17:35] asaen commented on #46
@pinaf yes, sure

[2015-03-08 18:57] ghost commented on #11
@yegor256 @ggajos has this been resolved?

[2015-03-08 18:59] k0r commented on #18
@ggajos do not downgrade Java versions.

[2015-03-08 19:05] k0r commented on #7
@ggajos lets keep the discussion going until its implemented.

[2015-03-08 19:07] k0r commented on #40
@yegor256 @ggajos lets keep the discussion going until its implemented.

[2015-03-08 19:08] asaen commented on #18
@k0r we are not going to do it anymore, since we've found the way to use java 8 which will come with the PR #47

[2015-03-08 19:13] ghost commented on #18
@darkled thanks.

[2015-03-08 19:14] k0r commented on #44
@ggajos lets keep the discussion going until it's implemented.

[2015-03-08 21:09] k0r opened #55 "Nerodesk Language Translations"
Available Nerodesk.com language translations:

Would anyone be able to help me out w/ this?

[2015-03-08 21:42] k0r opened #56 "Nerodesk Business Model + Plan"
Free Access:

Paid Access Level 1

Paid Access Level 2

Paid Access Level 3

[2015-03-08 21:50] k0r commented on #56
@yegor256 lets implement Amazon Glacier or Nerodesk *IceBox*.

[2015-03-08 23:29] k0r commented on #56
@yegor256 edited a few things. hopefully this business model + plan is cohesive with Open-Source!

[2015-03-09 00:14] karato commented on #48
there is a puzzle in this code `48-cc1173e1`, we'll resolve it later

[2015-03-09 00:38] karato opened #57 "Launch.java:45-48: This is a utility class..."
Puzzle `48-cc1173e1` in `src/main/java/com/nerodesk/Launch.java:45-48` has to be resolved: This is a utility class and should only launch the app. The web server code should be moved to its own class. Remove the checkstyle suppression above and also the PMD suppression below. This is continuation of task #48. I moved `TkIndex` to separate class but it's not enough.... The puzzle was created by Grz

[2015-03-09 00:43] karato commented on #57
@ggajos do this task

[2015-03-09 01:57] k0r opened #58 "Thanks"
Thought I'd say thanks to all the developers on this project.

Feel free to close this ticket with the next commit.

[2015-03-09 05:58] yegor256 commented on #56
@k0r yeah, looks good. let's keep this ticket open until we start implementing payments and account quota control. then we'll get back to it and discuss again.

[2015-03-09 06:02] k0r commented on #56
@yegor256 thanks.

[2015-03-09 06:02] yegor256 commented on #40
@k0r yes, let's keep this ticket open for the future

[2015-03-09 06:05] yegor256 commented on #46
@pinaf `as_root: true` is not really necessary, don't use it

[2015-03-09 06:18] yegor256 commented on #11
@ggajos this is how it works. see this line in `.rultor.yml`: `yegor256/home#assets/nerodesk/settings.xml`. It's an "asset" that Rultor fetched from my own private repository on every release cycle. In that `settings.xml` file I keep all project secrets. Something like this:

[code]

During Maven compilation/packaging cycle you can assume that `${fb.app}` and `${fb.secret}` are available for you.

[2015-03-09 18:00] karato commented on #11
@longtimeago 7 days already, in 48 hours I will re-assign... -30 added to your rating, current score is: [+2845](http://www.netbout.com/b/35024?open=rating)

[2015-03-09 18:06] longtimeago commented on #11
@karato please, assign someone else

[2015-03-09 18:24] asaen commented on #46
@ggajos Could you please update `.rultor.yml` in the way of updated issue description? Since rultor always gets `.rultor.yml` from the master branch we are not able to finish #18 without getting this issue done.

[2015-03-09 20:26] karato commented on #11
@longtimeago OK, I will try to assign someone else

[2015-03-09 21:39] karato commented on #11
@caarlos0 do this task

[2015-03-09 22:34] ggajos commented on #57
@karato please assign someone else here

[2015-03-09 22:50] ggajos commented on #46
@darkled think it's part of #47 already

[2015-03-09 22:55] asaen commented on #46
@ggajos yes and no :) We need modified `.rultor.yml` in the master branch to be able to merge #47

[2015-03-09 22:56] ggajos commented on #46
@karato please assign someone else

[2015-03-09 22:56] ggajos commented on #46
@darkled sorry for troubles, have huge time issues this week :/

[2015-03-09 22:57] ggajos commented on #42
@darkled please close if that's all here, thanks

[2015-03-09 22:59] asaen commented on #42
@ggajos thanks, closing...

[2015-03-09 22:59] #42 closed

[2015-03-10 00:10] karato commented on #46
@ggajos OK, I will try to assign someone else

[2015-03-10 00:10] karato commented on #57
@ggajos right, I will find someone else, no problem

[2015-03-10 00:54] #48 closed

[2015-03-10 00:54] karato commented on #48
Closing this issue now...

[2015-03-10 00:58] karato commented on #46
@longtimeago do this task

[2015-03-10 00:58] karato commented on #48
@ggajos paid, thanks, added **30 mins** to your account, payment `AP-5BJ73192EU702945M`. +30 to your rating, your total score is [+2874](http://www.netbout.com/b/35094?open=rating)

[2015-03-10 00:58] karato commented on #57
@darkled this is your task

[2015-03-10 18:03] longtimeago commented on #46
PR https://github.com/teamed/nerodesk/pull/59 is available. Hope guys @ggajos @darkled I understood you correctly.

[2015-03-10 20:31] yegor256 commented on #58
ok, thanks :)

[2015-03-10 20:31] #58 closed

[2015-03-10 21:01] k0r commented on #56
@yegor256 updated.

[2015-03-10 21:06] k0r commented on #40
@yegor256 netbout + nerodesk is going to be great.

[2015-03-10 22:33] yegor256 commented on #8
@ggajos what is your forecast for this release?

[2015-03-10 23:19] yegor256 opened #61 "FtCLI and upgrade to takes 0.8.4"
Let's use `FtCLI` in `Launch`, since it allows command line arguments parsing. Also, let's upgrade takes to version 0.8.4 (the latest one), which will give us that class.

[2015-03-10 23:20] yegor256 commented on #61
also, we'll have to modify `Procfile` and replace `${PORT}` with `--port=${PORT}`

[2015-03-10 23:33] yegor256 opened #62 "RqRegex.Fake from takes 0.8.5"
Let's use `RqRegex.Fake` from takes 0.8.5 in `TkGetFileTest`. The use of this class will make the test way shorter and easier to read.

Also, it's a bad idea to have that public static property `PATH` in `TkGetFile`. There is not connection between a regular expression used in `Launch`. We can use two absolutely different regular expressions - one in `Launch` and another one in tests.

In general,

[2015-03-10 23:41] yegor256 opened #63 "Storage design is too simple"
At the moment we have this `Storage` interface, which, I believe, doesn't express the correct design. I would suggest these interfaces to the object model of the app:

[code]

I would suggest to place them into `com.nerodesk.om` package. Then, create a package `com.nerodesk.om.mock` for their mock versions. Then, create `com.nerodesk.aws` for classes that implement this object model and communicat

[2015-03-11 00:00] ghost commented on #63
strongly suggest @yegor256 takes over development of this.

[2015-03-11 00:38] karato commented on #62
@yegor256 right, I added the `bug` tag

[2015-03-11 00:47] karato commented on #42
@ggajos thanks, I just added **30 mins** to your account, payment `AP-24814386FY1656325`... +30 added to your rating, at the moment it is: [+2904](http://www.netbout.com/b/35094?open=rating)

[2015-03-11 01:39] karato commented on #14
7 puzzles were created here: `14-462b19d5`, `14-9e19a32c`, `14-da645c40`, `14-7a1bdbb3`, `14-186752b9`, `14-78da13fc`, `14-8cd54fa2`

[2015-03-11 01:42] karato commented on #62
@longtimeago this is your task

[2015-03-11 01:43] karato commented on #62
@yegor256 thanks a lot for reporting, **15 mins** added to your acc, pmt ID `000-ceed7be5`

[2015-03-11 02:11] karato opened #64 "Launch.java:47-51: This is a utility class..."
Puzzle `48-8978ee07` in `src/main/java/com/nerodesk/Launch.java:47-51` has to be resolved: This is a utility class and should only launch the app. The web server code should be moved to its own class. Remove the checkstyle suppression above and also the PMD suppression below. This is continuation of task #48. I moved `TkIndex` to separate class but it's not enough. suppression above and also the P

[2015-03-11 02:20] karato commented on #64
@krzyk do this task

[2015-03-11 03:01] karato opened #65 "Launch.java:58-61: Implement DELETE operation to remove..."
Puzzle `14-da645c40` in `src/main/java/com/nerodesk/Launch.java:58-61` has to be resolved: Implement DELETE operation to remove file from the store by file specific path. This might require updates in Takes framework. Don't forget about unit tests.... The puzzle was created by longtimeago on 7-Mar-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-03-11 03:04] karato commented on #65
@carlosmiranda this is your task

[2015-03-11 03:36] karato opened #66 "Launch.java:55-57: Implement PUT operation to upload..."
Puzzle `14-9e19a32c` in `src/main/java/com/nerodesk/Launch.java:55-57` has to be resolved: Implement PUT operation to upload file to the store under specific path. This might require updates in Takes framework. Don't forget about unit tests.... The puzzle was created by longtimeago on 7-Mar-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-03-11 03:44] karato commented on #66
@pinaf do this task

[2015-03-11 16:46] longtimeago commented on #14
@ggajos Can we close the issue? PR was merged. Thanks!

[2015-03-11 17:15] karato opened #67 "LaunchTest.java:59-60: Application should be able to..."
Puzzle `14-8cd54fa2` in `src/test/java/com/nerodesk/LaunchTest.java:59-60` has to be resolved: Application should be able to get binary file properly. Add a test to check it works and fix if doesn't.... The puzzle was created by longtimeago on 7-Mar-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-03-11 17:18] karato commented on #67
@carlosmiranda this is your task

[2015-03-11 18:51] karato opened #68 "Launch.java:62-64: Add exception handling to return..."
Puzzle `14-7a1bdbb3` in `src/main/java/com/nerodesk/Launch.java:62-64` has to be resolved: Add exception handling to return 404 when resource not available. Now we show not nice stacktrace. Don't forget about unit tests.... The puzzle was created by longtimeago on 7-Mar-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-03-11 18:59] karato commented on #68
@longtimeago do this task

[2015-03-11 20:18] karato opened #69 "Launch.java:68-70: Add new section to the..."
Puzzle `14-78da13fc` in `src/main/java/com/nerodesk/Launch.java:68-70` has to be resolved: Add new section to the README described REST API for the file operations available. GET, PUT and DELETE operations should be described.... The puzzle was created by longtimeago on 7-Mar-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-03-11 20:26] karato commented on #69
@pinaf this is your task

[2015-03-11 20:38] k0r opened #70 "Roadmap"
Please update roadmap for accuracy:

[2015-03-11 20:51] yegor256 commented on #70
let's discuss this in #8

[2015-03-11 20:51] #70 closed

[2015-03-11 20:51] yegor256 commented on #8
@ggajos could you please update the roadmap, to reflect the current situation with the plan?

[2015-03-11 20:52] ghost commented on #8
I'm not seeing the results I've been anticipating based on my conversations with @yegor256.

[2015-03-11 21:27] longtimeago commented on #46
@karato we need more time here

[2015-03-11 21:54] longtimeago commented on #62
PR https://github.com/teamed/nerodesk/pull/71 is available for review

[2015-03-11 22:40] yegor256 commented on #8
@k0r we're discussing with @ggajos what would be the best course of actions now. @ggajos is on vacation until Tuesday. maybe it will be feasible to take over. I'll update you soon.

[2015-03-11 23:21] yegor256 commented on #8
@ggajos @k0r OK, I'm taking over this architecture role for now and will release this version 0.2 myself. Also, I will update Roadmap to reflect our current plans.

[2015-03-11 23:23] ghost commented on #8
@yegor256 thanks.

[2015-03-11 23:25] #14 closed

[2015-03-11 23:44] caarlos0 commented on #11
@karato please assign to someone else

[2015-03-12 00:14] karato commented on #46
@longtimeago sure, thanks for telling me, take your time

[2015-03-12 00:15] karato opened #72 "Launch.java:52-54: Bind getFile operation to the..."
Puzzle `14-462b19d5` in `src/main/java/com/nerodesk/Launch.java:52-54` has to be resolved: Bind getFile operation to the GET method only. This might require updates in Takes framework. Don't forget about unit tests.... The puzzle was created by longtimeago on 7-Mar-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-03-12 00:20] karato commented on #72
@carlosmiranda this is your task

[2015-03-12 01:06] karato commented on #11
@caarlos0 I will try to find someone else

[2015-03-12 01:07] karato opened #73 "Launch.java:65-67: Update FkRegex patterns for all..."
Puzzle `14-186752b9` in `src/main/java/com/nerodesk/Launch.java:65-67` has to be resolved: Update FkRegex patterns for all file operations (get, put, delete) to manage filename with path. Now it works with pure file name only. Don't forget about unit tests.... The puzzle was created by longtimeago on 7-Mar-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-03-12 01:12] karato commented on #73
@longtimeago do this task

[2015-03-12 02:00] karato commented on #57
I am closing it, thanks all

[2015-03-12 02:00] #57 closed

[2015-03-12 02:00] karato commented on #57
@darkled I don't see any messages from you above, not sure if there was actual contribution (correct me if I'm wrong)

[2015-03-12 02:01] karato commented on #11
@krzyk this is your task

[2015-03-12 03:58] pinaf commented on #66
@karato please see PR #74

[2015-03-12 04:12] pinaf commented on #69
@karato please see PR #75

[2015-03-12 04:45] asaen commented on #57
@karato right, no contribution was here.

[2015-03-12 19:34] yegor256 commented on #8
@karato assign me to this task pls

[2015-03-12 20:39] karato commented on #8
@yegor256 sure, the ticket is yours, go ahead

[2015-03-12 22:08] karato commented on #61
@yegor256 do this task, 30 mins is budget

[2015-03-12 22:08] karato commented on #63
@yegor256 do this task, 30 mins is budget

[2015-03-12 22:08] karato commented on #63
@yegor256 thanks for reporting! I topped your account for 15 mins, transaction 000-4f9a7ac5

[2015-03-12 23:45] yegor256 commented on #73
@longtimeago please wait for https://github.com/teamed/nerodesk/pull/77

[2015-03-12 23:45] yegor256 commented on #72
@carlosmiranda please wait for https://github.com/teamed/nerodesk/pull/77

[2015-03-12 23:45] yegor256 commented on #69
@pinaf please wait for https://github.com/teamed/nerodesk/pull/77

[2015-03-12 23:46] yegor256 commented on #68
@longtimeago please wait for https://github.com/teamed/nerodesk/pull/77

[2015-03-12 23:46] yegor256 commented on #67
@carlosmiranda please wait for https://github.com/teamed/nerodesk/pull/77

[2015-03-12 23:46] yegor256 commented on #66
@pinaf please wait for https://github.com/teamed/nerodesk/pull/77

[2015-03-12 23:46] yegor256 commented on #64
@krzyk please wait for https://github.com/teamed/nerodesk/pull/77

[2015-03-12 23:46] yegor256 commented on #62
@longtimeago please wait for https://github.com/teamed/nerodesk/pull/77

[2015-03-12 23:47] yegor256 commented on #15
@alevohin please wait for https://github.com/teamed/nerodesk/pull/77

[2015-03-12 23:47] yegor256 commented on #11
@krzyk please wait for https://github.com/teamed/nerodesk/pull/77

[2015-03-13 00:42] karato commented on #14
@longtimeago Thanks for your contribution, **30 mins** was added to your account, payment ID is `53344203`

+30 added to your rating, at the moment it is: [+3049](http://www.netbout.com/b/35024?open=rating)

[2015-03-13 00:43] karato commented on #61
@yegor256 many thanks for the bug report, I added 15 mins to your acc, transaction `000-74ea341f`

[2015-03-13 00:55] carlosmiranda commented on #67
@karato We're waiting for #77.

[2015-03-13 00:55] carlosmiranda commented on #72
@karato We're waiting for #77.

[2015-03-13 01:07] carlosmiranda commented on #65
@karato Waiting for #77 here.

[2015-03-13 02:07] karato commented on #65
@carlosmiranda yes, waiting for #77

[2015-03-13 02:07] karato commented on #67
@carlosmiranda sure, let's wait for #77

[2015-03-13 02:07] karato commented on #72
@carlosmiranda right, let's wait for #77

[2015-03-13 06:29] longtimeago commented on #73
@karato waiting for #77

[2015-03-13 17:15] alevohin commented on #55
@k0r I'm native Russian speaker. What help do you need?

[2015-03-13 17:19] alevohin opened #78 "LaunchTest.returnsFileContent randomly fails"
LaunchTest.returnsFileContent randomly fails. Log below:

[code]

Please see https://travis-ci.org/teamed/nerodesk/builds/54266652 for full log.

[2015-03-13 17:40] karato commented on #73
@longtimeago yes, right, let's wait for #77

[2015-03-13 17:56] ghost commented on #55
@alevohin translating the website once it's live, and the best route to offering language support. this is also a design topic: cultural context, CSS, formatting, etc.

[2015-03-14 01:08] karato opened #79 "Re-estimate project size"
The latest estimate is rather old (created on 3-Mar-2015),we have to create a new one as explained [here](https://github.com/teamed/est)

[2015-03-14 01:18] karato commented on #79
@pinaf do this task

[2015-03-14 03:02] pinaf commented on #79
@karato please see PR #80

[2015-03-14 08:53] longtimeago commented on #68
@karato waiting for #77

[2015-03-14 08:53] longtimeago commented on #62
@karato waiting for #77

[2015-03-14 18:09] karato commented on #62
@longtimeago right, let's wait for #77

[2015-03-14 18:09] karato commented on #68
@longtimeago yes, right, let's wait for #77

[2015-03-14 19:28] pinaf commented on #66
@karato we're waiting for #77 here

[2015-03-14 19:29] pinaf commented on #69
@yegor256 you sure #77 affects this issue?

[2015-03-14 20:43] karato commented on #66
@pinaf sure, let's wait for #77

[2015-03-15 12:59] krzyk commented on #64
@karato we're waiting for #77

[2015-03-15 13:04] krzyk commented on #11
@karato we're waiting for #77

[2015-03-15 14:11] asaen commented on #55
@k0r I'm native Russian speaker too, if you'll need for this task more than one person.

[2015-03-15 19:01] karato commented on #11
@krzyk yes, waiting for #77

[2015-03-15 19:01] karato commented on #64
@krzyk got it, let's wait for #77

[2015-03-16 18:02] longtimeago commented on #46
@darkled I think we can close the issue. Build is OK with java8

[2015-03-16 21:09] yegor256 commented on #63
fixed

[2015-03-16 21:09] #63 closed

[2015-03-16 21:10] yegor256 commented on #63
@karato I have spent 3 hours for this:
- redesign of the architect
- implementation of read/write operations
- implementation of mock version of `Base`
- facebook authentication

[2015-03-16 21:11] yegor256 commented on #11
@karato assign me to this pls

[2015-03-16 21:11] yegor256 commented on #15
@ggajos this seems to be a duplicate of #11

[2015-03-16 21:11] yegor256 commented on #11
@rultor release, tag is `0.1.1`

[2015-03-16 21:12] rultor commented on #11
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2597-81942489)

[2015-03-16 21:34] rultor commented on #11
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/2597-81942489) (spent 20min)

[2015-03-16 21:40] yegor256 commented on #11
@rultor release, tag is `0.1.1`

[2015-03-16 21:41] rultor commented on #11
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2597-81954144)

[2015-03-16 21:48] karato commented on #62
we were waiting for #77 - it is closed already

[2015-03-16 21:48] karato commented on #64
impediment in issue #77 is closed, we can probably try to continue here

[2015-03-16 21:48] karato commented on #65
FYI, issue #77 is already closed, and we were waiting for it..

[2015-03-16 21:48] karato commented on #66
#77 is closed, it was an impediment

[2015-03-16 21:48] karato commented on #67
impediment in issue #77 is closed, we can probably try to continue here

[2015-03-16 21:48] karato commented on #68
Issue #77 is already closed (we were waiting for it) Maybe we can continue..

[2015-03-16 21:48] karato commented on #72
I think we can continue, impediment #77 is closed

[2015-03-16 21:48] karato commented on #73
impediment in issue #77 is closed, we can probably try to continue here

[2015-03-16 21:53] rultor commented on #11
Release `0.1.1` already exists! I can't duplicate it, but I posted a comment there. In the future, try to avoid duplicate releases

[2015-03-16 21:53] rultor commented on #11
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2597-81954144) (took me 11min)

[2015-03-16 22:09] ghost commented on #55
@darkled thanks.

[2015-03-16 22:16] karato commented on #63
@yegor256 3 hours added to your account, transaction `000-f7f691ea`

[2015-03-16 22:31] yegor256 commented on #11
@rultor release tag is `0.1.2`

[2015-03-16 22:32] rultor commented on #11
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2597-81967609)

[2015-03-16 22:43] rultor commented on #11
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/2597-81967609) (spent 10min)

[2015-03-16 22:50] yegor256 commented on #11
@rultor release tag is `0.1.2`

[2015-03-16 22:50] rultor commented on #11
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2597-81974597)

[2015-03-16 23:01] rultor commented on #11
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2597-81974597) (took me 10min)

[2015-03-16 23:05] yegor256 commented on #11
@ggajos I believe this problem is fixed, you can login with Facebook to beta.nerodesk.com

[2015-03-16 23:05] yegor256 opened #82 "RqMultipart can only parse multipart/form-data..."
[code]

[2015-03-16 23:06] yegor256 commented on #82
@rultor release, tag is `0.1.3`

[2015-03-16 23:06] rultor commented on #82
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2602-81981418)

[2015-03-16 23:22] rultor commented on #82
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2602-81981418) (took me 15min)

[2015-03-17 00:19] karato commented on #11
@yegor256 sure, the ticket is yours, go ahead

[2015-03-17 00:23] karato commented on #82
@yegor256 your task, 30 mins is budget

[2015-03-17 00:24] karato commented on #82
@yegor256 thanks for reporting! I topped your account for 15 mins, transaction 000-ece6c71e

[2015-03-17 00:30] yegor256 commented on #82
fixed

[2015-03-17 00:30] #82 closed

[2015-03-17 00:41] yegor256 opened #83 "file upload doesn't work"
[code]

[2015-03-17 00:43] yegor256 commented on #83
@rultor release tag is `0.1.4`

[2015-03-17 00:44] rultor commented on #83
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2604-82006514)

[2015-03-17 00:57] rultor commented on #83
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2604-82006514) (took me 13min)

[2015-03-17 01:10] yegor256 opened #84 "upload doesn't work due to bug in takes"
Takes 0.9.2 has a critical bug, fixed in https://github.com/yegor256/takes/issues/62

[2015-03-17 01:10] pinaf commented on #79
@karato merged. please close if alright.

[2015-03-17 01:19] yegor256 commented on #84
@rultor release, tag is `0.1.5`

[2015-03-17 01:20] rultor commented on #84
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2606-82017704)

[2015-03-17 01:36] rultor commented on #84
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2606-82017704) (took me 15min)

[2015-03-17 01:39] yegor256 opened #85 "AWS upload/download doesn't work"
[code]

[2015-03-17 01:41] karato commented on #85
@yegor256 got it, tag `bug` is here

[2015-03-17 01:45] karato commented on #11
I think we can continue, impediment #77 is closed

[2015-03-17 01:45] karato commented on #83
@yegor256 your task, 30 mins is budget

[2015-03-17 01:46] karato commented on #83
@yegor256 thanks a lot for reporting, **15 mins** added to your acc, pmt ID `000-6bceaab1`

[2015-03-17 01:53] yegor256 commented on #85
@rultor release, tag is `0.1.6`

[2015-03-17 01:53] rultor commented on #85
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2607-82028462)

[2015-03-17 02:07] rultor commented on #85
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2607-82028462) (took me 14min)

[2015-03-17 02:12] yegor256 opened #86 "delete doesn't work"

[2015-03-17 02:24] yegor256 commented on #86
@rultor release, tag is `0.1.7`

[2015-03-17 02:25] rultor commented on #86
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2609-82047856)

[2015-03-17 02:31] karato commented on #85
@krzyk this is your task

[2015-03-17 02:31] karato commented on #85
@yegor256 thanks for this report, I added 15 mins to your account, in transaction `000-5c8605b2`

[2015-03-17 02:32] #85 closed

[2015-03-17 02:32] #83 closed

[2015-03-17 02:35] rultor commented on #86
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2609-82047856) (took me 10min)

[2015-03-17 02:41] #86 closed

[2015-03-17 05:55] k0r opened #87 "OAuth Error"
Error:

[2015-03-17 07:55] ggajos commented on #15
@yegor256 yes, think I edited description and title of those tickets to be more clear and end up with duplicate; closing.

[2015-03-17 07:55] #15 closed

[2015-03-17 15:23] pinaf commented on #66
@karato done.

[2015-03-17 15:23] pinaf commented on #69
@karato done.

[2015-03-17 17:09] yegor256 commented on #87
@k0r I think the problem is that it's a test application and Facebook doesn't allow you to use it. It only allows me at the moment. I have to add you to the list of "testers" in the app config panel. In order to do this, you should be in the list of my Facebook friends :) so, please send me a friend request in facebook, this is my page there: https://www.facebook.com/yegor.bugayenko

[2015-03-17 17:12] yegor256 commented on #78
@alevohin please, try again now. It was an issue in takes, I believe. It's fixed in the latest version

[2015-03-17 17:12] yegor256 commented on #61
done

[2015-03-17 17:12] #61 closed

[2015-03-17 17:13] yegor256 commented on #18
@pinaf we're using Java 7 and this is enough for us. I think this ticket can be closed. See e75bdea

[2015-03-17 17:14] yegor256 commented on #11
@ggajos see #87 for login issue

[2015-03-17 17:19] k0r commented on #87
@yegor256 confirm?

[2015-03-17 17:20] karato commented on #84
@yegor256 do this task, 30 mins is budget

[2015-03-17 17:21] karato commented on #84
@yegor256 thanks a lot for reporting, **15 mins** added to your acc, pmt ID `000-a6834209`

[2015-03-17 17:26] ggajos commented on #11
@yegor256 ok, let's close this one

[2015-03-17 17:30] yegor256 commented on #87
@k0r I added you to the list of "testers", but facebook says it's "pending". I suspect you should approve this operation on your end.

[2015-03-17 17:31] pinaf commented on #18
@yegor256 thanks

[2015-03-17 17:31] #18 closed

[2015-03-17 17:34] ghost commented on #87
@yegor256 still receiving error.

[2015-03-17 17:37] yegor256 commented on #87
@k0r you're still in "pending" status. You should register as a developer in Facebook, as I understand and confirm your tester status in dev-nerodesk application.

[2015-03-17 17:45] ghost commented on #87
@yegor256 works, thanks.

[2015-03-17 17:53] k0r opened #88 "File Transfer Status"
Implement File Transfer Status:

[2015-03-17 17:58] ghost commented on #84
@yegor256 just received an Heroku Application Error upon file upload completion: An error occurred in the application and your page could not be served. Please try again in a few moments.

[2015-03-17 18:06] longtimeago commented on #46
@darkled can we close it?

[2015-03-17 18:22] ghost commented on #69
@karato updated the logo.

[2015-03-17 18:24] karato commented on #87
@yegor256 your task, 30 mins is budget

[2015-03-17 18:28] ghost commented on #87
@karato oauth works after adding fb accts to @yegor256 dev list.

[2015-03-17 18:43] yegor256 commented on #87
@k0r please close the ticket if the problem is fixed

[2015-03-17 18:46] yegor256 commented on #84
@k0r how big is the file you're uploading? what is the name of file you're using? I mean, how can I reproduce the error?

[2015-03-17 18:46] yegor256 commented on #11
@ggajos it's your ticket, please close it

[2015-03-17 18:47] alevohin commented on #78
@yegor256 I cannot reproduce it. I checked last PR's and master's states - this error is not reproduced also.

[2015-03-17 18:47] #78 closed

[2015-03-17 18:49] ghost commented on #84
@yegor256 500mb txt file created with `fsutil` then uploaded.

[2015-03-17 18:54] #87 closed

[2015-03-17 19:25] yegor256 commented on #88
@k0r please, reformat your ticket description as explained here: http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html Also, keep in mind that one ticket should discuss only one problem/bug/feature. Looks like you aggregated three issues in one ticket here.

[2015-03-17 19:26] yegor256 commented on #84
@k0r that's a separate issue. Let's create a new ticket about it. It happens because the server is trying to put the entire file in memory first. But they maximum memory available is 128Mb. Please create a new ticket for this.

[2015-03-17 19:47] ghost opened #89 "user can't upload large files"
Heroku:

Replication:

@yegor256 response:

[2015-03-17 19:55] yegor256 commented on #89
@karato that's definitely a bug, please dispatch it

[2015-03-17 20:06] longtimeago commented on #62
@yegor256 there's nothing to do here after your refactoring :(

[2015-03-17 20:13] #54 closed

[2015-03-17 20:14] k0r commented on #88
@yegor256 well, it's essentially a feature that solves multiple requests. thought the implementation could go in one ticket.

[2015-03-17 20:14] longtimeago opened #90 "MkDocs tests are missing"
We need to cover ``` MkDocs.names() ``` and  ``` MkDocs.doc() ``` with unit tests.

[2015-03-17 20:18] longtimeago opened #91 "MkDoc tests are missing"
We need unit tests for all ``` MkDoc ``` operations

[2015-03-17 20:21] yegor256 commented on #8
@rultor release, tag is `0.2`

[2015-03-17 20:21] rultor commented on #8
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2638-82581076)

[2015-03-17 20:22] yegor256 commented on #88
@k0r please, reformat the title of the ticket and its description. they should say what is wrong now and what I have to do in order to reproduce the problem. Also, you can order a solution to the problem (but not necessarily).

[2015-03-17 20:23] yegor256 commented on #62
yeah, the problem is gone

[2015-03-17 20:23] #62 closed

[2015-03-17 20:23] #84 closed

[2015-03-17 20:25] yegor256 commented on #55
@k0r please, reformat the ticket title/description so that they sound like "there is a bug that...", see http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html

[2015-03-17 20:26] yegor256 commented on #6
@k0r please, reformat the ticket so that it sounds like a bug, see more information here: http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html

[2015-03-17 20:26] longtimeago opened #92 "nerodesk-jar-with-dependencies.jar is not build anymore"
Here is how README propose to run the app:
```java -jar target/nerodesk-jar-with-dependencies.jar```

But now build procedure doesn't imply creation of ```nerodesk-jar-with-dependencies.jar``` artifact.
So, it would be good to turn it back

[2015-03-17 20:28] k0r commented on #6
@yegor256 feature request.

[2015-03-17 20:31] asaen commented on #46
@longtimeago I am not sure actually, because `.rultor.yml` doesn't have set docker image...
@yegor256 I see you removed docker image with the latest commit, won't we use java 8 anymore with rultor?

[2015-03-17 20:31] rultor commented on #8
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2638-82581076) (took me 10min)

[2015-03-17 20:32] yegor256 commented on #46
@darkled there is no point in Java8 in this project. Java7 works just fine.

[2015-03-17 20:33] longtimeago opened #93 "README should mention that port parameter is mandatory now"
Port parameter is mandatory now. Also parameter format is changed. Now it looks like this:
```--port=9000```
Please, update the README

[2015-03-17 20:34] asaen commented on #46
@yegor256 @longtimeago ok, thank you, closing the issue

[2015-03-17 20:34] #46 closed

[2015-03-17 20:34] yegor256 commented on #6
@k0r even feature requests should be formatted like "this is wrong, because..." That's how we can fix/implement them. More details: http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html#5.-report-when-it-is-broken: "Every bug report should follow the same simple formula: "This is what we have, this is what we should have instead, so fix it". Every ticket, be it a bug, a task, a questi

[2015-03-17 20:36] krzyk commented on #64
@yegor256 Is this still valid? I don't see todo in the code of `Launch` class

[2015-03-17 20:39] yegor256 commented on #64
@krzyk ignore it for now

[2015-03-17 21:17] karato commented on #90
we will find someone to do this task, soon

[2015-03-17 21:17] karato commented on #91
I will find a developer for the task soon...

[2015-03-17 21:18] karato commented on #89
@yegor256 right, I added the `bug` tag

[2015-03-18 07:54] ggajos commented on #11
@yegor256 sorry, thought I did it.

[2015-03-18 07:54] #11 closed

[2015-03-18 18:32] longtimeago commented on #73
@yegor256 I think this task is not needed anymore. New design handles file names with path perfectly.

[2015-03-18 18:58] longtimeago commented on #68
@yegor256 could you please clarify if this issue is still valid? Maybe some updates?

[2015-03-18 19:05] yegor256 commented on #68
@longtimeago I think it's a valid problem. try to open this page for example: http://beta.nerodesk.com/oops We should use `TsFallback` to prevent this.  see how it's done in Rultor.

[2015-03-18 19:05] yegor256 commented on #73
@longtimeago yeah, this puzzle is gone, don't touch this task any more

[2015-03-18 20:59] longtimeago commented on #68
@yegor256 What is in the scope? What is desired output of the task?
Major questions:
1) What exceptional situations should be handled by `TsFallback`?
2) Are we OK with one global handler?
3) What should client see if something bad happened?

I tried to encase only storage operations with `TsFallback` but looks like it works not stably.

[2015-03-18 21:09] k0r opened #94 "Remove File Name Field"
Error:

Replication:

Browsers tested:

@yegor256 responses:

![file listing bug](http://www.nerodesk.com/nd_file_listing_bug.jpg)

[2015-03-18 21:09] #5 closed

[2015-03-18 21:15] #7 closed

[2015-03-18 21:16] #88 closed

[2015-03-18 21:16] #44 closed

[2015-03-18 21:20] k0r commented on #44
I can integrate this once the site reaches 1.0.

[2015-03-18 21:25] #6 closed

[2015-03-18 21:26] k0r commented on #6
I'll integrate this after Nerodesk reaches 1.0.

[2015-03-18 21:51] yegor256 commented on #94
@k0r is it reproducible with any file or only this specific one?

[2015-03-18 21:52] yegor256 commented on #68
@longtimeago I think that a single fallback will be fine, just like it's done in rultor. I didn't get the "not stably" message. What is not stable and why?

[2015-03-18 21:53] ghost commented on #94
@yegor256 updated.

[2015-03-18 22:17] yegor256 commented on #94
@k0r can you try to upload a smaller file and check whether the bug is still there?

[2015-03-18 22:22] ghost commented on #94
@yegor256 1mb file uploaded -- no file listing.

[2015-03-18 22:28] yegor256 commented on #94
can you make a screenshot of the web page you see? with no listing.

[2015-03-18 22:34] k0r commented on #94
@yegor256 emailed.

[2015-03-18 22:39] longtimeago commented on #68
@yegor256 Here is the code

[code]

Sorry for the long piece of code. What I've done - put all document's operations inside

[code]

What is unstable? I see expected `oops, something went wrong!` only after very first call after app restart. On next calls I see just nothing. Empty body.

[2015-03-18 22:45] yegor256 commented on #68
@longtimeago brrr... what FkFixed is doing here? You should just wrap the entire `Takes` into `TsFallback`, just like Takes README explains. Do you understand how it works? It you don't, submit a bug to Takes github and I'll improve the documentation

[2015-03-18 22:46] yegor256 commented on #94
@k0r please attach it here, there is a link below. thanks

[2015-03-18 22:46] k0r commented on #94
![file listing bug](http://www.nerodesk.com/nd_file_listing_bug.jpg)

[2015-03-18 23:21] karato commented on #8
Closing this issue now...

[2015-03-18 23:21] #8 closed

[2015-03-18 23:21] karato commented on #85
@krzyk I don't see any messages from you above, not sure if there was actual contribution (correct me if I'm wrong)

[2015-03-18 23:26] karato commented on #8
@yegor256 thank you, added **43 mins** to your acc, payment num is `000-fb9830b4`

bonus calculated here using these numbers: t=667, c=126, h=4168, diff=0.1..master

+43 added to your rating, current score is: [+8313](http://www.netbout.com/b/35008?open=rating)

[2015-03-18 23:26] karato commented on #15
@alevohin Much obliged! I have added **30 mins** to your account in payment "53750585"... +30 added to your rating, at the moment it is: [+1636](http://www.netbout.com/b/35105?open=rating)

[2015-03-18 23:26] karato commented on #18
@darkled Thank you, I have added **30 mins** to your account in payment/transaction "`53750605`"

added +30 to your rating, now it is equal to [+2050](http://www.netbout.com/b/35091?open=rating)

[2015-03-18 23:26] karato commented on #46
@longtimeago I added **30 mins** to your account, many thanks for working with the project!. +30 to your rating, your total score is [+3053](http://www.netbout.com/b/35024?open=rating)

[2015-03-18 23:26] karato commented on #89
@longtimeago this is your task

[2015-03-18 23:26] karato commented on #90
@alevohin do this task

[2015-03-18 23:26] karato commented on #91
@krzyk do this task

[2015-03-18 23:44] karato commented on #91
@longtimeago thanks for reporting! I topped your account for 15 mins, transaction 53750859

[2015-03-19 01:05] carlosmiranda commented on #67
@yegor256 Looks like this puzzle was moved from `LaunchTest` to `AppTest` in #77. Should I continue working on it assuming that it's in `AppTest`?

[2015-03-19 01:17] carlosmiranda opened #95 "TkDeleteTest.deletesFiles() test failure (possibly environment specific)"
When I build with `mvn clean install -Pqulice,cobertura`, I get the following test failure:

[code]

Judging by the fact that the recent Travis and Rultor builds have passed, I believe this is an environment-specific (Windows?) problem. See output of my `mvn --version` below:

[code]

[2015-03-19 01:26] karato commented on #63
2 puzzles were created here: `63-f209efe0`, `63-5fc80ca1`

[2015-03-19 01:39] karato commented on #62
@longtimeago **30 mins** was added to your account, many thanks for your contribution!... +30 added to your rating, current score is: [+3128](http://www.netbout.com/b/35024?open=rating)

[2015-03-19 01:40] karato commented on #90
@longtimeago many thanks for the bug report, I added 15 mins to your acc, transaction `53752855`

[2015-03-19 02:13] karato opened #96 "pom.xml:373-375: Branch coverage is intentionally lowered..."
Puzzle `63-f209efe0` in `pom.xml:373-375` has to be resolved: Branch coverage is intentionally lowered here, in order to get version 0.2 out of the door. Let's raise it back to 50.... The puzzle was created by Yegor Bugayenko on 16-Mar-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-03-19 02:24] karato commented on #61
@yegor256 Much obliged! I have added **30 mins** to your account in payment "000-1668fc1d". +30 added to your rating, at the moment it is: [+8373](http://www.netbout.com/b/35008?open=rating)

[2015-03-19 02:24] karato commented on #63
@yegor256 Much obliged! I have added **30 mins** to your account in payment "000-4828f081"... +30 added to your rating, at the moment it is: [+8343](http://www.netbout.com/b/35008?open=rating)

[2015-03-19 02:24] karato commented on #96
@krzyk do this task

[2015-03-19 02:56] karato opened #97 "pom.xml:379-381: Line coverage is intentionally lowered..."
Puzzle `63-5fc80ca1` in `pom.xml:379-381` has to be resolved: Line coverage is intentionally lowered here, in order to get version 0.2 out of the door. Let's raise it back to 75.... The puzzle was created by Yegor Bugayenko on 16-Mar-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-03-19 03:07] karato commented on #82
@yegor256 paid, thanks, added **30 mins** to your account, payment `000-2825c5b8`... +30 added to your rating, at the moment it is: [+8403](http://www.netbout.com/b/35008?open=rating)

[2015-03-19 03:07] karato commented on #83
@yegor256 **30 mins** was added to your account, many thanks for your contribution!. +30 to your rating, your total score is [+8433](http://www.netbout.com/b/35008?open=rating)

[2015-03-19 03:07] karato commented on #84
@yegor256 paid, thanks, added **30 mins** to your account, payment `000-52b5d2cd`

+30 added to your rating, at the moment it is: [+8463](http://www.netbout.com/b/35008?open=rating)

[2015-03-19 03:07] karato commented on #97
@caarlos0 do this task

[2015-03-19 03:54] karato commented on #87
@yegor256 paid, thanks, added **30 mins** to your account, payment `000-8957e3b7`. +30 to your rating, your total score is [+8493](http://www.netbout.com/b/35008?open=rating)

[2015-03-19 19:06] karato commented on #11
@yegor256 **30 mins** added to your account (payment number `000-58801d63`), many thanks for your contribution!. +30 added to your rating, current score is: [+8518](http://www.netbout.com/b/35008?open=rating)

[2015-03-19 20:30] longtimeago commented on #68
PR is available https://github.com/teamed/nerodesk/pull/99

[2015-03-19 20:49] #56 closed

[2015-03-19 22:18] yegor256 commented on #67
@carlosmiranda yes, sure

[2015-03-19 22:30] yegor256 commented on #94
@k0r what browser are you using?

[2015-03-19 22:30] yegor256 commented on #95
@karato looks like a Win-related bug to me

[2015-03-19 22:33] yegor256 commented on #93
@longtimeago fixed in 6b15085 thanks

[2015-03-19 22:33] #93 closed

[2015-03-19 22:33] yegor256 commented on #92
Fixed in 6b15085 thanks

[2015-03-19 22:33] #92 closed

[2015-03-19 22:37] yegor256 opened #100 "account deletion is not implemented"
Our README specification promises that we allow users to delete accounts. This feature is not implemented at the moment, let's fix it. A user should be able to click "terminate account". Then, we show a confirmation page, with a text confirming that the account will be destroyed and all files removed. Then, the user should enter a verification text and click "confirm". Then, we do `user.docs().era

[2015-03-19 22:50] yegor256 opened #101 "file details are not visible in the list of files"
I don't see file sizes and other attributes for my files in the profile. This information would be useful:

 * file size
 * data/time of upload
 * mime type of tile

[2015-03-19 22:52] yegor256 opened #102 "total storage size is not visible"
I don't see total amount of bytes stored in my account. I believe, this information would be useful and should be present in the top line of every page. I think, we should implement it like this:

[code]

[2015-03-20 00:38] karato commented on #102
@yegor256 thanks, I added the "bug" tag

[2015-03-20 00:38] karato commented on #101
@yegor256 got it, tag `bug` is here

[2015-03-20 00:38] karato commented on #100
@yegor256 sure, thanks, I added bug tag to it

[2015-03-20 00:38] karato commented on #95
@yegor256 OK, I labeled it as `bug`

[2015-03-20 00:54] yegor256 opened #103 "file sharing doesn't work"
Our README promises that a user is able to share his/her files with other users. At the moment, this doesn't work. Let's implement this feature. Let's extend our interfaces with this:

[code]

I think we should use DynamoDB for keeping that links between projects. I would suggest to use a table with this structure:

[code]

Here, `friend` is a hash, `owner` is a range, and `document`. With this st

[2015-03-20 01:14] karato commented on #103
@yegor256 sure, thanks, I added bug tag to it

[2015-03-20 01:24] karato commented on #95
@longtimeago do this task

[2015-03-20 01:24] karato commented on #102
@ggajos this is your task

[2015-03-20 01:26] karato commented on #95
@carlosmiranda thanks for this report, I added 15 mins to your account, in transaction `53782840`

[2015-03-20 04:01] karato commented on #64
The task is done, thanks all, I am closing it

[2015-03-20 04:01] #64 closed

[2015-03-20 04:01] #65 closed

[2015-03-20 04:01] #66 closed

[2015-03-20 04:01] #69 closed

[2015-03-20 04:01] #72 closed

[2015-03-20 04:01] #73 closed

[2015-03-20 04:01] #79 closed

[2015-03-20 04:01] karato commented on #65
Thanks all, I am closing

[2015-03-20 04:01] karato commented on #66
Done, thanks all, closing..

[2015-03-20 04:01] karato commented on #69
Thanks, closed

[2015-03-20 04:01] karato commented on #72
Done, thanks all, closing..

[2015-03-20 04:01] karato commented on #73
Closed, thanks all

[2015-03-20 04:01] karato commented on #79
We are done here, thanks all

[2015-03-20 04:09] karato commented on #64
@krzyk Thanks for your contribution, **30 mins** was added to your account, payment ID is `53785113`... added +30 to your rating, now it is equal to [+5157](http://www.netbout.com/b/35035?open=rating)

[2015-03-20 04:09] karato commented on #65
@carlosmiranda **30 mins** sent to your balance (ID `53785131`), many thanks!. +30 added to your rating, current score is: [+3947](http://www.netbout.com/b/35023?open=rating)

[2015-03-20 04:09] karato commented on #66
@pinaf Thanks a lot, I just topped your account for **30 mins**, transaction ID `AP-8GS71951E8212650X`; +30 added to your rating, at the moment it is: [+4925](http://www.netbout.com/b/35128?open=rating)

[2015-03-20 04:09] karato commented on #69
@pinaf Thanks for your contribution, **15 mins** was added to your account, payment ID is `AP-6AD22508TG3305408`. +15 added to your rating, current score is: [+4940](http://www.netbout.com/b/35128?open=rating)

[2015-03-20 04:09] karato commented on #103
@longtimeago this is your task

[2015-03-20 04:15] karato commented on #102
@yegor256 many thanks for the report, I topped your account for 15 mins, transaction 000-f2a4687d

[2015-03-20 04:38] ghost commented on #94
@yegor256 updated.

[2015-03-20 04:55] yegor256 commented on #94
@k0r that's weird... can you try a small file? like 100kb

[2015-03-20 06:27] ghost commented on #94
@yegor256 same result.

[2015-03-20 06:31] yegor256 commented on #94
@k0r it's a magic... ok, let's assign it to one of developers and see what they say

[2015-03-20 06:31] yegor256 commented on #94
@karato it's a bug, dispatch it pls

[2015-03-20 07:25] k0r opened #104 "XSLT Error"
Error:

Replication:

Browsers tested:

![xsl doctype bug](http://www.nerodesk.com/nd_doctype_bug.jpg)

[2015-03-20 15:31] ggajos commented on #102
PR #107

[2015-03-20 17:18] yegor256 commented on #104
@karato this is definitely a bug

[2015-03-20 18:02] karato commented on #94
@yegor256 OK, I labeled it as `bug`

[2015-03-20 18:10] karato commented on #72
@carlosmiranda I added **30 mins** to your account, many thanks for working with the project!; +30 added to your rating, at the moment it is: [+3999](http://www.netbout.com/b/35023?open=rating)

[2015-03-20 18:10] karato commented on #73
@longtimeago Thanks a lot, I just topped your account for **30 mins**, transaction ID `53800501`; added +30 to your rating, now it is equal to [+3285](http://www.netbout.com/b/35024?open=rating)

[2015-03-20 18:10] karato commented on #79
@pinaf Much obliged! I have added **30 mins** to your account in payment "AP-5E922784YH2759643"... +30 added to your rating, current score is: [+4970](http://www.netbout.com/b/35128?open=rating)

[2015-03-20 18:10] karato commented on #100
@pinaf this is your task

[2015-03-20 18:10] karato commented on #101
@longtimeago this is your task

[2015-03-20 18:12] karato commented on #101
@yegor256 thank you for the ticket reported, I topped your account for 15 mins, transaction `000-9491c6ab`

[2015-03-20 19:09] k0r commented on #100
what if the user has paid access? refer to @roadmap 0.3

[2015-03-20 19:26] pinaf commented on #100
@yegor256 is the account actually deleted or just marked as deleted somehow in order to allow a future re-activation?

[2015-03-20 19:29] k0r commented on #100
@pinaf [#5](https://github.com/teamed/nerodesk/issues/5)

[2015-03-20 19:31] yegor256 commented on #100
@pinaf just deleted, like I explained. We don't actually have any account persistence. As long as there are no files in S3, the account has nothing. So, we should terminate an account by removing all its files.

[2015-03-20 19:32] yegor256 commented on #100
@k0r we'll deal with paid access in a separate ticket, here we focus on account termination feature

[2015-03-20 19:33] pinaf commented on #100
@k0r ok. so this is DELETION, not DISABLE

[2015-03-20 19:33] pinaf commented on #100
@yegor256 got it.

[2015-03-20 19:46] karato commented on #104
@yegor256 OK, I labeled it as `bug`

[2015-03-20 19:55] karato commented on #94
@ggajos this is your task

[2015-03-20 19:56] karato commented on #100
@yegor256 thanks for reporting! I topped your account for 15 mins, transaction 000-3508f5a7

[2015-03-20 22:51] karato commented on #104
@ggajos do this task

[2015-03-20 22:52] karato commented on #103
@yegor256 thanks for the ticket, your account was topped for 15 mins, payment 000-10d2e5fd

[2015-03-20 23:23] k0r commented on #104
@karato ETA?

[2015-03-20 23:29] k0r commented on #94
@karato ETA?

[2015-03-21 02:46] pinaf opened #108 "Cannot login"
There doesn't seem to be a way to login without a Facebook account. In order to contribute, it is necessary for the dev to login to his local copy of nerodesk.

Please implement a way to login without Facebook (and thus gain access the restricted pages) or at least explain in README/How to contribute how that should be done if it is already possible.

[2015-03-21 02:47] pinaf commented on #103
@karato we need to wait for #108

[2015-03-21 02:55] ghost commented on #108
@pinaf this was a decision made by @yegor256 here [#10](https://github.com/teamed/nerodesk/issues/10)

[2015-03-21 02:57] pinaf commented on #108
@k0r I don't use Facebook at all and I'd bet there are other ppl who don't either :(

[2015-03-21 03:02] ghost commented on #108
@pinaf inherent account mgmt is to be determined post 1.0 release.

[2015-03-21 03:13] pinaf commented on #108
@k0r not sure what you mean by inherent account mgmt

[2015-03-21 03:17] ghost commented on #108
@pinaf also refer to [#11](https://github.com/teamed/nerodesk/issues/11)

[2015-03-21 03:21] pinaf commented on #108
@yegor256 should I just ask for someone else to be assigned or is there a way around this?

[2015-03-21 03:26] ghost commented on #108
@pinaf oauth via fb is the only method currently available pre 1.0 for logging in.

[2015-03-21 03:32] yegor256 commented on #108
@pinaf why can't you create an account in Facebook? What is the problem with this? It's a one minute job and you will be able to use that account for OAuth logins to many online apps.

There is a workaround. We can add Github login to the system, it's 30 min job.

[2015-03-21 03:34] pinaf commented on #108
@yegor256 don't trust them at all. want distance from those ppl.

[2015-03-21 03:49] karato commented on #103
@pinaf sure, let's wait for #108

[2015-03-21 03:56] pinaf commented on #108
@yegor256 github would be fine with me - but regardless of my situation, it makes a lot of sense since you use github as your dev platform already.

[2015-03-21 16:33] longtimeago commented on #95
@karato please, assign someone else. I have no windows PC available now

[2015-03-21 16:48] longtimeago opened #110 "README is missing the API description"
README is missing the API description. Following question should be answered:
1) What resources are available
2) What requests are acceptable for that resources (Content type, HTTP methods, parameters, body)
3) What parameters are mandatory/optional
4) Examples of the responses.
See Github API as an example.

[2015-03-21 17:17] longtimeago opened #111 "README is missing maximum file size client should be able to operate"
README is missing maximum file size client should be able to upload to / download from the server.
Should this size be configurable?
Does it depend on the client privileges?

[2015-03-21 17:44] longtimeago opened #112 "AwsDocs tests are missing"
We need to cover AwsDocs.names() and AwsDocs.doc() with unit tests.

[2015-03-21 17:44] longtimeago opened #113 "AwsDoc tests are missing"
We need unit tests for all AwsDoc operations

[2015-03-21 17:54] longtimeago opened #114 "Integration tests are missing for AwsDocs"
We need to create an integration tests for ```AwsDocs.names()``` on real AWS account

[2015-03-21 17:54] longtimeago opened #115 "Integration tests are missing for AwsDoc"
We need to create an integration tests for all ```AwsDoc``` operations on real AWS account

[2015-03-21 18:09] k0r commented on #40
@yegor256 updated.

[2015-03-21 18:13] ghost commented on #94
I'd recommend @yegor256 to fix this.

[2015-03-21 18:20] ghost commented on #108
@pinaf @yegor256 please utilize the provided login mechanism to login as this is currently a budgetary and time sensitive issue.

[2015-03-21 18:26] pinaf commented on #100
@karato please assign someone else here

[2015-03-21 18:27] pinaf commented on #108
@k0r I have requested someone else be assigned - sorry.

[2015-03-21 18:27] #108 closed

[2015-03-21 18:30] krzyk commented on #91
PR #116

[2015-03-21 18:41] ghost commented on #108
@pinaf could you fix this? [#104](https://github.com/teamed/nerodesk/issues/104) doesn't require login access.

[2015-03-21 18:48] longtimeago commented on #89
@k0r @yegor256 I've razed a question https://github.com/teamed/nerodesk/issues/111 related to the issue, but the problem is wider. I don't propose to increase server RAM as it will simply mask the problem.

Correct me if I'm wrong - there is no pure server-side solution. So, the problem can be split on two more or less independent parts:
1) Client side part - consider using https://github.com/blue

[2015-03-21 18:54] k0r commented on #89
@longtimeago so the file is constructed on the server as each chunk less than or equal the configured server IO is uploaded until completion?

[2015-03-21 18:56] longtimeago commented on #89
@k0r Sorry, didn't get your question ... could you please elaborate?

[2015-03-21 19:03] k0r commented on #89
@longtimeago what is the eta for implementation for either method?

[2015-03-21 19:57] longtimeago commented on #89
@k0r If we would have an appropriate client and partitioning support in `takes` and  `jcabi-s3` it shouldn't be too difficult for the server side.
Best case: 7h
Worst case: 20h - mostly because we would need to implement proper file-system based mocks.

But I don't feel myself very confident in this solution. Maybe, I've missed some important aspect. It would be cool to have @yegor256 's opinion a

[2015-03-21 20:01] ghost commented on #89
@longtimeago I agree, let's see what @yegor256 says. thanks for your input on this situation.

[2015-03-21 20:55] caarlos0 commented on #97
@karato PR is opened #117

[2015-03-22 03:08] pinaf commented on #108
@k0r I sure could but that issue was assigned to @ggajos already.

[2015-03-22 04:25] yegor256 commented on #40
@k0r I updated the title of the ticket too

[2015-03-22 04:25] yegor256 commented on #40
@k0r also, "other suggestions" should be submitted in separate tickets. We're trying to keep strictly one ticket per problem, for clarity

[2015-03-22 04:30] yegor256 commented on #89
@longtimeago I totally agree that we should use that jQuery plugin (or something similar). But I don't agree with the complexity of the problem. If the plugin splits the file into parts and submits multiple requests, Takes should not be modified at all. It will just process requests individually and upload parts into S3. Also, jcabi-s3 doesn't need to be modified, we can use Amazon SDK directly. A

[2015-03-22 04:54] yegor256 opened #118 "PayPal account funding doesn't work"
Our README says that a user should be able to fund his/her account through PayPal. This feature is not implemented now. We should implement `User.account()` method that should return `Account` interface, where we should be able to:

[code]

Let's show the balance of the user on the top line of each web page. Also, let's create a new page `account.xsl`, where all transactions should be visible. I t

[2015-03-22 10:08] krzyk commented on #96
PR #119

[2015-03-22 11:48] longtimeago opened #120 "TkWrite fails to retrieve file name from RqMultipart"
I run app in dev mode
[code]
and tried to add new file with name ```test.txt```
In app logs I saw
[code]
So, no file name in the file path stored.
The problem is that ```TkWrite``` read file name from part named "name", but actual file name is in the second part of multipart request, named "file".
Here is actual request payload:
[code]
Current ```TkWrite``` implementation trying to read filename f

[2015-03-22 11:55] longtimeago commented on #89
@k0r @yegor256 Yes, after deeper investigation of `takes` I see it can handle such requests  (TkWithHeades should help). And you are right about `Region.aws()`. We can use it for the low level access to Amazon S3.
Gonna start with server side test, thanks for hints.

[2015-03-22 16:24] longtimeago commented on #103
@karato please, assign someone else, really have no time for this issue :(

[2015-03-22 16:24] longtimeago commented on #101
@karato please, assign someone else, really have no time for this issue :(

[2015-03-22 17:13] karato commented on #112
I am aware of the task, give me some time to find a developer...

[2015-03-22 17:13] karato commented on #113
I will ask someone to take care of this task soon

[2015-03-22 17:13] karato commented on #114
we will find someone to do this task, soon

[2015-03-22 17:13] karato commented on #115
we will find someone to do this task, soon

[2015-03-22 17:15] karato commented on #95
@longtimeago right, I'll try to find someone else for this task

[2015-03-22 17:15] karato commented on #100
@pinaf all right, we'll find someone else for this task

[2015-03-22 17:15] karato commented on #118
@yegor256 OK, I labeled it as `bug`

[2015-03-22 17:24] karato commented on #103
we waited for #108, it is closed already

[2015-03-22 17:24] karato commented on #115
@ggajos this is your task

[2015-03-22 17:26] karato commented on #115
@longtimeago many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `53832988`

[2015-03-22 18:38] karato commented on #101
@longtimeago all right, we'll find someone else for this task

[2015-03-22 18:38] karato commented on #103
@longtimeago someone else will help in this task, no problem at all

[2015-03-22 18:50] karato commented on #95
@pinaf do this task

[2015-03-22 18:50] karato commented on #118
@krzyk this is your task

[2015-03-22 18:51] karato commented on #114
@longtimeago thanks a lot for reporting, **15 mins** added to your acc, pmt ID `53834242`

[2015-03-22 18:58] pinaf commented on #95
@karato please assign someone else. no windows here either.

[2015-03-22 19:56] alevohin commented on #90
@karato please see PR #121

[2015-03-22 20:14] karato commented on #95
@pinaf no problem, I will try to find somebody else

[2015-03-22 20:19] karato commented on #114
@pinaf do this task

[2015-03-22 20:20] karato commented on #113
@longtimeago thank you for reporting this, I added 15 mins to your acc, transaction `53835425`

[2015-03-22 20:48] pinaf commented on #114
@karato please assign to someone else

[2015-03-22 21:26] karato commented on #100
@longtimeago do this task

[2015-03-22 21:26] karato commented on #113
@pinaf do this task

[2015-03-22 21:26] longtimeago commented on #89
PR https://github.com/teamed/nerodesk/pull/122 is available for review

[2015-03-22 21:27] karato commented on #112
@longtimeago many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `53836200`

[2015-03-22 22:20] karato commented on #114
@pinaf someone else will help in this task, no problem at all

[2015-03-22 22:32] karato commented on #112
@pinaf this is your task

[2015-03-22 22:33] karato commented on #118
@yegor256 many thanks for the report, I topped your account for 15 mins, transaction 000-64774a96

[2015-03-22 23:03] pinaf commented on #112
@karato please see PR #123

[2015-03-23 00:39] karato commented on #103
@pinaf this is your task

[2015-03-23 01:22] karato commented on #101
@pinaf do this task

[2015-03-23 01:59] carlosmiranda commented on #67
@karato Waiting for #124 (pull request).

[2015-03-23 03:08] pinaf commented on #113
@karato please see PR #125

[2015-03-23 03:38] karato commented on #67
@carlosmiranda yes, right, let's wait for #124

[2015-03-23 06:39] alevohin commented on #90
@longtimeago PR #121 was merged. Please check and close issue.

[2015-03-23 07:48] longtimeago commented on #90
@alevohin Thanks!

[2015-03-23 07:48] #90 closed

[2015-03-23 08:03] ggajos opened #126 "Cannot execute application using info described in readme"
I couldn't execute application using info described in readme. I end up with:
[code]

[2015-03-23 08:05] ggajos opened #127 "Cannot login using local instance of app"
When I manage to run application it turns out that I cannot login properly.
Got error `Invalid App ID: ${fb.app}`

Think it should be documented how it can be run properly or how to obtain/configure app.

[2015-03-23 08:05] ggajos commented on #94
@karato we're waiting for #127

[2015-03-23 08:39] ggajos commented on #115
@karato please assign someone else here, thanks

[2015-03-23 08:45] ggajos commented on #104
PR #128

[2015-03-23 18:03] karato commented on #94
@ggajos right, let's wait for #127

[2015-03-23 18:03] karato commented on #115
@ggajos someone else will help in this task, no problem at all

[2015-03-23 18:49] longtimeago commented on #89
@k0r Initial PR was merged. Please, close the issue if it's OK

[2015-03-23 19:05] ghost commented on #89
@longtimeago thanks.

[2015-03-23 19:44] longtimeago commented on #89
@k0r you forgot to close the issue :)

[2015-03-23 19:47] ghost commented on #89
@longtimeago is this fix live yet? or included in the next version release?

[2015-03-23 19:50] longtimeago commented on #89
@k0r the feature is long term. I've done the test emulating client side behavior (reproduce the "bug") and create 2 puzzles. That's how PDD actually works :)

[2015-03-23 19:51] karato commented on #95
@alevohin this is your task

[2015-03-23 19:51] karato commented on #114
@ggajos do this task

[2015-03-23 19:51] karato commented on #115
@carlosmiranda do this task

[2015-03-23 19:53] ghost commented on #89
@longtimeago just tested this again and received the same result. shouldn't we keep the discussion going until it's fixed?

[2015-03-23 20:12] longtimeago commented on #89
@k0r You would not observe the desired behavior before feature is fully implemented.
As task the task is marked "30min" the only thing I can do from start is to reproduce the issue with test and create several puzzles for the next developers. They will do the rest. If they couldn't finish in 30 min they will create another puzzles. Thus, feature is split by multiple small tasks.
Thus, current task

[2015-03-23 20:14] yegor256 commented on #89
@longtimeago I think @k0r is right here, we have to see "something" before the ticket can be closed, see this: http://www.yegor256.com/2015/02/12/top-down-design.html At a very least the software should say something like "now you can't upload a file that is larger than X bytes"

[2015-03-23 20:16] ghost commented on #89
@longtimeago thanks for the info.

[2015-03-23 20:44] longtimeago commented on #89
@k0r @yegor256 fine, please, see the bug https://github.com/teamed/nerodesk/issues/111

[2015-03-23 20:44] longtimeago commented on #89
@karato we are waiting for #111

[2015-03-23 22:08] longtimeago commented on #89
@k0r @yegor256  what is the restriction for the actual upload size for now?
ok for 10 mb?

[2015-03-23 22:18] ghost commented on #89
received this error with a 100mb file upload:

[2015-03-24 00:26] karato commented on #89
@longtimeago agreed, we'll wait for #111

[2015-03-24 02:01] karato commented on #89
these 2 puzzles were created in this ticket: `89-6cce4050`, `89-4c8c8ec3`

[2015-03-24 02:42] karato opened #129 "AppTest.java:63-75: Doc should support partitioned read...."
Puzzle `89-6cce4050` in `src/test/java/com/nerodesk/AppTest.java:63-75` has to be resolved: Doc should support partitioned read. If file is too big to fit in one read request it should be split by the Doc on parts and returned to the client one-by-one. It will use multipart/form-data requests with Content-Range header. See http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.16 for details

[2015-03-24 02:52] karato commented on #129
@ggajos do this task

[2015-03-24 03:37] karato opened #130 "AppTest.java:175-186: Doc should support partitioned write...."
Puzzle `89-4c8c8ec3` in `src/test/java/com/nerodesk/AppTest.java:175-186` has to be resolved: Doc should support partitioned write. If file is too big to fit in one write request it will be split by the client side on parts and sent in several requests. It will use multipart/form-data requests with Content-Range header. See http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.16 for detail

[2015-03-24 03:42] karato commented on #130
@ggajos do this task

[2015-03-24 08:05] longtimeago commented on #68
@karato we are done, please close the issue

[2015-03-24 08:51] krzyk commented on #91
@longtimeago changes have been merged to master, please close this issue

[2015-03-24 09:11] longtimeago commented on #91
@krzyk thanks!

[2015-03-24 09:11] #91 closed

[2015-03-24 17:00] ggajos commented on #102
@yegor256 please close if that's all here, thanks

[2015-03-24 17:23] yegor256 commented on #102
@ggajos you implemented something that doesn't give any value to me. I still don't see the size in my web interface, as a user. See http://www.yegor256.com/2015/02/12/top-down-design.html

[2015-03-24 17:41] karato commented on #68
@longtimeago 7 days already, in 48 hours I will re-assign; as a reminder, don't forget to remove the `@todo` puzzle from the source code; -30 added to your rating, current score is: [+3410](http://www.netbout.com/b/35024?open=rating)

[2015-03-24 18:03] ggajos commented on #102
@yegor256 ok, is it wrong that it will be implemented as part of dependent PDD? should I wait till is going to be impl. and then put note here?

[2015-03-24 18:25] yegor256 commented on #127
@ggajos how do you run it?

[2015-03-24 18:27] yegor256 commented on #126
Hm... works perfect for me (on Mac). Maybe you should try:

[code]

I assume you're on Windows

[2015-03-24 18:38] yegor256 commented on #120
@longtimeago definitely a bug, thanks for reporting

[2015-03-24 18:54] karato commented on #120
I am aware of the task, give me some time to find a developer...

[2015-03-24 18:57] yegor256 commented on #111
@longtimeago explained in a0e9e96

[2015-03-24 18:57] #111 closed

[2015-03-24 19:00] longtimeago commented on #68
@karato we are done! please, close the issue!

[2015-03-24 19:02] longtimeago commented on #68
@karato we are waiting for https://github.com/teamed/nerodesk/pull/99

[2015-03-24 19:04] yegor256 commented on #89
@k0r the problem you're getting with that 100Mb file upload is rather strange (the exception stacktrace you just posted). looks like your browser is not creating the HTTP request properly. please, report it in a separate ticket, since it's not related to the issue we're solving here

[2015-03-24 19:07] yegor256 commented on #102
@ggajos it's not wrong. what's wrong is that you started to implement this feature from the bottom, not from the top. first thing you should have done here is to make sure **the user** sees the number on his/her web page. once it's done, you can create puzzle(s) and close the task. just my article explains. see the point?

[2015-03-24 19:20] yegor256 commented on #94
@ggajos I can confirm that this problem exists, but only in FireFox. This is the request it is sending:

[code]

[2015-03-24 19:20] yegor256 commented on #94
@ggajos I suspect this problem is related to the one reported in #120

[2015-03-24 19:21] karato commented on #90
@alevohin thanks, paid, **30 mins** to your account, payment ID is `54118552`. +30 added to your rating, current score is: [+1890](http://www.netbout.com/b/35105?open=rating)

[2015-03-24 19:25] karato commented on #120
@longtimeago thanks for this report, I added 15 mins to your account, in transaction `54118858`

[2015-03-24 20:38] karato opened #131 "AwsDocs.java:75-77: This method should return valid..."
Puzzle `48-f3a76cd8` in `src/main/java/com/nerodesk/om/aws/AwsDocs.java:75-77` has to be resolved: This method should return valid size of aws document storage. Currently is returning just dummy value. Remember to provide test case for that also.... The puzzle was created by Grzegorz Gajos on 20-Mar-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-03-24 20:54] karato commented on #89
I think we can continue, impediment #111 is closed

[2015-03-24 20:54] karato commented on #131
@carlosmiranda do this task

[2015-03-24 21:33] yegor256 commented on #103
@pinaf do you mind if I take this task?

[2015-03-24 21:37] pinaf commented on #103
@yegor256 not at all please go ahead

[2015-03-24 21:39] yegor256 commented on #103
@karato assign me please

[2015-03-24 22:19] ggajos commented on #102
@yegor256 thank you, yes, it's obvious; what can we do now? Should I create another PR or we can wait for PDD to be implemented afterwards?

[2015-03-24 22:21] karato opened #132 "Docs.java:66-69: This method is able to..."
Puzzle `48-58361961` in `src/main/java/com/nerodesk/om/Docs.java:66-69` has to be resolved: This method is able to return total amount of bytes stored in account. There is already existing implementation for mocked storage (this interface is implemented by MkStorage). What is still missing here is that we should display this value somehow for user.... The puzzle was created by Grzegorz Gajos on 20

[2015-03-24 22:22] ggajos commented on #104
@k0r fix merged with master; please close if that's all here

[2015-03-24 22:22] yegor256 commented on #102
@ggajos I would suggest to create another PR

[2015-03-24 22:34] ghost commented on #104
@ggajos thanks.

[2015-03-24 22:59] yegor256 commented on #104
@rultor release, tag is `0.2.1`

[2015-03-24 22:59] rultor commented on #104
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2823-85729244)

[2015-03-24 23:19] rultor commented on #104
Release `0.2.1` already exists! I can't duplicate it, but I posted a comment there. In the future, try to avoid duplicate releases

[2015-03-24 23:19] rultor commented on #104
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2823-85729244) (took me 18min)

[2015-03-24 23:25] ghost commented on #104
@yegor256 thanks.

[2015-03-24 23:25] #104 closed

[2015-03-24 23:36] k0r opened #133 "invalid path should return 404"
Error:

Replication:

Browsers tested:

Lets return a 404 or a redirect -- displaying code makes the site less secure.

[2015-03-24 23:46] ghost commented on #111
@longtimeago @yegor256 thanks.

[2015-03-24 23:50] ghost commented on #118
@yegor256 this feature can be moved to 0.4 or 1.0 if necessary.

[2015-03-25 00:18] yegor256 commented on #133
@karato definitely a bug

[2015-03-25 00:26] yegor256 commented on #118
@k0r right, moving to 0.4

[2015-03-25 00:39] k0r commented on #40
@yegor256 this feature can be moved to 0.4 or 1.0 if necessary.

[2015-03-25 01:01] karato commented on #103
@yegor256 sure, the ticket is yours, go ahead

[2015-03-25 01:38] karato commented on #133
@yegor256 sure, thanks, I added bug tag to it

[2015-03-25 01:50] karato commented on #132
@carlosmiranda this is your task

[2015-03-25 02:35] pinaf commented on #101
@karato please assign someone else - waiting for another way to login to the system that isn't through facebook.

[2015-03-25 02:46] karato commented on #68
once `68-7fedbe9f` puzzle is resolved (later, in another ticket), this ticket will be fully complete

[2015-03-25 02:48] karato commented on #96
Closing, thanks all

[2015-03-25 02:48] #96 closed

[2015-03-25 02:51] karato commented on #96
@krzyk **30 mins** was added to your account, many thanks for your contribution! The task took 54141335.. +30 to your rating, your total score is [+5224](http://www.netbout.com/b/35035?open=rating)

[2015-03-25 03:06] pinaf commented on #113
@longtimeago merged. please close if alright.

[2015-03-25 03:32] karato opened #134 "TsApp.java:85-88: Error page should be an..."
Puzzle `68-7fedbe9f` in `src/main/java/com/nerodesk/TsApp.java:85-88` has to be resolved: Error page should be an HTML page with stacktrace. See how it's done in Rultor (com.rultor.web.App.fallback). This implies adding velocity template and some styles. More details available in PR #99... The puzzle was created by longtimeago on 23-Mar-2015.

If you have any technical questions, don't ask me, sub

[2015-03-25 03:36] karato commented on #120
@krzyk this is your task

[2015-03-25 03:36] karato commented on #133
@longtimeago do this task

[2015-03-25 03:36] karato commented on #134
@longtimeago do this task

[2015-03-25 04:06] karato commented on #101
@pinaf all right, we'll find someone else for this task

[2015-03-25 04:37] yegor256 commented on #94
@k0r I think I know what's going on. you're not entering the name of the file. you should enter the name of the file into the field AND select the file from the disc. then, click "submit"

[2015-03-25 04:57] ghost commented on #94
@yegor256 ah, that was it. there isn't any indication that's required though. thanks.

[2015-03-25 05:06] yegor256 commented on #94
@k0r the real bug here is that we should not allow a user to upload a file when its name is not provided. could you please change the description of this issue and its title to reflect this. the real problem here is that when a user doesn't enter file name we don't say "file name is mandatory". instead, we're passing the request to Amazon S3 and the result is unpredictable.

[2015-03-25 05:08] ghost commented on #94
@yegor256 was thinking the same thing.

[2015-03-25 05:11] ghost commented on #94
@yegor256 shouldn't file names be based on the file name from the disc the user is uploading from? renaming the file before and after upload should be optional -- auto fill the file name text box with the original file name from the disc, perhaps?

[2015-03-25 05:20] ghost commented on #94
@yegor256 multiple file selections should be considered as well. doing batch uploads and having to set the file name for each file is somewhat counterproductive.

[2015-03-25 05:46] yegor256 commented on #94
@k0r yes, totally agree, we should get rid of that "name" field and use the name of the file from disc. please, update the description of the ticket again. also, good idea about batch upload, please create a ticket for this

[2015-03-25 05:53] ghost commented on #94
@yegor256 updated.

[2015-03-25 06:36] longtimeago commented on #113
@pinaf yep, thanks!

[2015-03-25 06:36] #113 closed

[2015-03-25 06:41] longtimeago commented on #133
@k0r @yegor256 please, decide what exactly do you want to see on such errors? No stacktrace, it's good. So, 404 or redirect? Redirect where?
Looks like this issue is a duplicate of https://github.com/teamed/nerodesk/issues/134

[2015-03-25 06:43] longtimeago commented on #134
We  should not show stacktrace here

[2015-03-25 07:21] ggajos commented on #126
@yegor256
Yes, that works, maybe we can add this to readme?

[2015-03-25 07:24] ggajos commented on #127
from IDE:
`com.nerodesk.Launch --port=8080`
or from command line:
`mvn clean install`
`java -cp target\nerodesk.jar;target\deps\* com.nerodesk.Launch --port=8080`
same result:
![screen](https://cloud.githubusercontent.com/assets/988790/6819857/5128dfde-d2c8-11e4-8b0b-bedd92c3b282.png)

[2015-03-25 07:31] longtimeago commented on #100
@yegor256 Should we start from UI?

[2015-03-25 07:31] longtimeago commented on #68
@karato please, close the issue. It's done

[2015-03-25 08:03] ggajos commented on #102
PR #136

[2015-03-25 16:25] ggajos commented on #127
@yegor256 looks like I cannot reproduce this any longer; not sure what changed

[2015-03-25 16:25] #127 closed

[2015-03-25 16:47] ggajos opened #137 "Exception when sending file"
When i put name of file 1111, attach file and click `Send`
I'm getting:
[code]

It looks like afterwords file is actually uploaded (file listed in file list).

When I want to delete that file I'm getting:
[code]

[2015-03-25 17:24] ghost commented on #137
@ggajos file name field is deprecated [#94](https://github.com/teamed/nerodesk/issues/94)

[2015-03-25 17:30] ghost commented on #133
@longtimeago redirection to the main site.

[2015-03-25 17:44] longtimeago commented on #134
@yegor256 please, close the issue. It's a duplicate of #133

[2015-03-25 17:47] longtimeago commented on #133
@yegor256 @k0r well ... in this case user would not understand what's going on at all. Maybe, we should show him some error page, but without stacktrace. What do you think?

[2015-03-25 17:57] ghost commented on #133
@longtimeago if the user is logged in: redirect with status text "please select files to upload."

[2015-03-25 17:59] karato commented on #67
#124 is closed, it was an impediment

[2015-03-25 17:59] karato commented on #94
#127 is closed, it was an impediment

[2015-03-25 17:59] karato commented on #91
@krzyk thanks, I just added **30 mins** to your account, payment `54192933`, 143 hours and 16 mins spent... +30 added to your rating, at the moment it is: [+5239](http://www.netbout.com/b/35035?open=rating)

[2015-03-25 18:16] longtimeago opened #138 "Exception when accessing application root"
Starting app in dev mode and trying to access root page http://localhost:8080/ produce 2 almost identical exceptions, like this, in logs
[code]
On UI we can see upload form as expected

[2015-03-25 18:17] longtimeago commented on #133
@k0r and what if user is not logged in?
What is "status text"?

[2015-03-25 18:19] ghost commented on #133
@longtimeago redirect to login page then display appropriate status text. what do you think?

[2015-03-25 18:21] longtimeago commented on #133
@k0r hum ... we don't have any login page in developer's mode (when app starts locally on dev PC)

[2015-03-25 18:22] ghost commented on #133
@longtimeago yeah, it's the main page currently.

[2015-03-25 18:25] ghost commented on #89
@yegor256 @karato @longtimeago just tested this with a 250mb file and received this error in chrome: `Error code: ERR_CONNECTION_ABORTED`

[2015-03-25 18:29] longtimeago commented on #133
@k0r so, I can propose to redirect to this main page regardless of the users status (logged on or not).
Problem is slightly more complicated. As far as I see, we are getting almost the same exception trying to access the urls:

[code]

and

[code]

[2015-03-25 18:39] longtimeago commented on #133
@k0r All these errors caused by bad request and should be handled the same way - redirect to main page.
I used to rest api, where client actually care about such an error because he construct request by himself and can do something meaningful.
In our case, client is not supposed to construct request by himself, so your proposal make sense. If request is bad - redirect.
Now the tricky part - valida

[2015-03-25 18:41] ghost commented on #133
@longtimeago was thinking the same thing:

[2015-03-25 18:45] longtimeago commented on #133
@k0r looks like for now `takes` supports only catching

[2015-03-25 18:49] ghost commented on #133
@longtimeago I'll reformat the ticket to request `IOException` catching on `r`, `w`, and `d`.

[2015-03-25 18:54] longtimeago commented on #133
@k0r it's not only on these operations actually. If you call some other url you will see almost the same.
Try, for example
`http://localhost:8080/sg`

[code]

[2015-03-25 18:57] ghost commented on #133
@longtimeago ah, yeah. @yegor256 would probably want separate tickets for each catch implementation.

[2015-03-25 18:58] longtimeago commented on #133
@k0r I don't think so. Handling is the same. We need common approach

[2015-03-25 19:04] ghost commented on #133
@longtimeago yeah, let's see what @yegor256 says -- [#94](https://github.com/teamed/nerodesk/issues/94), [#137](https://github.com/teamed/nerodesk/issues/137), and [#138](https://github.com/teamed/nerodesk/issues/138) are requesting catch implementation.

[2015-03-25 19:05] karato commented on #101
@krzyk do this task

[2015-03-25 19:19] alevohin commented on #95
@karato I cannot reproduce it, I get

[code]

It looks that we need wait for https://github.com/teamed/nerodesk/issues/137

[2015-03-25 19:32] alevohin commented on #95
@karato we need to wait for https://github.com/yegor256/takes/issues/76 and then update `takes` version.

[2015-03-25 21:24] longtimeago commented on #133
see the PR https://github.com/teamed/nerodesk/pull/139

[2015-03-25 22:58] longtimeago commented on #89
here is one more PR https://github.com/teamed/nerodesk/pull/140

[2015-03-25 23:04] yegor256 commented on #137
@ggajos this bug is reported in takes: https://github.com/yegor256/takes/issues/76

[2015-03-26 00:14] yegor256 commented on #100
@longtimeago we should always start from UI. we should start from something that is visible to the end user and then go deeper into the code, just like this article explains: http://www.yegor256.com/2015/02/12/top-down-design.html

[2015-03-26 00:35] yegor256 commented on #138
@longtimeago I don't understand how I can reproduce this...

[2015-03-26 00:45] karato commented on #137
I am aware of the task, give me some time to find a developer...

[2015-03-26 00:53] karato commented on #137
@ggajos thanks for tis bug, I topped your account for 15 mins, transaction `AP-530295969X964935X`

[2015-03-26 01:03] yegor256 commented on #133
@longtimeago I think that this "page not found" problem is very common to all projects, not just this one. I would suggest to add some common component into Takes framework. the solution you proposed in #139 is actually solving two different problems in the same class. It's wrong. Let's deal with them separately. Page not found is one problem, while this "content-type not found" is a completely di

[2015-03-26 01:03] yegor256 commented on #133
@longtimeago I would recommend to focus on "content-type not found" problem here and create a separate ticket for "page not found"

[2015-03-26 01:05] yegor256 commented on #134
@longtimeago like I mentioned in #133, I think these two problems are completely separate. Page-not-found situation should be handled differently from all other exceptional situations. This ticket/puzzle is about incorrect 50x page. Page not found is 404, while 50x is about "server is not working properly".

[2015-03-26 01:09] yegor256 commented on #126
@ggajos explained in 30cc144

[2015-03-26 01:09] #126 closed

[2015-03-26 01:10] yegor256 commented on #94
@ggajos I think you can proceed here, the problem is obvious (see above)

[2015-03-26 01:12] carlosmiranda commented on #115
@karato Assign someone else please, sorry.

[2015-03-26 01:41] karato commented on #104
@ggajos thank you, added **30 mins** to your acc, payment num is `AP-7LN18965BW858064L`, 98 hours and 10 mins spent in total to complete. +30 added to your rating, current score is: [+3252](http://www.netbout.com/b/35094?open=rating)

[2015-03-26 02:32] karato commented on #115
@carlosmiranda someone else will help in this task, no problem at all

[2015-03-26 02:33] karato commented on #103
5 puzzles were created here: `103-8a2bada8`, `103-eee698c6`, `103-92c2e0c7`, `103-fed230e7`, `103-a06372a2`

[2015-03-26 02:39] karato commented on #137
@krzyk this is your task

[2015-03-26 03:13] carlosmiranda commented on #131
@karato we're waiting for #142 for the pull request review.

[2015-03-26 03:26] karato commented on #68
Thanks all, I am closing

[2015-03-26 03:26] #68 closed

[2015-03-26 03:29] karato commented on #68
@longtimeago thanks, paid, **30 mins** to your account, payment ID is `54203882`, task took 196 hours and 55 mins to complete

+30 to your rating, your total score is [+3610](http://www.netbout.com/b/35024?open=rating)

[2015-03-26 07:27] longtimeago commented on #89
@karato we are waiting for PR https://github.com/teamed/nerodesk/pull/140

[2015-03-26 07:42] ggajos commented on #126
@yegor256 ok, thanks

[2015-03-26 08:46] ggajos commented on #94
PR #94

[2015-03-26 18:29] karato commented on #131
@carlosmiranda sure, let's wait for #142

[2015-03-26 18:30] karato opened #144 "TkAddFriend.java:45-47: There is no unit test..."
Puzzle `103-fed230e7` in `src/main/java/com/nerodesk/takes/doc/TkAddFriend.java:45-47` has to be resolved: There is no unit test for this class. Let's create one. Also let's create an integration test, to check how this document sharing works.... The puzzle was created by Yegor Bugayenko on 25-Mar-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-03-26 18:45] karato commented on #97
@caarlos0 7 days already, in 48 hours I will re-assign. do not forget to remove the TODO puzzle from the source code. -30 to your rating, your total score is [+1336](http://www.netbout.com/b/35095?open=rating)

[2015-03-26 18:45] karato commented on #113
@pinaf thank you, added **30 mins** to your acc, payment num is `AP-87P79948F3194520L`, 68 hours and 21 mins spent in total to complete. added +30 to your rating, now it is equal to [+5298](http://www.netbout.com/b/35128?open=rating)

[2015-03-26 18:45] karato commented on #144
@carlosmiranda do this task

[2015-03-26 20:42] karato commented on #102
there is a puzzle in this code `102-3d5e0e72`, we'll resolve it later

[2015-03-26 20:52] karato commented on #131
FYI, issue #142 is already closed, and we were waiting for it..

[2015-03-26 22:28] longtimeago commented on #100
@karato please, assign someone else. Really lack of time now, sorry :(

[2015-03-26 22:30] longtimeago commented on #134
@karato  please, assign someone else. Really lack if time now, sorry :(

[2015-03-26 22:43] caarlos0 commented on #97
@karato PR is opened.

[2015-03-26 22:54] longtimeago commented on #133
@karato please, assign someone else. Really lack of time now, sorry :(

[2015-03-26 23:05] longtimeago commented on #138
@yegor256 just try to run in dev mode

[code]

and access `http://localhost:8080` from browser
You will see these exceptions in terminal

[2015-03-26 23:22] ghost commented on #133
@yegor256 could you complete this?

[2015-03-26 23:23] k0r commented on #100
@yegor256 could you complete this?

[2015-03-27 00:47] karato commented on #100
@longtimeago right, I'll try to find someone else for this task

[2015-03-27 00:48] karato commented on #134
@longtimeago I will try to find someone else

[2015-03-27 00:48] karato commented on #133
@longtimeago someone else will help in this task, no problem at all

[2015-03-27 01:30] karato commented on #131
there is a puzzle in this code `131-8c22737d`, we'll resolve it later

[2015-03-27 02:53] carlosmiranda commented on #132
@ggajos I have a question for you, as you are the puzzle author. How is this different from the puzzle in #132?

[2015-03-27 03:10] karato opened #145 "AwsDocsTest.java:55-60: Ideally we should be using..."
Puzzle `131-8c22737d` in `src/test/java/com/nerodesk/om/aws/AwsDocsTest.java:55-60` has to be resolved: Ideally we should be using mock classes from jcabi-s3 in this test. However, the ObjectMetadata that is returned by the mocking framework does not show an accurate contentLength. This is the reason we're using Mockito. When jcabi-s3 supports this feature (see https://github.com/jcabi/jcabi-s3/is

[2015-03-27 03:17] #67 closed

[2015-03-27 03:17] karato commented on #67
Thanks, closing it now.

[2015-03-27 03:20] karato commented on #67
@carlosmiranda Much obliged! I have added **15 mins** to your account in payment "54232281", 8 hours and 31 mins spent... +15 added to your rating, at the moment it is: [+4327](http://www.netbout.com/b/35023?open=rating)

[2015-03-27 03:20] karato commented on #145
@longtimeago this is your task

[2015-03-27 03:58] #103 closed

[2015-03-27 04:01] yegor256 opened #146 "file sharing doesn't really share anything"
It doesn't do anything useful now, let's implement the sharing feature

[2015-03-27 04:01] karato commented on #146
@yegor256 OK, I labeled it as `bug`

[2015-03-27 04:02] karato opened #147 "AwsFriends.java:45-47: This class is not implemented..."
Puzzle `103-eee698c6` in `src/main/java/com/nerodesk/om/aws/AwsFriends.java:45-47` has to be resolved: This class is not implemented and we can't really share documents between users. Let's implement it using DynamoDB or some more simple S3-only based mechanism.... The puzzle was created by Yegor Bugayenko on 25-Mar-2015.

If you have any technical questions, don't ask me, submit new tickets inste

[2015-03-27 04:07] karato commented on #147
@longtimeago do this task

[2015-03-27 06:47] yegor256 commented on #146
@rultor release tag is `0.3`

[2015-03-27 06:48] rultor commented on #146
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2886-86844578)

[2015-03-27 07:06] rultor commented on #146
Release `0.3` already exists! I can't duplicate it, but I posted a comment there. In the future, try to avoid duplicate releases

[2015-03-27 07:06] rultor commented on #146
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2886-86844578) (took me 17min)

[2015-03-27 07:58] ggajos commented on #132
@carlosmiranda hmm, this is #132 :)?

[2015-03-27 08:05] carlosmiranda commented on #132
@ggajos my bad, I meant #131. Or is this puzzle obsolete since we have a AWS implementation for it?

[2015-03-27 08:34] ggajos commented on #132
@carlosmiranda Thanks for pointing this out. I pushed two PRs in #102 due to some misunderstanding of top-down approach and that is why we have two very similar issues. I think those are duplicates then.

[2015-03-27 08:46] carlosmiranda commented on #132
@ggajos So, I believe this is obsolete now (especially considering the recent major refactoring). Then we just need to remove the puzzle here?

[2015-03-27 08:51] alevohin commented on #95
@karato lets wait yegor256/takes#76 and #137 because this problem is not reproducable right now.

[2015-03-27 15:38] ggajos commented on #114
@karato please assign to someone else, sorry

[2015-03-27 15:38] ggajos commented on #129
@karato please assign to someone else, sorry

[2015-03-27 15:38] ggajos commented on #130
@karato please assign to someone else, sorry

[2015-03-27 17:16] k0r opened #148 "hardcoded storage amount"
Error:

Replication:

Browsers tested:

![storage amount bug](http://www.nerodesk.com/nd_storage_amt_bug_2.jpg)

[2015-03-27 17:20] karato commented on #138
I will find a developer for the task soon...

[2015-03-27 17:22] karato commented on #114
@ggajos I will ask somebody else to pick this up

[2015-03-27 17:22] karato commented on #129
@ggajos right, I will find someone else, no problem

[2015-03-27 17:22] karato commented on #130
@ggajos OK, I will try to assign someone else

[2015-03-27 17:23] karato opened #149 "TsDoc.java:54-56: Friend ejection is not implemented..."
Puzzle `103-a06372a2` in `src/main/java/com/nerodesk/takes/doc/TsDoc.java:54-56` has to be resolved: Friend ejection is not implemented now. Let's create new "take" TkEjectFriend and implement ejection there. Also, let's not forget to create a unit test for it.... The puzzle was created by Yegor Bugayenko on 25-Mar-2015.

If you have any technical questions, don't ask me, submit new tickets instea

[2015-03-27 17:27] ghost commented on #133
@longtimeago this was sorta addressed with 0.3 release. we now get this message `oops, something went wrong!` but code is still displayed and not in the same site font.

[2015-03-27 17:29] karato commented on #102
@ggajos 7 days already, in 48 hours I will re-assign; -30 added to your rating, current score is: [+3314](http://www.netbout.com/b/35094?open=rating)

[2015-03-27 17:29] karato commented on #146
@longtimeago this is your task

[2015-03-27 17:29] karato commented on #149
@longtimeago do this task

[2015-03-27 17:30] karato commented on #146
@yegor256 thanks a lot for reporting, **15 mins** added to your acc, pmt ID `000-692994a9`

[2015-03-27 17:49] ghost opened #150 "user can't create folders"
Current version of README doesn't say anything about file paths or folders for organizing uploaded data. This is a bug, since this feature is important and will improve usability of the system. Let's modify the README and document this feature. Then, let's implement it and test.

[2015-03-27 17:50] k0r opened #151 "Batch Upload Error"
Let's implement the ability to batch upload files.

[2015-03-27 17:52] ghost commented on #151
also see [#94](https://github.com/teamed/nerodesk/issues/94)

[2015-03-27 18:15] yegor256 commented on #146
fixed

[2015-03-27 18:15] #146 closed

[2015-03-27 18:26] longtimeago commented on #133
@k0r sorry, I can't do the task in time :(
somebody else will take care of it

[2015-03-27 18:26] yegor256 commented on #151
@k0r take a look at how I modified the title of the ticket and its description

[2015-03-27 18:27] k0r commented on #151
@yegor256 thanks.

[2015-03-27 18:27] yegor256 commented on #150
@k0r could you please alter the description and title like I did in #151

[2015-03-27 18:28] yegor256 commented on #151
@karato it's a bug, let's dispatch it

[2015-03-27 18:30] k0r commented on #150
@yegor256 done.

[2015-03-27 18:30] yegor256 commented on #150
@karato this is definitely a bug, let's dispatch it

[2015-03-27 18:41] yegor256 commented on #150
@k0r thanks, you got the idea :)

[2015-03-27 18:50] k0r opened #152 "Eject Link Persistence after TkEjectFriend()"
Error:

Replication:

Browsers tested:

![share bug](http://www.nerodesk.com/nd_share_bug.jpg)

[2015-03-27 18:53] ghost commented on #150
@yegor256 thanks.

[2015-03-27 18:59] ghost commented on #152
@yegor256 we should probably rename the function to `TkUnshareFriend()` and `unshare` -- eject is a bit insensitive.

[2015-03-27 19:21] yegor256 commented on #152
@karato definitely a bug, thanks

[2015-03-27 19:22] yegor256 commented on #152
the problem is coming from using `split()`, that always returns an empty element, even when a string is empty

[2015-03-27 19:27] karato commented on #129
@carlosmiranda this is your task

[2015-03-27 19:30] karato commented on #138
@longtimeago thanks for tis bug, I topped your account for 15 mins, transaction `54251771`

[2015-03-27 19:45] pinaf commented on #112
@longtimeago merged. please close if alright.

[2015-03-27 19:53] longtimeago commented on #112
@pinaf yep, thanks!

[2015-03-27 19:53] #112 closed

[2015-03-27 20:40] k0r opened #153 "logo isn't visible on website"
Current version of README doesn't say anything about displaying the Nerodesk logo on the website. This is a bug, since this feature is important and will improve the aesthetic of the project. Let's modify the README and document this feature. Then, let's include the logo above the login/logout link and site information.

Logo can be found [here](http://www.nerodesk.com/logo.png)

Example:
![temp l

[2015-03-27 20:59] karato commented on #152
@yegor256 thanks, I added the "bug" tag

[2015-03-27 20:59] karato commented on #151
@yegor256 right, I added the `bug` tag

[2015-03-27 21:00] karato commented on #150
@yegor256 sure, thanks, I added bug tag to it

[2015-03-27 21:01] karato commented on #94
2 puzzles were created here: `94-073592b9`, `94-7efd5d22`

[2015-03-27 22:02] carlosmiranda commented on #95
@karato we're waiting for #137.

[2015-03-27 22:07] karato opened #154 "TsDoc.java:80-82: This method is way to..."
Puzzle `94-7efd5d22` in `src/main/java/com/nerodesk/takes/doc/TsDoc.java:80-82` has to be resolved: This method is way to complicated and should be splitted to smaller chunks. It's very hard to test what is going on here. After splitting, it should be covered by unit tests.... The puzzle was created by Grzegorz Gajos on 27-Mar-2015.

If you have any technical questions, don't ask me, submit new ti

[2015-03-27 22:27] karato commented on #154
@pinaf this is your task

[2015-03-27 23:38] yegor256 commented on #153
@k0r I would suggest to think about the entire look-and-feel of the site, not just logo. making small changes to the layout will increase project budget significantly. I would suggest to use one ticket for the entire modification of graphic layout.

[2015-03-27 23:47] ghost commented on #153
@yegor256 I agree, but this hasn't been defined in the technical specifications of the README.md or @roadmap. design aesthetic is a project in its own thus, I thought for the time being we could at least display the logo as these decisions are made.

[2015-03-27 23:55] yegor256 commented on #153
sure, let's put the logo there

[2015-03-27 23:55] yegor256 commented on #153
@karato it's a valid bug

[2015-03-27 23:56] ghost commented on #153
@yegor256 thanks.

[2015-03-28 00:05] ghost commented on #153
@yegor256 updated.

[2015-03-28 00:16] karato commented on #95
@carlosmiranda ok, let's wait for #137

[2015-03-28 00:17] karato opened #156 "TsDoc.java:76-79: I tried to get filename..."
Puzzle `94-073592b9` in `src/main/java/com/nerodesk/takes/doc/TsDoc.java:76-79` has to be resolved: I tried to get filename from file meta data and it doesn't look clean but works for now. We have to either wait for impl. from `Takes` framework or implement in this project class that is going to do this in clean way.... The puzzle was created by Grzegorz Gajos on 26-Mar-2015.

If you have any tech

[2015-03-28 00:23] karato commented on #156
@pinaf this is your task

[2015-03-28 01:16] karato opened #157 "Re-estimate project size"
The latest estimate is rather old (created on 13-Mar-2015),we have to create a new one as explained [here](https://github.com/teamed/est)

[2015-03-28 01:18] pinaf commented on #154
@ggajos any suggestions as to how to split this? also, how should I test the new methods - by making them public?

[2015-03-28 01:24] karato commented on #130
@pinaf do this task

[2015-03-28 01:24] karato commented on #157
@pinaf this is your task

[2015-03-28 01:29] pinaf commented on #156
@karato please assign someone else.

[2015-03-28 01:33] pinaf commented on #130
@karato please assign someone else.

[2015-03-28 01:50] pinaf commented on #157
@karato please see PR #158

[2015-03-28 01:59] pinaf opened #159 "AwsDocsTest.listDocs fails"
Taken from https://travis-ci.org/teamed/nerodesk/builds/56177433

listsDocs(com.nerodesk.om.aws.AwsDocsTest)  Time elapsed: 0.542 sec  <<< FAILURE!
java.lang.AssertionError:
Expected: <[lists-exists, sub/file]>
     but: was <[sub/file, lists-exists]>
	at org.hamcrest.MatcherAssert.assertThat(MatcherAssert.java:20)
	at org.hamcrest.MatcherAssert.assertThat(MatcherAssert.java:8)

The test should ei

[2015-03-28 02:10] karato commented on #153
@yegor256 right, I added the `bug` tag

[2015-03-28 02:14] karato commented on #131
Done, the task is closed

[2015-03-28 02:14] #131 closed

[2015-03-28 02:17] karato commented on #131
@carlosmiranda thank you, added **30 mins** to your acc, payment num is `54257456`, 4 hours and 34 mins spent in total to complete. added +30 to your rating, now it is equal to [+4498](http://www.netbout.com/b/35023?open=rating)

[2015-03-28 03:20] karato commented on #130
@pinaf got it, someone else will be assigned soon

[2015-03-28 03:20] karato commented on #156
@pinaf right, I'll try to find someone else for this task

[2015-03-28 03:31] karato commented on #134
@carlosmiranda this is your task

[2015-03-28 18:10] caarlos0 commented on #159
Valid bug!

I tried to fix it by adding two `contains` matchers, but sometimes it only have one item in the list. I think we may need to change this test.

[2015-03-28 18:11] pinaf commented on #159
weird.. it should always have both items.

[2015-03-28 18:28] karato commented on #103
@yegor256 Thanks for your contribution, **30 mins** was added to your account, payment ID is `000-97adafc6`, 64 hours and 18 mins spent total

+30 added to your rating, current score is: [+8985](http://www.netbout.com/b/35008?open=rating)

[2015-03-28 18:45] caarlos0 commented on #97
@karato we are waiting for #159 here.

[2015-03-28 18:54] pinaf commented on #112
@karato done

[2015-03-28 19:41] karato commented on #146
@longtimeago No messages from you above, won't pay for now. If I'm wrong, correct me.

[2015-03-28 20:52] karato commented on #97
@caarlos0 sure, we'll wait for #159

[2015-03-28 22:30] #147 closed

[2015-03-28 22:30] karato commented on #147
The issue is closed

[2015-03-28 22:30] karato commented on #147
@longtimeago I'm not sure who actually completed this task, since there were no messages from you above (correct me if I'm wrong)

[2015-03-28 22:34] karato commented on #112
@pinaf Thanks so much! Your account was topped up for **30 mins** (transaction ID is `AP-54X14516XE9061631`, the task took 118 hours and 28 mins)

+30 to your rating, your total score is [+5776](http://www.netbout.com/b/35128?open=rating)

[2015-03-29 02:46] pinaf commented on #157
@karato merged. please close if alright.

[2015-03-29 04:58] alevohin opened #160 "Read and Delete don't work for some filenames"
`Read` and `Delete` don't work for some filenames.
Steps to reproduce:
* Start application locally by `com.nerodesk.Launch --port=8080`
* Go to the page http://localhost:8080/
* Load file with name `[]().txt`
* Click `Delete` or `Read`

See exception like
[code]

[2015-03-29 10:53] krzyk commented on #118
@karato we're waiting for #159

[2015-03-29 12:39] longtimeago commented on #147
@yegor256 why the issue was closed?

[2015-03-29 16:17] longtimeago commented on #159
@pinaf the problem is in the order. I have two entries but in the reverse order

[2015-03-29 16:29] longtimeago commented on #159
@pinaf here is the hotfix https://github.com/teamed/nerodesk/pull/161

[2015-03-29 16:48] longtimeago commented on #149
@yegor256 do we still need the task? `TkEjectFriend` is already there

[2015-03-29 17:31] longtimeago commented on #145
@karato waiting for jcabi/jcabi-s3#25

[2015-03-29 17:37] yegor256 commented on #147
@longtimeago because I removed the puzzle. I implemented this functionality already.

[2015-03-29 17:38] longtimeago commented on #147
@yegor256 OK

[2015-03-29 17:43] pinaf commented on #159
@longtimeago cool but we need the architect to mark as a bug and the manager to assign I guess :P
@yegor256  ?

[2015-03-29 17:46] longtimeago commented on #159
@pinaf it's rather small fix. Let's just merge PR and close the issue

[2015-03-29 17:52] yegor256 commented on #159
indeed, the bug is small, thanks for the PR.

[2015-03-29 17:52] #159 closed

[2015-03-29 17:54] yegor256 commented on #149
@longtimeago indeed, I removed the puzzle at 8ddfb6c. thanks

[2015-03-29 18:07] pinaf commented on #159
@longtimeago I can't merge it...

[2015-03-29 19:23] karato commented on #118
@krzyk issue #159 is closed already

[2015-03-29 19:31] karato commented on #97
impediment in issue #159 is closed, we can probably try to continue here

[2015-03-29 19:32] ghost commented on #160
@alevohin interesting, thanks. also see [#94](https://github.com/teamed/nerodesk/issues/94)

[2015-03-29 19:40] krzyk commented on #118
PR #162

[2015-03-29 19:40] krzyk commented on #118
@karato we're waiting for #162

[2015-03-29 19:51] krzyk commented on #120
@longtimeago What is the actual problem? Is the file not uploaded, or you can't read it after uploading?
I just did upload of a file and read it back without any problems.

[2015-03-29 20:30] longtimeago commented on #120
@krzyk looks like it's already fixed, sorry

[2015-03-29 20:30] #120 closed

[2015-03-29 20:33] karato commented on #132
The task is done, thanks all, I am closing it

[2015-03-29 20:33] #132 closed

[2015-03-29 20:38] karato commented on #132
@carlosmiranda Much appreciated! **30 mins** was added to your account, payment ID `54286426`, time spent is 93 hours and 3 mins. +30 added to your rating, current score is: [+4543](http://www.netbout.com/b/35023?open=rating)

[2015-03-29 21:14] pinaf commented on #154
@karato please assign someone else here

[2015-03-29 21:47] karato commented on #118
@krzyk yes, of course, we'll wait for #162

[2015-03-29 22:02] karato commented on #130
@longtimeago this is your task

[2015-03-29 22:02] karato commented on #156
@carlosmiranda do this task

[2015-03-30 00:22] caarlos0 commented on #97
@karato waiting for merge confirmation.

[2015-03-30 07:10] ggajos commented on #102
@karato PR #136 merged.

[2015-03-30 07:15] ggajos commented on #154
@pinaf there is too much independent logic involved, think we have to introduce some kind of interface so we can mock parts of logic without testing everything at once. I also don't understand why everything is handled via single route.

[2015-03-30 16:40] longtimeago commented on #149
@yegor256 shouldn't it be closed?

[2015-03-30 18:27] yegor256 commented on #149
@longtimeago it will be, soon

[2015-03-30 22:26] karato commented on #154
@pinaf right, I'll try to find someone else for this task

[2015-03-30 22:39] #157 closed

[2015-03-30 22:39] karato commented on #157
Done, thanks all, closing..

[2015-03-30 22:45] karato commented on #118
impediment in issue #162 is closed, we can probably try to continue here

[2015-03-30 22:45] karato commented on #120
@krzyk **38 mins** sent to your balance (ID `54546543`), many thanks! It took 114 hours and 10 mins.... there is a bonus for fast delivery: age=4127... +38 added to your rating, at the moment it is: [+5412](http://www.netbout.com/b/35035?open=rating)

[2015-03-30 22:45] karato commented on #153
@longtimeago this is your task

[2015-03-30 22:45] karato commented on #157
@pinaf Many thanks! **30 mins** were added to your account in Transaction ID `AP-8MM68801735346323` (task took 42 hours and 58 mins); added +30 to your rating, now it is equal to [+5806](http://www.netbout.com/b/35128?open=rating)

[2015-03-30 23:53] yegor256 commented on #160
@karato it's a valid bug

[2015-03-31 00:15] caarlos0 commented on #97
@karato done.

[2015-03-31 01:18] karato commented on #160
@yegor256 sure, thanks, I added bug tag to it

[2015-03-31 01:19] karato commented on #118
these 2 puzzles were created in this ticket: `118-195ec13f`, `118-d8bdaae8`

[2015-03-31 01:22] karato commented on #149
closed since "invalid"

[2015-03-31 01:22] #149 closed

[2015-03-31 01:22] karato commented on #154
@krzyk this is your task

[2015-03-31 02:21] karato commented on #102
@ggajos it takes too long, don't work any more. -60 to your rating, your total score is [+3254](http://www.netbout.com/b/35094?open=rating)

[2015-03-31 02:21] karato commented on #152
@pinaf this is your task

[2015-03-31 02:21] karato commented on #160
@krzyk do this task

[2015-03-31 02:22] karato commented on #160
@alevohin thanks for the ticket, your account was topped for 15 mins, payment 54550284

[2015-03-31 05:27] krzyk commented on #118
@yegor256 PR was merged to master,  please close this issue

[2015-03-31 06:03] yegor256 commented on #118
@krzyk the problem here is that you implemented something "for programmers" but nothing "for the user", see http://www.yegor256.com/2015/02/12/top-down-design.html. The classes you created (and unit tests) are way less important than the XSL/HTML page and an ability to click something and see how PayPal funding really works. so you basically did a bottom-up design, while a top-down is expected. se

[2015-03-31 06:11] ggajos commented on #102
@yegor256 please close if that's all here, thank you

[2015-03-31 06:30] yegor256 commented on #102
@ggajos thanks!

[2015-03-31 06:30] #102 closed

[2015-03-31 13:32] krzyk commented on #118
OK, so here's another PR #163

[2015-04-01 00:31] karato commented on #151
@ggajos do this task

[2015-04-01 01:43] carlosmiranda commented on #129
@karato please assign someone else to this for now, I'll be on vacation the next few days.

[2015-04-01 01:49] carlosmiranda commented on #144
@karato we're waiting for #164.

[2015-04-01 01:50] carlosmiranda commented on #144
See pull request #164.

[2015-04-01 01:57] pinaf commented on #152
@karato please see PR #165

[2015-04-01 02:07] carlosmiranda commented on #156
@karato Assign someone else, I won't be able to work in the next few days.

[2015-04-01 02:52] karato commented on #129
@carlosmiranda no problem, I will try to find somebody else

[2015-04-01 02:52] karato commented on #144
@carlosmiranda right, let's wait for #164

[2015-04-01 03:03] karato commented on #150
@ggajos this is your task

[2015-04-01 03:35] karato commented on #156
@carlosmiranda I will ask somebody else to pick this up

[2015-04-01 03:37] karato commented on #97
2 puzzles were created here: `97-5fc80ca1`, `97-a27c5d4c`

[2015-04-01 12:22] carlosmiranda commented on #134
@karato Please assign someone else, I am on vacation and will be back Monday.

[2015-04-01 12:34] caarlos0 commented on #97
@karato right.

[2015-04-01 15:11] krzyk opened #166 "Build in JDK 1.8 fails in cobertura"
When I build project with JDK 1.8 I get following errors:
[code]
and as a result cobertura check fails with:
[code]

Project should build with both JDK 1.7 and JDK 1.8 without errors.

Build command: `mvn clean install  -Pqulice,cobertura`.

My environment:
[code]

[2015-04-01 15:31] ggajos commented on #150
PR #167

[2015-04-01 17:11] longtimeago commented on #130
@karato we have to wait for https://github.com/teamed/nerodesk/issues/89

[2015-04-01 17:19] k0r commented on #166
@krzyk thanks.  also see [#18](https://github.com/teamed/nerodesk/issues/18) and [#46](https://github.com/teamed/nerodesk/issues/46)

[2015-04-01 17:30] karato commented on #134
@carlosmiranda no problem, I will try to find somebody else

[2015-04-01 17:31] karato opened #168 "package-info.java:37-38: Replace all mocks provided by..."
Puzzle `97-a27c5d4c` in `src/test/java/com/nerodesk/om/aws/package-info.java:37-38` has to be resolved: Replace all mocks provided by Mockito in this package by their relative Mk classes and fix all the affected tests.... The puzzle was created by Carlos A Becker on 27-Mar-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-04-01 17:38] karato commented on #144
#164 is closed, we were waiting for it.. maybe we can continue?

[2015-04-01 17:38] karato commented on #89
@longtimeago 7 days already, in 48 hours I will re-assign

added -30 to your rating, now it is equal to [+3726](http://www.netbout.com/b/35024?open=rating)

[2015-04-01 17:38] karato commented on #168
@ggajos this is your task

[2015-04-01 17:51] longtimeago commented on #89
@karato we are STILL waiting for the PR #140

[2015-04-01 17:53] krzyk commented on #137
@karato give me more time pls

[2015-04-01 18:00] krzyk commented on #101
PR #169

[2015-04-01 18:00] krzyk commented on #101
@karato we're waiting for #169

[2015-04-01 18:35] karato opened #170 "pom.xml:394-396: Line coverage is intentionally lowered..."
Puzzle `97-5fc80ca1` in `pom.xml:394-396` has to be resolved: Line coverage is intentionally lowered here, in order to get version 0.2 out of the door. Let's raise it back to 75.... The puzzle was created by Carlos Alexandro Becker on 28-Mar-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-04-01 19:43] yegor256 commented on #130
@karato we're waiting for #89 here

[2015-04-01 19:58] karato commented on #101
@krzyk sure, we'll wait for #169

[2015-04-01 19:58] karato commented on #137
@krzyk of course, thanks for letting me know, take your time

[2015-04-01 21:46] karato commented on #130
@yegor256 OK, let's wait for #89

[2015-04-01 21:54] karato commented on #134
@ggajos this is your task

[2015-04-01 21:54] karato commented on #138
@carlosmiranda do this task

[2015-04-01 21:54] karato commented on #156
@caarlos0 do this task

[2015-04-01 21:54] karato commented on #170
@ggajos do this task

[2015-04-01 23:13] karato commented on #129
@darkled this is your task

[2015-04-01 23:13] karato commented on #133
@carlosmiranda do this task

[2015-04-02 03:59] karato commented on #97
I am closing it, thanks all

[2015-04-02 03:59] #97 closed

[2015-04-02 04:02] karato commented on #97
@caarlos0 Thanks for your contribution, **38 mins** was added to your account, payment ID is `AP-6ND43509FG663582Y`, 56 hours and 1 min spent total; there is a bonus for fast delivery (age=2889); +38 to your rating, your total score is [+1399](http://www.netbout.com/b/35095?open=rating)

[2015-04-02 09:32] krzyk commented on #118
@yegor256 please check the new changes

[2015-04-02 17:42] yegor256 commented on #118
@krzyk thanks!

[2015-04-02 17:43] yegor256 commented on #118
@rultor release, tag is `0.3.1`

[2015-04-02 17:43] rultor commented on #118
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3057-88987057)

[2015-04-02 17:47] longtimeago commented on #145
we're waiting for jcabi/jcabi-s3#25 here

[2015-04-02 17:47] longtimeago commented on #145
@karato we're waiting for jcabi/jcabi-s3#25 here

[2015-04-02 17:52] karato commented on #94
@ggajos 7 days already, in 48 hours I will re-assign. -30 to your rating, your total score is [+3331](http://www.netbout.com/b/35094?open=rating)

[2015-04-02 17:57] rultor commented on #118
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3057-88987057) (took me 14min)

[2015-04-02 18:21] krzyk commented on #137
@ggajos PR #137

[2015-04-02 18:22] krzyk commented on #101
@yegor256 changes have been merged to master, please close this issue

[2015-04-02 18:33] yegor256 commented on #101
@krzyk thanks!

[2015-04-02 18:33] #101 closed

[2015-04-02 18:40] karato commented on #144
2 puzzles were created here: `144-72732c33`, `144-2c03eb06`

[2015-04-02 18:40] karato commented on #101
2 puzzles were created here: `101-c6cd25f6`, `101-20ebe58a`

[2015-04-02 19:02] k0r commented on #148
@yegor256 valid?

[2015-04-02 19:12] yegor256 commented on #148
@k0r yes, it's a valid problem, but is a duplicate of this "puzzle": https://github.com/teamed/nerodesk/blob/master/src/main/xsl/layout.xsl#L102 we'll resolve it soon

[2015-04-02 19:23] k0r commented on #153
@longtimeago reassign?

[2015-04-02 19:25] k0r commented on #148
@yegor256 thanks.

[2015-04-02 19:26] longtimeago commented on #153
@karato please assign someone else

[2015-04-02 19:28] ghost commented on #153
@karato let's assign @pinaf or @krzyk.

[2015-04-02 19:32] ghost commented on #118
@krzyk thanks.

[2015-04-02 19:37] krzyk commented on #118
@yegor256 please close :)

[2015-04-02 19:38] #118 closed

[2015-04-02 19:58] ghost commented on #94
@yegor256 can we close this ticket? file name field seems to have been removed with release tag 0.3.1.

[2015-04-02 20:06] karato commented on #148
I will find a developer for the task soon...

[2015-04-02 20:09] karato opened #172 "TkAddFriend.java:45-46: We now have a unit..."
Puzzle `144-72732c33` in `src/main/java/com/nerodesk/takes/doc/TkAddFriend.java:45-46` has to be resolved: We now have a unit test, but no integration test. Let's create one, to check how this document sharing works.... The puzzle was created by Carlos Miranda on 1-Apr-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-04-02 20:24] karato commented on #172
@pinaf do this task

[2015-04-02 20:24] ghost commented on #55
@yegor256 updated.

[2015-04-02 20:28] k0r commented on #100
@karato let's assign @krzyk, @darkled or @alevohin.

[2015-04-02 20:32] k0r commented on #110
@longtimeago thanks.

[2015-04-02 20:43] longtimeago commented on #110
@k0r you are welcome

[2015-04-02 20:53] yegor256 commented on #55
@k0r thanks

[2015-04-02 20:54] yegor256 commented on #94
@k0r right, it's fixed

[2015-04-02 20:55] ghost commented on #55
@yegor256 thanks.

[2015-04-02 21:39] karato commented on #94
@yegor256 please don't close the issue, ask @k0r to do this instead, since he is the author of it

[2015-04-02 21:41] karato commented on #153
@longtimeago I will ask somebody else to pick this up

[2015-04-02 21:42] karato opened #173 "TkAddFriendTest.java:52-56: We should add an assertion..."
Puzzle `144-2c03eb06` in `src/test/java/com/nerodesk/takes/doc/TkAddFriendTest.java:52-56` has to be resolved: We should add an assertion where we will check if the added friend is in fact present in doc.friends(). However, class MkFriends is not yet implemented, so it returns nothing. When it is implemented let's add that assertion to make this test more robust and comprehensive.... The puzzle wa

[2015-04-02 21:59] karato commented on #173
@pinaf do this task

[2015-04-02 22:29] #94 closed

[2015-04-02 22:50] k0r opened #174 "user interface not available in Portuguese"
Current version of README doesn't say anything about translating Nerodesk for our Brazilian users. This is a bug, since this feature is important and will improve usability of the system. Let's modify the README and document this feature. Then, let's implement it and test.

[2015-04-02 22:51] ghost commented on #174
@caarlos0 could you assist with translation?

[2015-04-02 22:59] karato opened #175 "layout.xsl:111-113: Create a page account.xsl that..."
Puzzle `118-7704c1dd` in `src/main/xsl/layout.xsl:111-113` has to be resolved: Create a page account.xsl that will display all of the transactions performed on the account and make the above balance a link to the account page.... The puzzle was created by krzyk on 31-Mar-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-04-02 23:16] karato commented on #175
@pinaf this is your task

[2015-04-03 01:04] karato opened #176 "TkDocs.java:95-97: User balance shouldn't be inside..."
Puzzle `118-67ac25b1` in `src/main/java/com/nerodesk/takes/TkDocs.java:95-97` has to be resolved: User balance shouldn't be inside docs page but in some kind of decorator of all the pages that are show to logged in users. Create such place and move user directive there.... The puzzle was created by krzyk on 31-Mar-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-04-03 01:15] karato commented on #176
@longtimeago do this task

[2015-04-03 01:59] karato opened #177 "AwsUser.java:73-76: Create AwsAccount (preferably using DynamoDB)..."
Puzzle `118-1a410e27` in `src/main/java/com/nerodesk/om/aws/AwsUser.java:73-76` has to be resolved: Create AwsAccount (preferably using DynamoDB) for permanent storage of account related information - current balance and a list of operations performed on the account. Replace dummy dummy implementation with newly created class.... The puzzle was created by krzyk on 29-Mar-2015.

If you have any tec

[2015-04-03 02:06] karato commented on #177
@longtimeago this is your task

[2015-04-03 04:58] krzyk commented on #137
@ggajos changes have been merged to master, please close this issue

[2015-04-03 06:51] ggajos commented on #137
@krzyk thank you

[2015-04-03 06:51] #137 closed

[2015-04-03 07:17] ggajos commented on #151
@karato please assign someone else, thank you

[2015-04-03 07:30] ggajos commented on #168
PR #178

[2015-04-03 07:34] ggajos commented on #134
@yegor256 could you please give me access to `Rultor` project so I could look how it's done in `com.rultor.web.App.fallback`?

[2015-04-03 09:32] ggajos commented on #170
@karato please assign someone else here, thanks

[2015-04-03 17:13] karato commented on #151
@ggajos right, I'll try to find someone else for this task

[2015-04-03 17:13] karato commented on #170
@ggajos I will ask somebody else to pick this up

[2015-04-03 17:32] karato commented on #95
FYI, issue #137 is already closed, and we were waiting for it..

[2015-04-03 17:47] yegor256 commented on #134
it's open source, see https://github.com/yegor256/rultor

[2015-04-03 17:54] pinaf commented on #172
@karato please assign someone else.

[2015-04-03 17:59] yegor256 commented on #145
@karato we need more time here

[2015-04-03 18:11] yegor256 opened #179 "MkDocTest fails"
[code]

This is what I'm doing:

[code]

[2015-04-03 19:05] karato commented on #145
@yegor256 no problem, thanks for letting me know

[2015-04-03 19:05] karato commented on #172
@pinaf all right, we'll find someone else for this task

[2015-04-03 19:05] karato commented on #179
@yegor256 got it, tag `bug` is here

[2015-04-03 19:14] karato commented on #144
Closing, thanks all

[2015-04-03 19:14] #144 closed

[2015-04-03 19:20] karato commented on #144
@carlosmiranda Much appreciated! **45 mins** was added to your account, payment ID `54692706`, time spent is 24 hours and 56 mins; age=1450, that's why a bonus here for fast delivery; +45 added to your rating, at the moment it is: [+5026](http://www.netbout.com/b/35023?open=rating)

[2015-04-03 19:30] ghost commented on #153
@yegor256 updated.

[2015-04-03 19:45] yegor256 commented on #153
@k0r looks better now, thanks

[2015-04-03 19:49] ghost commented on #153
@yegor256 logo has been updated at the source -- should be visible on the README.md soon.

[2015-04-03 19:58] caarlos0 commented on #174
@k0r Sure! How can I help?

[2015-04-03 20:07] ghost commented on #174
@caarlos0 @yegor256 is going to put together the first basic and market ready web design of nerodesk. once the site is up, we can reference this ticket so that you can translate the site into Portuguese and get compensated for helping us with translation.

[2015-04-03 20:19] caarlos0 commented on #174
@k0r no prob. just let me know when I can start working with it.

[2015-04-03 20:20] k0r commented on #174
@caarlos0 awesome, thanks.

[2015-04-03 20:32] karato commented on #101
@krzyk thanks, I just added **38 mins** to your account, payment `54694167`, 193 hours and 2 mins spent... the bonus for fast delivery (age=3199)... +38 to your rating, your total score is [+5570](http://www.netbout.com/b/35035?open=rating)

[2015-04-03 20:32] karato commented on #118
@krzyk done, I added **38 mins** in payment `54694225`, 69 hours and 19 mins spent to complete this

the bonus for fast delivery (age=2906)

+38 added to your rating, current score is: [+5608](http://www.netbout.com/b/35035?open=rating)

[2015-04-03 20:32] karato commented on #170
@carlosmiranda this is your task

[2015-04-03 20:35] karato commented on #179
@yegor256 thanks for reporting! I topped your account for 15 mins, transaction 000-709d8261

[2015-04-03 20:45] ghost commented on #179
similar to [#166](https://github.com/teamed/nerodesk/issues/166)

[2015-04-03 21:53] karato opened #180 "ThresholdInputStream.java:42-45: Create a tests for the..."
Puzzle `89-fd40dace` in `src/main/java/com/nerodesk/om/ThresholdInputStream.java:42-45` has to be resolved: Create a tests for the ThresholdInputStream class. We need to make sure that it's obey the InputStream contract and throws an exception when maximum read bytes limit is reached. Also please remove this class form cobertura excludes after that.... The puzzle was created by longtimeago on 29-M

[2015-04-03 21:54] caarlos0 commented on #179
+1

[2015-04-03 21:56] caarlos0 opened #182 "TkDocsTest fails"
[code]

[2015-04-03 22:07] karato commented on #89
@longtimeago task is too long, stop working with it. added -60 to your rating, now it is equal to [+3641](http://www.netbout.com/b/35024?open=rating)

[2015-04-03 22:07] karato commented on #94
@ggajos I just added **38 mins** to your account, many thanks for your contribution.. AP-11C4919338411623V spent here; age=3262, that's why a bonus here for fast delivery; +38 added to your rating, current score is: [+3387](http://www.netbout.com/b/35094?open=rating)

[2015-04-03 22:07] karato commented on #153
@krzyk this is your task

[2015-04-03 22:07] karato commented on #179
@ggajos this is your task

[2015-04-03 22:07] karato commented on #180
@ggajos this is your task

[2015-04-03 22:42] ghost commented on #153
@karato thanks.

[2015-04-04 00:19] karato commented on #13
last 2 puzzles `13-97594e76`/#31, `13-f1fbb1e7`/#30 originated from here were solved

[2015-04-04 00:37] karato commented on #151
@pinaf do this task

[2015-04-04 00:37] karato commented on #172
@carlosmiranda this is your task

[2015-04-04 01:30] karato commented on #89
@pinaf this is your task

[2015-04-04 01:44] pinaf commented on #89
@karato please assign someone else.

[2015-04-04 02:57] karato commented on #89
@pinaf right, I will find someone else, no problem

[2015-04-04 04:25] pinaf commented on #173
@karato please see PR #183

[2015-04-04 05:03] pinaf commented on #151
@karato please see PR #184

[2015-04-04 07:17] krzyk commented on #153
@k0r should I resize the logo or just use the one provided?

[2015-04-04 07:41] krzyk commented on #153
@k0r I've used 50% of the original logo (it looks nicer), see PR #186

[2015-04-04 08:44] longtimeago commented on #89
@yegor256 @k0r can we close the task now? It was done in #140 but @karato reassigned it :(

[2015-04-04 12:59] caarlos0 commented on #156
PR is opened #181

[2015-04-04 15:56] krzyk commented on #160
@alevohin I've created a bug for that in takes (yegor256/takes#126)

[2015-04-04 16:10] krzyk commented on #160
@alevohin created PR #187

[2015-04-04 18:13] ghost commented on #153
@krzyk thanks.

[2015-04-04 18:22] karato commented on #137
@krzyk I added **38 mins** to your account, many thanks for working with the project! The completion time here was 54710640.... the bonus for fast delivery (age=2931)... +38 added to your rating, at the moment it is: [+5724](http://www.netbout.com/b/35035?open=rating)

[2015-04-04 18:25] ghost commented on #89
@longtimeago tested again, received `'something went wrong! java.util.NoSuchElementException: there are no headers by name "Content-Type [...]"` -- less than 50% of the file uploaded each time.

[2015-04-04 18:43] ghost commented on #89
![upload bug](http://www.nerodesk.com/nd_upload_bug_1.jpg)

[2015-04-04 18:47] longtimeago commented on #89
@k0r it's known issue https://github.com/teamed/nerodesk/issues/133

[2015-04-04 18:56] k0r commented on #89
@longtimeago we should probably keep this discussion going until this is fixed. [#133](https://github.com/teamed/nerodesk/issues/133) will implement a 404 page for the error here.

[2015-04-04 20:04] longtimeago commented on #89
@karato let's wait for #133

[2015-04-04 21:51] karato commented on #89
@longtimeago yes, waiting for #133

[2015-04-04 23:10] yegor256 commented on #89
@karato assign @longtimeago back to this task pls

[2015-04-05 00:15] karato commented on #89
@yegor256 OK @longtimeago please go ahead, this task is yours

[2015-04-05 03:37] caarlos0 commented on #156
@karato done.

[2015-04-05 18:04] pinaf commented on #151
@k0r PR merged. please check and close if alright :)

[2015-04-05 18:18] k0r commented on #151
@pinaf current release tag 0.3.1 seems to only support single file uploads.

[2015-04-05 18:19] pinaf commented on #151
@k0r of course, the functionality can't be completed in a single issue. the puzzle I added will allow the feature to continue.

[2015-04-05 18:20] k0r commented on #151
@pinaf lets keep the discussion going until the implementation is live.

[2015-04-05 18:21] pinaf commented on #151
@k0r hmm not sure that's how PDD works...

[2015-04-05 18:26] k0r commented on #151
@pinaf let's see what @yegor256 says -- usually I keep the ticket open until the implementation is accessible.

[2015-04-05 18:37] k0r commented on #151
@pinaf thanks ;-]

[2015-04-05 19:24] longtimeago commented on #177
@karato please, assign someone else. Really have no time :(

[2015-04-05 19:24] longtimeago commented on #176
@karato please, assign someone else. Really have no time :(

[2015-04-05 19:52] yegor256 commented on #151
@pinaf it's a valid concern. each ticket should give some value to the user. it may not work as expected, but the user should get some increment in the functionality. in this puzzle you wrote some code that make sense to you, but has no value to the user. see http://www.yegor256.com/2015/02/12/top-down-design.html

[2015-04-05 19:58] yegor256 opened #188 "migrate to takes 0.12"
We're using version 0.11.2, which is old enough already. Let's migrate to 0.12, which removes `Takes` interface. Our code will become shorter and more solid.

[2015-04-05 20:02] ghost commented on #188
@yegor256 thanks.

[2015-04-05 20:23] yegor256 commented on #182
@caarlos0 I fixed it already in #188, let's wait for the pull request merge

[2015-04-05 20:23] #182 closed

[2015-04-05 21:14] karato commented on #176
@longtimeago someone else will help in this task, no problem at all

[2015-04-05 21:14] karato commented on #177
@longtimeago I will ask somebody else to pick this up

[2015-04-05 21:27] karato commented on #188
@yegor256 do this task, 30 mins is budget

[2015-04-05 21:28] karato commented on #188
@yegor256 thank you for the ticket reported, I topped your account for 15 mins, transaction `000-b793c2c5`

[2015-04-05 22:45] pinaf commented on #151
@k0r @yegor256 yeah I went bottom-up instead of top-down, sorry :(
 I guess I should have started from the upload page!

[2015-04-05 23:19] caarlos0 commented on #182
@yegor256 OK, thanks!

[2015-04-05 23:54] pinaf commented on #175
@karato please assign someone else.

[2015-04-05 23:55] pinaf opened #190 "user can't login with github"
Currently the only way to login is through Facebook.

Let's allow users to login using a Github account.

[2015-04-06 00:11] yegor256 commented on #151
@pinaf exactly

[2015-04-06 00:12] yegor256 commented on #188
PR #189

[2015-04-06 00:18] pinaf commented on #151
@yegor256 it is a bad habit - has to do with always thinking about the underlying structure first :) I'll keep it in mind next time.

[2015-04-06 00:24] k0r commented on #190
@yegor256 it's your call. if you can get this done quickly I'm ok with it.

[2015-04-06 00:28] yegor256 commented on #190
@pinaf @k0r it's a few lines of code... but if we add Github, would be logical to add other federated logins, like LinkedIn, Twitter, Google+, etc. It's not difficult at all, each of them is 10-15 lines of code

[2015-04-06 00:29] k0r commented on #190
@yegor256 let's implement other federated logins.

[2015-04-06 00:30] yegor256 opened #191 "sharing mechanism is not clear at the moment"
Our current implementation of file sharing mechanism is not clear for end users, and can't be clear. We're expecting a user to enter URN of a friend, in order to start sharing a file with that friend. But the user can't know this URN anyhow. Well, it can, but he/she has to be very professional computer user.

Here is my suggestion how to fix that. When a user wants to share a file, he/she enters a

[2015-04-06 00:31] k0r commented on #191
@yegor256 awesome, thanks. let's implement this.

[2015-04-06 00:32] yegor256 commented on #151
@pinaf yes, it's a matter of habit. We all have that. We like to code for ourselves first. We like programmers and hate users :) Try to change this mindset and start with satisfying a user first and then thinking about design/code/programming.

[2015-04-06 00:33] pinaf commented on #190
@yegor256 @k0r thanks!

[2015-04-06 00:58] k0r commented on #191
@yegor256 file sharing and commenting could look very similar to netbout, and/or we could share the links directly to the origins of the implemented federated logins.

[2015-04-06 01:00] k0r commented on #190
@pinaf @yegor thanks.

[2015-04-06 01:06] k0r commented on #191
@yegor256 public file sharing: twitter, fb, g+, and private file sharing by email that utilizes a framework similar to netbout for access, comments, etc.

[2015-04-06 01:15] k0r commented on #190
@yegor256 should we create separate tickets for each new login implementation?

[2015-04-06 01:48] yegor256 commented on #190
@k0r yes, one ticket per each system. Twitter, Linkedin and Google+ should be easy to implement

[2015-04-06 01:50] karato commented on #175
@pinaf all right, we'll find someone else for this task

[2015-04-06 01:52] karato commented on #151
once `151-6767899c` puzzle is resolved (later, in another ticket), this ticket will be fully complete

[2015-04-06 02:13] ghost opened #192 "user can't login with twitter"
Current version of README doesn't say anything about logging in with Twitter. This is a bug, since this feature is important and will improve usability of the system. Let's modify the README and document this feature. Then, let's implement it and test.

Also see discussion [#190](https://github.com/teamed/nerodesk/issues/190) and [#191](https://github.com/teamed/nerodesk/issues/191)

[2015-04-06 02:14] ghost opened #193 "manifest.mf requires oauth login additions"

[2015-04-06 02:14] k0r opened #194 "user can't login with Linkedin"
Current version of README doesn't say anything about logging in with Linkedin. This is a bug, since this feature is important and will improve usability of the system. Let's modify the README and document this feature. Then, let's implement it and test.

Also see discussion [#190](https://github.com/teamed/nerodesk/issues/190)

[2015-04-06 02:16] k0r commented on #190
@pinaf @yegor256 let's reformat this ticket.

[2015-04-06 02:17] pinaf commented on #190
@k0r is this good enough?

[2015-04-06 02:23] k0r commented on #190
@pinaf yeah. @yegor256 will edit the ticket if required.

[2015-04-06 03:39] yegor256 commented on #153
@rultor release, tag is `0.3.2`

[2015-04-06 03:40] rultor commented on #153
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3126-89907185)

[2015-04-06 03:47] rultor commented on #153
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3126-89907185) (spent 8min)

[code]

[2015-04-06 03:55] yegor256 commented on #153
@rultor release, tag is `0.3.2`

[2015-04-06 03:56] rultor commented on #153
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3126-89910529)

[2015-04-06 04:05] carlosmiranda commented on #133
@karato Please assign someone else, too busy at the moment (came from vacation and catching up with pending work).

[2015-04-06 04:09] rultor commented on #153
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3126-89910529) (took me 13min)

[2015-04-06 05:31] ghost commented on #153
@krzyk thanks.

[2015-04-06 05:31] #153 closed

[2015-04-06 06:19] yegor256 opened #195 "current layout is not market ready"
Current layout is not ready for the market since it looks too technical and un-finished. Let's fix that with CSS tweaking.

[2015-04-06 06:32] yegor256 commented on #195
waiting for #188 to finish

[2015-04-06 06:40] alevohin commented on #95
@carlosmiranda PR #185 was merged.

`MkDoc.write` didn't close FileInputStream so MkDoc.delete couldn't delete temp file. Method `File.delete` returned false, but it was ignored. Test `TkDeleteTest` failed (problem was reproduced in Windows and OSX, for Windows - constantly). Fixed - properly closing FileInputStream.

Please check and close issue.

[2015-04-06 08:39] krzyk commented on #160
@alevohin I've added a test case for this (and a todo to upgrade takes when it is fixed there), please close this issue

[2015-04-06 08:55] alevohin commented on #160
@krzyk Thank you!

[2015-04-06 08:55] #160 closed

[2015-04-06 10:22] carlosmiranda commented on #95
@alevohin Very good, thanks! Closing...

[2015-04-06 10:22] #95 closed

[2015-04-06 14:04] krzyk commented on #154
@karato PR #196

[2015-04-06 17:04] k0r opened #197 "File Info Error"
![file info bug](http://www.nerodesk.com/nd_file_info_bug.jpg)

[2015-04-06 17:06] ghost commented on #195
@yegor256 thanks.

[2015-04-06 17:16] k0r commented on #190
@yegor256 let's prioritize these tickets.

[2015-04-06 18:24] karato commented on #133
@carlosmiranda got it, someone else will be assigned soon

[2015-04-06 18:33] karato commented on #195
@yegor256 do this task, 30 mins is budget

[2015-04-06 18:34] karato commented on #195
@yegor256 thanks a lot for reporting, **15 mins** added to your acc, pmt ID `000-780b5c52`

[2015-04-06 18:37] k0r commented on #191
@yegor256 I would like to be involved with this process.

[2015-04-06 18:37] ghost commented on #195
@yegor256 I would like to be involved with this process.

[2015-04-06 18:38] ghost commented on #197
@yegor256 valid?

[2015-04-06 18:39] ghost commented on #133
@yegor256 let's prioritize this ticket.

[2015-04-06 18:40] yegor256 commented on #197
yes, but we already have a puzzle for this problem: https://github.com/teamed/nerodesk/blob/master/src/main/java/com/nerodesk/om/aws/AwsDoc.java#L52-L55 We'll convert it to a ticket soon and resolve. Thanks for reporting anyway!

[2015-04-06 18:40] #197 closed

[2015-04-06 19:14] yegor256 commented on #188
done

[2015-04-06 19:14] #188 closed

[2015-04-06 19:14] yegor256 commented on #188
@rultor release, tag is `0.3.3`

[2015-04-06 19:16] rultor commented on #188
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3158-90203392)

[2015-04-06 19:29] karato opened #198 "TkWrite.java:47-49: This class should work with..."
Puzzle `151-6767899c` in `src/main/java/com/nerodesk/takes/doc/TkWrite.java:47-49` has to be resolved: This class should work with a batch of documents, not just with a single document. Use the new interface Batch in place of the current Doc interface.... The puzzle was created by Felipe Pina on 4-Apr-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-04-06 19:33] rultor commented on #188
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3158-90203392) (took me 16min)

[2015-04-06 19:49] karato commented on #133
@pinaf this is your task

[2015-04-06 19:49] karato commented on #198
@krzyk this is your task

[2015-04-06 21:06] karato commented on #160
there is a puzzle in this code `160-88061572`, we'll resolve it later

[2015-04-06 21:42] #194 closed

[2015-04-06 22:01] k0r commented on #190
@yegor256 I have the following accounts for nerodesk: fb, twitter, and g+. I'll give you the passwords so that you can setup the apps and get the codes required.

[2015-04-07 00:24] caarlos0 commented on #156
@karato it's done.

[2015-04-07 01:18] carlosmiranda opened #199 "AwsDocsTest.listsDocs() fails on Windows machines"
Maven output:

[code]

I think this is a pretty straightforward fix; let's just normalize the file/path names before we check against them.

[2015-04-07 01:19] carlosmiranda commented on #138
@karato please assign someone else, I'm currently swamped.

[2015-04-07 01:23] carlosmiranda commented on #172
@karato please assign someone else

[2015-04-07 01:37] carlosmiranda commented on #170
@karato waiting for #200 now.

[2015-04-07 02:29] karato commented on #156
@caarlos0 I just added **38 mins** to your account, many thanks for your contribution.. AP-25M93767F0367272P spent here

age=2888, that's why a bonus here for fast delivery

+38 added to your rating, current score is: [+1471](http://www.netbout.com/b/35095?open=rating)

[2015-04-07 02:35] ghost commented on #156
@caarlos0 thanks.

[2015-04-07 02:46] pinaf commented on #133
@k0r @yegor256 this is what I see when accessing http://beta.nerodesk.com/w
Shall I redirect to home page?

[2015-04-07 02:48] ghost commented on #133
@pinaf let's redirect to a 404.

[2015-04-07 02:54] ghost commented on #133
@pinaf updated response.

[2015-04-07 02:56] pinaf commented on #133
@k0r am I correct in assuming that there is no 404/page not found page yet anywhere in the system?

[2015-04-07 02:57] ghost commented on #197
@yegor256 let's keep this ticket open and valid until this is resolved.

[2015-04-07 02:57] pinaf commented on #152
@k0r fixed. please close if alright.

[2015-04-07 02:58] ghost commented on #133
@pinaf yeah, this hasn't been implemented yet.

[2015-04-07 03:03] ghost commented on #152
@yegor256 release tag 0.3.4.

[2015-04-07 03:08] yegor256 commented on #152
@rultor release, tag is `0.3.4`

[2015-04-07 03:09] rultor commented on #152
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3167-90331944)

[2015-04-07 03:24] karato commented on #138
@carlosmiranda OK, I will try to assign someone else

[2015-04-07 03:24] karato commented on #170
@carlosmiranda ok, let's wait for #200

[2015-04-07 03:24] karato commented on #172
@carlosmiranda I will assign somebody else to this issue

[2015-04-07 03:26] rultor commented on #152
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3167-90331944) (took me 16min)

[2015-04-07 03:27] ghost commented on #152
@pinaf @yegor256 thanks. if anyone wants to test this: urn:facebook:1407702746210788

[2015-04-07 03:32] k0r commented on #152
@pinaf @yegor256 eject is fixed but logging in and logging out isn't functioning.

[2015-04-07 03:38] k0r opened #201 "user can't login or logout"
unless the credentials switched accounts, release tag 0.3.4 breaks login and logout.

[2015-04-07 03:44] ghost commented on #201
@yegor256 let's prioritize this ticket.

[2015-04-07 03:53] #152 closed

[2015-04-07 04:00] yegor256 commented on #201
@k0r it's a bug in takes: https://github.com/yegor256/takes/issues/144 I'll fix it now

[2015-04-07 04:05] ghost commented on #201
@yegor256 thanks.

[2015-04-07 04:08] pinaf commented on #133
@karato please see PR #202

[2015-04-07 04:25] pinaf commented on #173
@karato merged

[2015-04-07 04:29] yegor256 commented on #201
@rultor release, tag is `0.3.5`

[2015-04-07 04:29] rultor commented on #201
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3171-90354876)

[2015-04-07 04:40] rultor commented on #201
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3171-90354876) (took me 11min)

[2015-04-07 04:41] ghost commented on #201
@yegor256 it's fixed.

[2015-04-07 04:41] ghost commented on #201
@yegor256 thanks.

[2015-04-07 04:41] #201 closed

[2015-04-07 06:50] ggajos commented on #150
@karato we might need more time here

[2015-04-07 06:59] krzyk commented on #154
@karato we are waiting for #196

[2015-04-07 07:14] ggajos commented on #168
@karato we might need more time here

[2015-04-07 07:15] ggajos commented on #134
@yegor256 thanks, that was obvious

[2015-04-07 07:15] ggajos commented on #134
@karato we might need more time here

[2015-04-07 08:13] ggajos commented on #134
sorry I have no idea how to approach this

[2015-04-07 08:13] ggajos commented on #134
@karato please assign someone else here

[2015-04-07 08:40] ggajos commented on #179
PR #203

[2015-04-07 08:49] ggajos commented on #180
PR #204

[2015-04-07 16:20] ghost commented on #180
@ggajos thanks.

[2015-04-07 16:21] ghost commented on #179
@ggajos thanks.

[2015-04-07 19:55] karato commented on #134
@ggajos all right, we'll find someone else for this task

[2015-04-07 19:55] karato commented on #154
@krzyk sure, let's wait for #196

[2015-04-07 19:55] karato commented on #150
@ggajos OK, take your time

[2015-04-07 19:55] karato commented on #168
@ggajos right, take your time and thanks for informing

[2015-04-07 19:57] karato opened #205 "Indie tech review no.1"
Review our existing source code and all other technical artifacts and report at least 8 bugs. More about such reviews you can read [here](http://www.yegor256.com/2014/12/18/independent-technical-reviews.html). The task will be closed once we have that bugs reported and classified. Don't forget to add `indie` tag to each of them.

[2015-04-07 20:10] #156 closed

[2015-04-07 20:10] karato commented on #156
Closing, thanks all

[2015-04-07 20:18] karato commented on #170
Issue #200 is already closed (we were waiting for it) Maybe we can continue..

[2015-04-07 20:18] karato commented on #95
@alevohin **38 mins** was added to your account, many thanks for your contribution! The task took 55000170.... there is a bonus for fast delivery (age=2949)... +38 added to your rating, current score is: [+2168](http://www.netbout.com/b/35105?open=rating)

[2015-04-07 20:18] karato commented on #153
@krzyk I just added **38 mins** to your account, many thanks for your contribution.. 55000173 spent here; there is a bonus for fast delivery (age=2920); +38 added to your rating, at the moment it is: [+5806](http://www.netbout.com/b/35035?open=rating)

[2015-04-07 20:18] karato commented on #160
@krzyk Much obliged! I have added **38 mins** to your account in payment "55000182", 160 hours and 3 mins spent

there is a bonus for fast delivery (age=2922)

+38 added to your rating, current score is: [+5844](http://www.netbout.com/b/35035?open=rating)

[2015-04-07 21:49] karato opened #206 "0.3"
Please, publish a new release **0.3** (or higher)

[2015-04-07 22:00] karato commented on #134
@pinaf do this task

[2015-04-07 22:00] karato commented on #172
@longtimeago this is your task

[2015-04-07 22:00] karato commented on #175
@carlosmiranda this is your task

[2015-04-07 22:00] karato commented on #188
@yegor256 thanks, I just added **1 hour** to your account, payment `000-2192e899`, 22 hours and 10 mins spent

age=9, that's why a bonus here for fast delivery

+60 to your rating, your total score is [+9226](http://www.netbout.com/b/35008?open=rating)